{% extends "page.html.twig" %}
{% block main %}
  <div role="main" class="main-container js-quickedit-main-content">
    <div>
      {% block main_container %}
        {{ parent() }}
      {% endblock %}
    </div>
  </div>
{% endblock %}
