{%
set classes = [
'iucn-site-wrapper',
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{ content.title }}</h4>
      <div class="panel-title-terms">{{ content.terms }}</div>
    </div>
    <div class="panel-body">
      {{ content.description }}
    </div>
  </div>
</div>
