{% if content %}
    <div{{ attributes.addClass(['container','pdf-download-button']) }}>
            <a href="{{ content.field_link.0['#title'] }}" target="_blank">
                <div class="field--name-field-pdf-button-title">{{ content.field_title.0['#context'].value }}</div>
                {{ content.field_subtitle.0['#context'].value }}
            </a>
    </div>
{% endif %}