{%
set classes = [
'iucn-news-teaser-wrapper',
]
%}

<div{{ attributes.addClass(classes) }}>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ content.content }}
            </div>
            <div class="col-md-4">
                {{ content.right_1 }}
            </div>
        </div>
    </div>
</div>

