{%
set classes = [
'iucn-news-teaser-wrapper',
]
%}

<div{{ attributes.addClass(classes) }}>
    <div class="container-fluid">
        <div class="row" style="padding-bottom: 1em;">
            <div class="col-md-4">
                {{ content.left_1 }}
            </div>
            <div class="col-md-8">
                {{ content.content }}
            </div>
        </div>
    </div>
</div>

