{%
    set classes = [
    'iucn-who-decision-tree-wrapper',
]
%}
<div class="iucn-who-decision-tree-group">
  <div{{ attributes.addClass(classes) }}>
       {{ content }}
  </div>
  {{ decision_tree_holder }}
</div>
