@map-footer-height: 115 * @rem-multiplier--desktop;
@map-scrolldown-height: 60 * @rem-multiplier--desktop;

// if logged in as admin
// @media @grid-desktop {
//   .path-frontpage.toolbar-vertical #block-homepagemap {
//     .col-left {
//       min-height: ~'calc(100vh - @{navbar-height} - @{map-footer-height} - 39px + (@{map-scrolldown-height} * 5 / 4))';
//     }
//   }
// }
@map-sidebar-height-offset: (@navbar-height + (@map-scrolldown-height * 3 / 4));
.path-frontpage {
  @media @grid-mobile {
    .region-content {
      display: flex;
      flex-flow: column;
      #block-globaloutlookstatistics {
        order: -1;
      }
    }
  }
  #block-homepagemap {
    .map-container {
      position: static !important;
      height: 100% !important;
    }
    @media @grid-desktop {
      .row.map-block-main {
        display: flex;
        height: 100vh;
        margin-bottom: -@map-sidebar-height-offset;
        padding-bottom: @map-sidebar-height-offset;
      }
      .col-left {
        box-shadow: 8px 0 10px -9px fade(#000, 30%);
        font-size: 15 / unit(@font-size-base) * 1em;
        // height: ~'calc(100vh - @{map-sidebar-height})';
        line-height: 1.2;
        max-width: 300px;
        overflow: auto;
        z-index: 1;
      }
      .col-right {
        position: relative;
        overflow: hidden;
        flex: 1;
      }
      .map-block-footer {
        .background-variant(@iucn-blue-dark, #fff);
        align-items: center;
        // display: flex;
        // flex-direction: column;
        .remify(font-size, 37px);
        // justify-content: center;
        min-height: @map-footer-height;
        position: relative;
        text-align: center;
        z-index: 1;
        box-shadow: 0 -1px 8px -2px fade(#000, 30%);
        .block-footer-text {
          margin-top: .2em;
        }
        .scroll-down {
          background-color: #fff;
          .svg-icon(scroll-down-caret);
          background-position: center 65%;
          background-size: 66%;
          border-radius: 50%;
          display: block;
          height: @map-scrolldown-height;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          width: @map-scrolldown-height;
          box-shadow: 0 -1px 8px -2px fade(#000, 30%);
        }
        #scroll-down-target {
          height: (@map-scrolldown-height * 3 / 4);
        }
      }
    }
    @media @grid-mobile {
      .row.map-block-main {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100vh;
        margin-bottom: (-@navbar-height--mobile - 50px);
        padding-bottom: (@navbar-height--mobile + 50px);
        // min-height: 320px;
        @media (orientation: portrait) {
          margin-bottom: (-@navbar-height--mobile - 50px - 12 * @font-size-base--mobile);
          padding-bottom: (@navbar-height--mobile + 50px + 12 * @font-size-base--mobile);
          @media (min-width: 373px) {
            margin-bottom: (-@navbar-height--mobile - 50px - 10 * @font-size-base--mobile);
            padding-bottom: (@navbar-height--mobile + 50px + 10 * @font-size-base--mobile);
          }
          @media (min-width: 734px) {
            margin-bottom: (-@navbar-height--mobile - 50px - 8 * @font-size-base--mobile);
            padding-bottom: (@navbar-height--mobile + 50px + 8 * @font-size-base--mobile);
          }
        }
      }
      .col-left,
      .col-left > .row {
        position: static;
      }
      #map-site-search {
        position: absolute;
        top: 0;
        z-index: 1;
        left: 0;
        right: 0;
      }
      .col-right {
        flex: 1;
        margin-top: 42px; // search block height
        order: -1;
        overflow: hidden;
      }
      .scroll-down {
        background-color: @iucn-blue-dark;
        .svg-icon(scroll-down-caret-white);
        background-position: center 5px;
        background-size: contain;
        display: block;
        height: 50px;
        width: 100%;
        box-shadow: 0 -1px 8px -2px fade(#000, 30%);
      }
      .map-block-footer {
        font-size: 0;
        position: relative;
      }
    }
  }

  #map-site-search,
  #map-filters,
  #map-site-details {
    .clearfix();
  }
  #map-site-search {
    .background-variant(@iucn-blue-dark, #fff);
    padding: .7em 1em;
    form {
      .clearfix();
    }
    .form-submit {
      display: none;
    }
    .form-group {
      margin-bottom: 12 / 15 * 1em;
    }
    a[href*="/sites-search"] {
      float: right;
      font-weight: 300;
      font-size: 14 / 15 * 1em;
      @media @grid-mobile {
        display: none;
      }
    }
    .form-type-select > label {
      font-size: 18 / 15 * 1em;
      &:before {
        content: '';
        .svg-icon(explore);
        background-position: center;
        background-size: contain;
        height: @line-height-base * 1em;
        width: 1em;
        display: inline-block;
        margin-right: .5em;
        @media @grid-desktop {
          position: relative;
          top: 3px;
        }
      }
    }
    @media @grid-mobile {
      padding: 5px;
      .form-type-select {
        display: flex;
        &.form-group {
          margin-bottom: 0;
        }
        > label {
          font-size: 0;
          margin-bottom: 0;
          &:before {
            .svg-icon(explore-black);
            background-position: center;
            background-size: 50%;
            width: 28px;
            height: 32px;
            background-color: @input-bg;
            border: 1px solid @input-border;
            border-right: 0;
          }
        }
        > .select-wrapper {
          flex: 1;
          max-width: calc(~'100% - 2em');
        }
      }
    }
  }
  #map-filters {
    padding: 1em;
    position: relative;
    h3 {
      color: @iucn-blue-dark;
      font-size: 1.1em;
      margin-top: 0;
    }
    a[data-filter="all"] {
      color: @iucn-blue-light;
      float: right;
    }
    ul {
      line-height: 22 / 15;
      list-style-type: none;
      margin-left: -1em;
      margin-right: -1em;
    }
    li {
      padding-left: 1em;
    }
    li.active {
      background-color: @iucn-gray-lightest;
      // @todo: checkbox mixin
      &:before {
        content: '';
        background-color: @iucn-blue-light;
        .svg-icon(checkbox);
        background-position: center;
        background-size: auto 60%;
        display: block;
        height: 1em * @line-height-base;
        overflow: hidden;
        position: absolute;
        // right: calc(~'100% - .5em');
        left: 0;
        text-indent: 999px;
        width: 1.5em;
      }
      .loop-conservation-ratings({
        &.@{conservation-rating-class}:before {
          background-color: @conservation-rating-color;
        }
      });
    }

    // Links and disk colours
    li > a {
      background-size: 1em * @line-height-base;
      background-repeat: no-repeat;
      display: block;
      // padding-left: 1.5em;
      cursor: pointer;
      .loop-conservation-ratings({
        &.@{conservation-rating-class} {
          // background-image: url('/modules/iucn/iucn_who_homepage/images/marker-@{conservation-rating-class}.png');
          color: @conservation-rating-color;
          &:before {
            background-color: @conservation-rating-color;
            border: 1px solid @conservation-rating-color;
            border-radius: 50%;
            content: '';
            display: inline-block;
            height: .8em;
            margin-right: .5em;
            width: .8em;
          }
        }
      });
      &.data-deficient:before {
        background-color: #fff;
      }
      @media @sm-only {
        padding-left: 0;
      }
    }
    @media @grid-mobile {
      display: none;
    }
  }
  #map-site-details {
    // margin-top: -1px;
    @media @grid-mobile {
      box-shadow: 0 -1px 8px -2px fade(#000, 30%);
      position: relative;
      z-index: 1;
    }
    .site-selection-placeholder {
      color: #a6a7a7;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 auto;
      margin-bottom: 4em;
      margin-top: 4em;
      .remify(height, 245px);
      padding-left: 1.5em;
      padding-right: 1.5em;
      text-align: center;
      width: 80%;
      &:before, &:after {
        border: 1px solid @iucn-gray-lighter;
        content: '';
        display: block;
        height: 1.5em;
        width: 100%;
      }
      &:before {
        border-bottom: none;
      }
      &:after {
        border-top: none;
      }
      img {
        // height: @line-height-base * 1em;
        display: block;
        margin: 0 auto;
        width: 70 / 15 * 1em;
      }
      @media @grid-mobile {
        display: none;
      }
    }
    .map-site-detail {
      position: relative;
      // padding-top: 1px; // prevent margin collapse
      .clearfix();
      > div,
      > dl {
        padding-left: 15px;
      }
      > div,
      > dl,
      > .more {
        padding-right: 15px;
      }
      .status {
        background-color: #fff;
        font-size: 1em;
        font-weight: 300;
        left: 0;
        max-width: calc(~'100% - 2em');
        min-height: 2em;
        padding: .2em 15px;
        position: absolute;
        top: 0; // compensate for 1px padding-top
        // @todo: remove unnecessary conservation rating classes
        .loop-conservation-ratings({
          &.@{conservation-rating-class} {
            background-color: @conservation-rating-color;
            color: #fff;
          }
        });
        @media @grid-desktop {
          + .title {
            margin-top: 3em;
          }
        }
        @media @grid-mobile {
          top: auto;
          bottom: 0;
          padding: .3em 1.5em;
        }
      }
      .title {
        border-left: .4em solid;
        color: @iucn-blue-dark;
        font-size: 1em;
        margin-bottom: .7em;
        margin-top: .7em;
        padding-bottom: .4em;
        padding-left: calc(~'15px - .4em');
        padding-right: .5em;
        padding-top: .4em;
        .loop-conservation-ratings({
          &.@{conservation-rating-class} {
            color: @conservation-rating-color;
          }
        });
        @media @grid-mobile {
          padding-right: 2em;
        }
      }
      .country {
        color: #787878;
        // font-weight: 300;
        font-size: 11 / 15 * 1em;
        text-transform: uppercase;

      }
      dl {
        color: #666666;
        float: left;
        font-size: .85em;
        margin-top: .5em;
        margin-bottom: .5em;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        @media @grid-mobile {
          display: none;
        }
      }
      dt {
        clear: both;
        float: left;
        padding-bottom: .5em;
        padding-left: 1.5em;
        padding-top: .5em;
        width: 50%;
        .loop-conservation-categories({
          &.@{conservation-category-class} {
            position: relative;
            &:before {
              .svg-icon(~'@{conservation-category-class}-white');
              background-position: center;
              background-size: contain;
              content: '';
              display: block;
              height: 100%;
              margin-top: -.5em;
              position: absolute;
              left: 0;
              // right: 100%;
              // top: 0;
              width: 1.3em;
              margin-right: .5em;
            }
          }
        });
        &.values:before {
          .svg-icon(values);
          background-position: center;
          background-size: contain;
        }
        &.threats:before {
          .svg-icon(threats);
          background-position: center;
          background-size: contain;
        }
        &.management:before {
          .svg-icon(management);
          background-position: center;
          background-size: contain;
          width: 1.4em;
        }
      }
      dd {
        padding-bottom: .5em;
        padding-top: .5em;
        position: relative;
        font-weight: 300;
        &:before {
          border-top: 1px solid @iucn-gray-lighter;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      .more {
        float: right;
        color: @iucn-blue-light;
        padding-top: .5em;
        padding-bottom: .5em;
        &:after {
          .svg-icon(icon-arrow);
          background-position: center;
          background-size: contain;
          content: '';
          display: inline-block;
          height: 1em;
          margin-left: .5em;
          vertical-align: middle;
          width: 2em;
        }
      }
      .close {
        .btn-primary();
        display: block;
        font-size: 1em;
        font-weight: 300;
        height: 2em;
        width: 2em;
        opacity: 1;
        padding: .4em .8em;
        position: absolute;
        right: 0;
        top: 0; // compensate for 1px padding-top
      }
      img {
        &:extend(.img-responsive);
        width: 100%;
        // .remify(height, 140px);
        // object-fit: cover;
        @media @grid-mobile {
          display: none;
        }
      }
      .inscription {
        margin-top: .6em;
        strong {
          font-weight: inherit;
        }
      }
    }
  }
  #block-globaloutlookstatistics {
    text-align: center;
    .block-title {
      color: @iucn-blue-dark;
      .remify(font-size, 36px);
      font-weight: 500;
    }
    // Links and disk colours
    .loop-conservation-ratings({
      dt.@{conservation-rating-class} {
         color: @conservation-rating-color;
      }
      .bg-@{conservation-rating-class} {
        background-color: @conservation-rating-color;
        &:after {
          border-top-color: @conservation-rating-color;
        }
      }
    });

    dl { display: block; margin: 5em auto 0; padding: 0; padding-right: 1.5em; overflow: hidden; }
    dt, dd {
      float: left;
      width: 50%;
      margin-bottom: .3em;
      @media @grid-mobile {
        width: calc(~'100% - 8em');
      }
    }
    dt {
      clear: both;
      font-weight: 400;
      margin-right: 1em;
      text-align: right;
      width: calc(~'50% - 1em');
      @media @grid-mobile {
        font-size: .8em;
        line-height: @line-height-base * @font-size-base--mobile;
        width: 8em - 1em;
        &.significant-concern,
        &.good-concerns {
          line-height: 1;
        }
      }
    }
    dd { color: white; font-weight: bold; }
    dd>div {
      // box-sizing: initial;
      line-height: 1.5em;
      min-height: 1.5em;
      min-width: 3em;
      padding: 0 1em;
      position: relative;
      text-align: center;
      &:after {
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-style: solid;
        border-width: 1.5em 1.5em 0 0;
        content: '';
        display: inline-block;
        height: 0;
        left: 100%;
        position: absolute;
        top: 0;
        width: 0;
      }
    }

  }
  .pdf-download-button {
    text-align: center;
    margin-top: 3em;
    a {
      .btn-info();
      display: inline-block;
      text-align: left;
      width: auto;
      font-size: 22px;
      padding: .5em 1.5em;
      position: relative;
      line-height: 1.2;
      padding-left: 5em;
      font-weight: 300;
      @media @grid-mobile {
        font-size: 21px;
        line-height: 1.1;
        padding-left: 3em;
      }
      div.field--name-field-pdf-button-title {
        font-size: 15px;
        @media @grid-mobile {
          font-size: 13px;
        }
      }
      .glyphicon {
        .svg-icon(download-report);
        background-position: center;
        background-size: 50% auto;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 4em;
        @media @grid-mobile {
          width: 2.5em;
        }
        &:before {
          display: none;
        }
        &:after {
          border-right: 1px solid;
          content: '';
          display: block;
          height: 80%;
          position: absolute;
          right: 0;
          top: 10%;
        }
      }
    }
    @media @grid-mobile {
      order: -1;
    }
  }
}

.explore-map-button {
  text-align: center;
  margin-top: 3em;
  a {
    .btn-info();
    display: inline-block;
    text-align: left;
    width: auto;
    font-size: 22px;
    padding: 0.5em 1.5em 0.5em 4.5em;
    position: relative;
    line-height: 1.2;
    font-weight: 300;
    @media @grid-mobile {
      font-size: 21px;
      line-height: 1.1;
      padding-left: 3em;
    }
    div.field--name-field-pdf-button-title {
      font-size: 15px;
      @media @grid-mobile {
        font-size: 13px;
      }
    }
    .glyphicon {
      .svg-icon(explore);
      background-position: center;
      background-size: 32% auto;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 3.5em;
      @media @grid-mobile {
        width: 2.5em;
      }
      &:before {
        display: none;
      }
      &:after {
        border-right: 1px solid;
        content: '';
        display: block;
        height: 80%;
        position: absolute;
        right: 0;
        top: 10%;
      }
    }
  }
  @media @grid-mobile {
    order: -1;
  }
}
