.path-frontpage {

  #map-filters {
    ul { list-style-type: none; }
    li.active { background-color: @iucn-gray; }

    // Links and disk colours
    li a.good {
      background: url('/modules/iucn/iucn_who_homepage/images/marker-good.png') no-repeat;
      background-size: 10px 10px;
      background-position-y: 3px;
      padding-left: 20px;
      width: 10px;
      height: 10px;
      color: @iucn-green;
    }

    li a.good-concerns {
      background: url('/modules/iucn/iucn_who_homepage/images/marker-good-concerns.png') no-repeat;
      background-size: 10px 10px;
      background-position-y: 3px;
      padding-left: 20px;
      width: 10px;
      height: 10px;
      color: @iucn-green-lighter;
    }

    li a.significant-concern {
      background: url('/modules/iucn/iucn_who_homepage/images/marker-significant-concern.png') no-repeat;
      background-size: 10px 10px;
      background-position-y: 3px;
      padding-left: 20px;
      width: 10px;
      height: 10px;
      color: @iucn-orange;
    }

    li a.critical {
      background: url('/modules/iucn/iucn_who_homepage/images/marker-critical.png') no-repeat;
      background-size: 10px 10px;
      background-position-y: 3px;
      padding-left: 20px;
      width: 10px;
      height: 10px;
      color: @iucn-red;
    }

    li a.data-deficient {
      background: url('/modules/iucn/iucn_who_homepage/images/marker-data-deficient.png') no-repeat;
      background-size: 10px 10px;
      background-position-y: 3px;
      padding-left: 20px;
      width: 10px;
      height: 10px;
      color: @iucn-gray-lighter;
    }

    li a.coming-soon {
      background: url('/modules/iucn/iucn_who_homepage/images/marker-coming-soon.png') no-repeat;
      background-size: 10px 10px;
      background-position-y: 3px;
      padding-left: 20px;
      width: 10px;
      height: 10px;
      color: @iucn-gray;
    }
  }
}