// Media queries
@mobile-only: ~'screen and (max-width: @{screen-xs-max})';
@tablet-only: ~'screen and (max-width: @{grid-float-breakpoint-max})';
@desktop-only: ~'screen and (min-width: @{grid-float-breakpoint})';

@grid-mobile: ~'screen and (max-width: @{grid-float-breakpoint-max})';
@grid-desktop: ~'screen and (min-width: @{grid-float-breakpoint})';

@xs-only:         ~"screen and (max-width: 479px)";
// @ms-only:         ~"screen and (min-width: @{screen-ms-min}) and (max-width: @{screen-ms-max})";
@sm-only:         ~"screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@md-only:         ~"screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@lg-only:         ~"screen and (min-width: @{screen-lg-min})";

// Bootstrap mixin overrides
.label-variant(@color) {
  color: #fff;
}
