// Media queries
@grid-mobile: ~'screen and (max-width: @{grid-float-breakpoint-max})';
@grid-desktop: ~'screen and (min-width: @{grid-float-breakpoint})';

@design-mobile: ~'screen and (max-width: @{design-breakpoint-max--mobile})';
@design-desktop: ~'screen and (min-width: @{design-breakpoint--desktop})';

@xs-only:         ~"screen and (max-width: 479px)";
// @ms-only:         ~"screen and (min-width: @{screen-ms-min}) and (max-width: @{screen-ms-max})";
@sm-only:         ~"screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@md-only:         ~"screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@lg-only:         ~"screen and (min-width: @{screen-lg-min})";

// Bootstrap mixin overrides
.label-variant(@color) {
  color: #fff;
}

.background-variant(@bg, @color) {
  background-color: @bg;
  color: @color;
  a:not([class*='chosen']) {
    color: @color;
    &:hover, &:focus, &:active {
      color: @link-hover-color;
    }
  }
}


// Generate conservation rating styling
@conservation-ratings-list: 'good', 'good-concerns', 'significant-concern', 'critical', 'data-deficient', 'coming-soon';
@conservation-ratings-color-list: @iucn-green, @iucn-green-lighter, @iucn-orange, @iucn-red, #333333, @iucn-gray;

.loop-conservation-ratings(@rules, @index: length(@conservation-ratings-list)) when (@index > 0) {
  @conservation-rating-class: e(extract(@conservation-ratings-list, @index));
  @conservation-rating-color: e(extract(@conservation-ratings-color-list, @index));
  @rules();

  // next iteration
  .loop-conservation-ratings(@rules, (@index - 1));
}
