#download-publication-button {
  //text-align: center;
  margin-top: 1em;
  a {
    .btn-info();
    display: inline-block;
    text-align: left;
    width: auto;
    font-size: 22px;
    padding: .5em 1.5em;
    position: relative;
    line-height: 1.2;
    padding-left: 5em;
    font-weight: 300;
    @media @grid-mobile {
      font-size: 21px;
      line-height: 1.1;
      padding-left: 3em;
    }
    div {
      font-size: 15px;
      @media @grid-mobile {
        font-size: 13px;
      }
    }
    .glyphicon {
      background-image: url(~'@{images-path}download-report.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50% auto;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 4em;
      @media @grid-mobile {
        width: 2.5em;
      }
      &:before {
        display: none;
      }
      &:after {
        border-right: 1px solid;
        content: '';
        display: block;
        height: 80%;
        position: absolute;
        right: 0;
        top: 10%;
      }
    }
  }
  @media @grid-mobile {
    order: -1;
  }
}

.publication-content {
  padding-bottom: 1em;
}

.publication-year {
  color: @iucn-gray-light;
}

.publication-title {
  color: @iucn-blue-dark;
  font-size: 36 * @rem-multiplier--desktop;
  font-weight: 500;
}

.publications-back-button {
  padding-bottom: 1em;
  padding-top: 0.3em;
  a {
    border-top: 1px solid;
    padding-top: 0.5em;
    display: inline-block;
    text-align: left;
    width: auto;
    font-size: 1.25em;
    color: @iucn-blue-light;
    border-top-color: @iucn-gray-lightest;
    padding-left: 1.6em;
    position: relative;
    line-height: 1.2;
    .backicon {
      padding-top: 2em;
      background-image: url(~'@{images-path}icon-backarrow.svg');
      background-position: left center;
      background-repeat: no-repeat;
      background-size: auto;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 4em;
      @media @grid-mobile {
        width: 2.5em;
      }
    }
  }
  @media @grid-mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.view-publications {
  .view-header {
    border-bottom: 1px solid;
    border-bottom-color: #dddddd;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: @font-size-small;
    .block-search-api-sorts {
      float: right;
      ul {
        color: @iucn-blue-light;
        list-style-type: none;
        li > a {
          color: @iucn-blue-light;
          .tablesort {
            margin-left: 0.5em;
            background-image: url(~'@{images-path}dropdown-caret-centered.svg');
            background-position: bottom;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

