.iucn-publications-teaser-wrapper {
  .left-content,
  .right-content {
    @media @grid-mobile {
      margin-top: 1em;
    }
  }
  .field--name-node-title {
    h2 {
      .responsive(font-size, 28px, 23px);
      font-weight: 500;
    }
  }
}

#download-publication-button {
  &:extend(.path-frontpage .pdf-download-button all);
  text-align: unset;
  margin-top: 1em;
  a {
    .glyphicon {
      background-size: auto;
    }
    div {
      font-size: 15px;
      @media @grid-mobile {
        font-size: 13px;
      }
    }
  }
}

.publication-content {
  padding-bottom: 1em;
}

.publication-year {
  color: @iucn-gray-light;
}

.publication-title:extend(.path-frontpage #block-globaloutlookstatistics .block-title) {
}

.publications-back-button {
  padding-bottom: 1em;
  padding-top: 0.3em;
  a {
    border-top: 1px solid #ddd;
    color: @iucn-blue-light;
    display: inline-block;
    line-height: 1.2;
    padding-top: 0.5em;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: auto;
  }
  @media @grid-mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.view-publications {
  .view-header {
    .publications-search-results{
      font-size: 11px;
      vertical-align: middle;
    }
    .bottom-border();
    font-size: @font-size-small;
    @media @grid-mobile {
      display: none;
    }
    .block-search-api-sorts {
      float: right;
      ul {
        color: @iucn-blue-light;
        list-style-type: none;
        li > a {
          color: @iucn-blue-light;
          .tablesort {
            display: none;
            // margin-left: 0.5em;
            // .svg-icon(dropdown-caret-centered);
            // background-position: bottom;
            // background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

