@images-path:                              '../images/';
@font-size-base--mobile:        14px;

// Rem system, rescaled on mobile to get a body font size of @font-size-base--mobile and keep margins proportions
@rem-system-base: 10;
@rem-system-base--mobile: (@font-size-base--mobile * @rem-system-base / @font-size-base); // 7.777

@rem-multiplier--desktop:       (1rem / @rem-system-base);
@rem-multiplier--mobile:        (1rem / @rem-system-base--mobile); // used to transform fixed units into rem, multiply initial value by this

@line-height-computed--mobile:  (unit(@font-size-base--mobile) * @line-height-base); // ~20px

@em-multiplier--desktop:       (1em / unit(@font-size-base));
@em-multiplier--mobile:       (1em / unit(@font-size-base--mobile));


@navbar-height--mobile:         50px;

@design-breakpoint--mobile:             1600px;
@design-breakpoint-max--mobile:         @design-breakpoint--mobile - 1;

@design-breakpoint--desktop:             1600px;
@design-breakpoint-max--desktop:         @design-breakpoint--desktop - 1;
