.field--widget-row-entity-reference-paragraphs {
  table {
    margin-bottom: 0;
    tbody {
      tr {
        &:first-child {
          background: #ececec;
          border-bottom: 1px solid #bfbfba;
          &:hover {
            background: #ececec;
            border-bottom: 1px solid #bfbfba;
          }
        }
      }
    }
  }
  tbody {
    tr {
      background-color: #fcfcfa;
      &:hover {
        background-color: #fcfcfa;
      }
      &:focus {
        background-color: #fcfcfa;
      }
    }
  }
  .details-wrapper {
    overflow-x: scroll;
  }
  .paragraph-summary-component {
    font-size: .9em;
    grid-row: 1 / span 1;
    padding: 10px 12px;
    &:not(:last-child) {
      border-right: 1px solid rgb(230, 228, 223);
    }
  }
  .field-multiple-drag {
    border-right: 1px solid rgb(230, 228, 223);
  }
  .paragraph-top {
    align-items: stretch;
    display: grid;
    grid-gap: 0;
    z-index: 10000;
  }
  td {
    padding: 0;
  }
  .field-multiple-table {
    .field-multiple-drag {
      vertical-align: top;
    }
  }
  .draggable {
    a.tabledrag-handle {
      float: none;
      margin-left: 0;
    }
  }
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  .paragraph-summary-component-span-1 {
    grid-column-end: span 1;
  }
  .paragraph-summary-component-span-2 {
    grid-column-end: span 2;
  }
  .paragraph-summary-component-span-3 {
    grid-column-end: span 3;
  }
  .paragraph-top-col-39 {
    grid-template-columns: repeat(38, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-38 {
    grid-template-columns: repeat(37, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-37 {
    grid-template-columns: repeat(36, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-36 {
    grid-template-columns: repeat(35, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-35 {
    grid-template-columns: repeat(34, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-34 {
    grid-template-columns: repeat(33, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-33 {
    grid-template-columns: repeat(32, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-32 {
    grid-template-columns: repeat(31, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-31 {
    grid-template-columns: repeat(30, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-30 {
    grid-template-columns: repeat(29, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-29 {
    grid-template-columns: repeat(28, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-28 {
    grid-template-columns: repeat(27, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-27 {
    grid-template-columns: repeat(26, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-26 {
    grid-template-columns: repeat(25, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-25 {
    grid-template-columns: repeat(24, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-24 {
    grid-template-columns: repeat(23, minmax(6rem, 1fr)) 9rem;
  }
  .paragraph-top-col-23 {
    grid-template-columns: repeat(22, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-22 {
    grid-template-columns: repeat(21, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-21 {
    grid-template-columns: repeat(20, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-20 {
    grid-template-columns: repeat(19, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-19 {
    grid-template-columns: repeat(18, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-18 {
    grid-template-columns: repeat(17, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-17 {
    grid-template-columns: repeat(16, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-16 {
    grid-template-columns: repeat(15, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-15 {
    grid-template-columns: repeat(14, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-14 {
    grid-template-columns: repeat(13, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-13 {
    grid-template-columns: repeat(12, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-12 {
    grid-template-columns: repeat(11, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-11 {
    grid-template-columns: repeat(10, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-10 {
    grid-template-columns: repeat(9, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-9 {
    grid-template-columns: repeat(8, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-8 {
    grid-template-columns: repeat(7, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-7 {
    grid-template-columns: repeat(6, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-6 {
    grid-template-columns: repeat(5, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-5 {
    grid-template-columns: repeat(4, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-4 {
    grid-template-columns: repeat(3, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-top-col-3 {
    grid-template-columns: repeat(2, minmax(6.5rem, 1fr)) 9rem;
  }
  .paragraph-summary-component-field {
    column-span: 1;
  }
  .paragraphs-actions {
    flex-wrap: wrap;
    grid-column: -2 / span 1 !important;
    justify-self: normal !important;
  }
  .paragraph-header {
    font-weight: bold;
    .paragraph-summary-component {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .paragraphs-actions {
      .inner {
        justify-content: center;
        right: 0;
      }
    }
  }
  .paragraphs-header {
    margin-bottom: 0;
  }
  .paragraphs-dropdown-toggle {
    float: right;
  }
  .paragraphs-dropdown-toggle[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.diff-modal {
  .field--widget-row-entity-reference-paragraphs {
    table {
      tbody {
        tr {
          &:first-child {
            td {
              .form-wrapper {
                background: #ececec!important;
                font-size: .9em;
                text-transform: none;
              }
            }
          }
        }
      }
    }
    .paragraph-top-col-23 {
      grid-template-columns: repeat(22, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-22 {
      grid-template-columns: repeat(21, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-21 {
      grid-template-columns: repeat(20, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-20 {
      grid-template-columns: repeat(19, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-19 {
      grid-template-columns: repeat(18, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-18 {
      grid-template-columns: repeat(17, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-17 {
      grid-template-columns: repeat(16, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-16 {
      grid-template-columns: repeat(15, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-15 {
      grid-template-columns: repeat(14, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-14 {
      grid-template-columns: repeat(13, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-13 {
      grid-template-columns: repeat(12, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-12 {
      grid-template-columns: repeat(11, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-11 {
      grid-template-columns: repeat(10, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-10 {
      grid-template-columns: repeat(9, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-9 {
      grid-template-columns: repeat(8, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-8 {
      grid-template-columns: repeat(7, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-7 {
      grid-template-columns: repeat(6, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-6 {
      grid-template-columns: repeat(5, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-5 {
      grid-template-columns: repeat(4, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-4 {
      grid-template-columns: repeat(3, minmax(6rem, 1fr)) 9rem;
    }
    .paragraph-top-col-3 {
      grid-template-columns: repeat(2, minmax(6rem, 1fr)) 9rem;
    }
  }
  .chosen-container {
    width: 100% !important;
  }
  .chosen-drop {
    border: 1px solid grey;
    width: 300px;
  }
  .paragraph-diff-row {
    background-color: #fcfcfa !important;
    .paragraphs-actions {
      background-color: #fcfcfa !important;
    }
  }
}
.field--widget-row-entity-reference-paragraphs>.paragraphs-tabs-wrapper>.form-item {
  margin-top: 0;
  position: relative;
  .field-add-more-submit {
    margin: 10px;
  }
}
.js {
  .field--widget-row-entity-reference-paragraphs {
    position: relative;
    .paragraph-summary-component.processed {
      .paragraphs-actions {
        align-items: flex-start;
        background: #fcfcfa;
        border-left: 1px solid #dddddd;
        display: flex;
        flex-wrap: nowrap;
        grid: none;
        justify-content: flex-end;
        margin-top: -10px;
        min-height: min-content;
        padding: 10px 12px;
        position: absolute;
        right: 0;
        text-align: right;
        top: auto;
        z-index: 1;
        .ajax-progress-throbber {
        }
      }
    }
    .paragraph-header {
      .paragraph-summary-component.processed {
        .paragraphs-actions {
          border-top-color: #bfbfba;
          justify-content: center;
          right: 0;
          text-align: center;
        }
      }
    }
    .responsive-wrapper {
      overflow: auto;
    }
    .double-scrollbar-helper {
      background: #ececec;
      border-bottom: 1px solid rgb(230, 228, 223);
      height: 14px;
      overflow: auto;
      .inner {
        background: #ececec;
        border-bottom: 1px solid rgb(230, 228, 223);
        height: 14px;
        overflow-y: hidden;
      }
    }
  }
  .field--widget-row-entity-reference-paragraphs>.paragraphs-tabs-wrapper>.form-item {
    position: static;
  }
  .field--widget-row-entity-reference-paragraphs>.paragraphs-tabs-wrapper>.form-item>.clearfix>input[type="submit"] {
    margin: 10px;
  }
}
.raw-paragraphs-tabs-wrapper {
  .paragraphs-tabs {
    display: none;
  }
  table {
    margin-bottom: 0;
  }
}
.raw-paragraphs-tabs-wrapper>.form-item {
  margin-top: 0;
  position: relative;
}
.field--widget-row-entity-reference-paragraphs>.paragraphs-tabs-wrapper>.form-item>.clearfix>input[type="submit"] {
  margin: 10px;
}
.field--widget-row-entity-reference-paragraphs>.raw-paragraphs-tabs-wrapper>.form-item>.clearfix>input[type="submit"] {
  margin: 10px;
}
.paragraph-deleted-row {
  background-color: #ffaaaa !important;
  .paragraphs-actions {
    background-color: #ffaaaa !important;
  }
}
.paragraph-new-row {
  background-color: #77f177 !important;
  .paragraphs-actions {
    background-color: #77f177 !important;
  }
}
.paragraph-author {
  margin-right: 10px;
}
.paragraph-summary-component {
  word-wrap: break-word;
}
.paragraph-diff-row {
  background-color: #fcf8e3 !important;
  .paragraphs-actions {
    background-color: #fcf8e3 !important;
  }
}
#drupal-modal {
  padding: 0;
  .layout-node-form {
    .layout-region {
      padding-right: 0;
    }
  }
  .diff-modal {
    table.field-multiple-table>tbody>tr {
      &:first-child>td>div {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        margin-bottom: -1px;
        position: relative;
      }
    }
    table.diff-table>thead>tr>th {
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      margin-bottom: -1px;
      position: relative;
    }
    .tabledrag-toggle-weight-wrapper {
      visibility: hidden;
    }
  }
}
#drupal-modal>.paragraph-form {
  box-sizing: border-box;
  padding: 1em;
}
#drupal-modal>.diff-form {
  padding: 0;
}
.paragraph-diff-final {
  border-top: 3px solid black;
}
.diff-original-row {
  border-bottom: 3px solid black;
  .paragraph-summary-component-author {
    font-weight: bold;
  }
}
span.field-boolean-tick {
  font-size: 1.6rem;
}
.diff-tick-true {
  font-size: 1.6rem;
}
.diff-tick-false {
  font-size: 1.6rem;
}
.diff-context-wrapper {
  td.diff-tick-false {
    background-color: #fcfcfa;
    display: block;
    span.diffchange {
      background-color: #ffdddd;
    }
  }
  td.diff-tick-true {
    background-color: #fcfcfa;
    display: block;
    span.diffchange {
      background-color: #ddffdd;
    }
  }
}
table.diff-context-wrapper {
  display: block;
}
.diff-tick-marker {
  display: block;
}
