@color_1: #fafafa;
@color_2: #0074bd;
@background_color_1: #ffffff;
@background_color_2: #ececec;
@background_color_3: #f5f5f2;
@table-border-color: rgb(230, 228, 223);

@import "mixins";
@import "components/assessment";
@import "components/blocks";
@import "components/dashboard";
@import "components/toolbar";
@import "components/views";
@import "components/row_paragraph_widget";
@import "components/diff";
@import "components/ckeditor";

@media all and (min-width: 851px) {
  .sidebar {
    float: left;
    width: 25%;
    &+.page-content {
      float: left;
      width: 75%;
    }
  }
}

.js {
  td {
    .dropbutton-wrapper {
      width: 157px;
    }
  }
  .dropbutton-widget {
    .dropbutton-action {
      a {
        max-width: 140px;
        padding: 4px 8px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .field--widget-row-entity-reference-paragraphs {
    .paragraph-header {
      .paragraph-summary-component.processed {
        .paragraphs-actions {
          background-color: @background_color_2;
        }
      }
    }
  }
}

.views-field-operations {
  .dropbutton {
    a {
      max-width: 140px;
      padding: 4px 8px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
.user-assign-form {
  .form-submit {
    margin-left: 0;
  }
}

#autosave-notification {
  z-index: 9999;
}

.paragraph-comments-textarea {
  z-index: 50;
  position: absolute;
  background-color: @background_color_1;
  padding: 25px;
  border: 1px solid black;
  width: 40%;
  display: none;
}

.field--widget-assessment-options-buttons {
  .form-required:after {
    display: none;
  }
  .label:after {
    .form-required();
  }
}

.bold-cell {
  font-weight: bold;
}

.views-field-field-assessor {
  .item-list {
    ul, li {
      list-style-type: none;
    }
    li {
      margin: 0;
    }
  }
}

.js-form-item-field-as-threats-categories-options-groups {
    .chosen-container {
        .chosen-results {
            max-height: fit-content;
        }
    }
}

.level-good {
    background-color: #92d050;
}

.level-low-concern {
    background-color: #acd373;
}

.level-high-concern {
    background-color: #ffc000;
}

.level-critical {
    background-color: #ff0000;
}

.level-data-deficient {
    background-color: none;
}

.field--name-field-as-threats-in {
    float: left;
}

.field--name-field-as-threats-out {
    clear: both;
}

.field_as_threats_values_wh_checkboxes {
    legend {
        float: left;
    }
    > .fieldset-wrapper {
        float: left;
        display: block;
        width: auto;
    }
}

.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper.field_as_threats_values_wh_checkboxes .form-item label {
        display: inline;
        width: auto;
        max-width: none;
        padding-left: 5px;
}

.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper.field--name-field-as-threats-in  .form-item label,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper.field--name-field-as-threats-in  .form-item label {
    width: 188px;
    min-width: 188px;
}

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .right {
    min-width:400px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip:hover .right {
    display:block;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.js .field--widget-row-entity-reference-paragraphs.field--name-field-as-protection .responsive-wrapper {
    overflow: visible;
}

#group-threat-extent {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border: none;
    background: none;
    .form-item-field-as-threats-in-value {
      margin-top: 0;
    }
    .fieldset-wrapper {
      margin-top: 10px;
    }
    .field--name-field-as-threats-in {
      width: 200px;
    }
    .form-item-field-as-threats-extent {
      label {
        float: left;
      }
    }
}
