/**
 * Navbar styling.
 */
@mobile:          ~"screen and (max-width: @{screen-xs-max})";
@tablet:          ~"screen and (min-width: @{screen-sm-min})";
@normal:          ~"screen and (min-width: @{screen-md-min})";
@wide:            ~"screen and (min-width: @{screen-lg-min})";
@grid-breakpoint: ~"screen and (min-width: @{grid-float-breakpoint})";

body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;

  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
    @media @grid-mobile {
      margin-top: ~'calc(@{navbar-height--mobile} + (@{grid-gutter-width} / 2))';
    }
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: (@navbar-height + (@grid-gutter-width / 2));
  }

  // @media @tablet {
  //   margin-top: (@grid-gutter-width / 2);
  // }
  @media @mobile {
    &.toolbar-vertical {
      &.navbar-is-fixed-top,
      &.navbar-is-fixed-bottom {
        .toolbar-bar {
          position: fixed;
        }
        header {
          z-index: @zindex-modal-background;
        }
      }
      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top: 39px;
      }
    }
  }
}
.path-frontpage {
  &.navbar-is-fixed-top {
    @media @grid-mobile {
      margin-top: @navbar-height--mobile;
    }
  }
  header {
    @media @grid-desktop {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}
// body.toolbar-fixed .toolbar-oriented, .toolbar-oriented .toolbar-bar, .toolbar-oriented .toolbar-tray {
//   position: fixed;
// //   z-index: @zindex-modal-background + 1;
// }
.navbar.container {
  @media @tablet {
    max-width: ((@container-sm - @grid-gutter-width));
  }
  @media @normal {
    max-width: ((@container-md - @grid-gutter-width));
  }
  @media @wide {
    max-width: ((@container-lg - @grid-gutter-width));
  }
}
.navbar {
  @media @grid-mobile {
    min-height: @navbar-height--mobile;
  }
}

// Branding.
.navbar .logo {
  margin-right: -(@grid-gutter-width / 2);
  padding-left: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
  @media @grid-breakpoint {
    margin-right: 0;
    padding-left: 0;
  }
}

//Custom navbar
body.navbar-is-static-top {
  @media @grid-mobile {
    margin-top: (@navbar-height + (@grid-gutter-width / 2));
    header {
      top: 39px;
    }
  }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: none;
}
@navbar-font-size-em: .85em;
@navbar-min-size-to-fit: 1.3;
@max-vw: (floor(unit(@font-size-base) * unit(@navbar-font-size-em) * 100 / @navbar-min-size-to-fit) * 1px); // @navbar-min-size-to-fit is minimum vw required to fit content of navbar on one line
.navbar {
  @media (min-width: @grid-float-breakpoint) and (max-width: @max-vw) {
    font-size: @navbar-min-size-to-fit * 1vw;
  }
  @media (min-width: (@max-vw + 1)) {
    font-size: @navbar-font-size-em;
  }
  @media @grid-desktop {
    position: static;
    height: @navbar-height;
  }
  @media @grid-mobile {
    position: fixed;
    z-index: @zindex-modal-background;
    right: 0;
    left: 0;
    height: @navbar-height--mobile;
    &.headroom {
      transition: transform .2s ease-in-out;
      will-change: transform;
    }
    &.headroom--pinned {
        transform: translateY(0);
    }
    &.headroom--unpinned {
        transform: translateY(-100%);
    }
    .toolbar-vertical &.headroom--pinned {
        transform: none
    }
    .toolbar-vertical &.headroom--unpinned {
        transform: none;
    }
  }
}

.navbar .logo {
  // height: @navbar-height * 70 / 100;
  height: 4em;
  margin-top: calc(~'(@{navbar-height} - 4em) / 2');
  margin-bottom: calc(~'(@{navbar-height} - 4em) / 2');
  @media @grid-mobile {
    // height: auto;
    // margin-top: 5 * @rem-multiplier--mobile;
    // margin-bottom: 5 * @rem-multiplier--mobile;
    height: @navbar-height--mobile * 70 / 100;
    margin-top: @navbar-height--mobile * 15 / 100;
    margin-bottom: @navbar-height--mobile * 15 / 100;
  }
  > img {
    height: 100%;
    width: auto;
    // @media @grid-mobile {
    //   height: 40 * @rem-multiplier--mobile;
    // }
  }
}
.container-fluid > .navbar-header {
  @media @grid-desktop {
    margin-left: 2em;
  }
}
@media @grid-desktop {
  .navbar-header {
    position: relative;
    &:after {
      border-right: 1px solid fade(@iucn-blue-light, 20%);
      content: '';
      display: block;
      height: 80%;
      position: absolute;
      right: 0;
      top: 10%;
    }
  }
}
.navbar-brand {
  font-size: 1.25em;
  @media @grid-mobile {
    font-size: 15 * @rem-multiplier--mobile;
    padding-top: 5 * @rem-multiplier--mobile;
    padding-bottom: 5 * @rem-multiplier--mobile;
    height: auto;
    line-height: 40 * @rem-multiplier--mobile;
  }
  @media @grid-desktop {
    margin-right: 1em;
    padding-right: 1em;
  }
}

body.show-focus-outlines {
  .navbar-toggle:hover, .navbar-toggle:focus, .navbar-toggle:active {
    .icon-bar {
      background-color: @iucn-blue-light;
    }
  }
}
.navbar-toggle {
  .navbar-vertical-align(42px);
  border: none;
  padding-left: 0;
  padding-right: 0;
  .icon-bar {
    border-radius: 5 * @rem-multiplier--mobile;
    width: 40 * @rem-multiplier--mobile;
    height: 5 * @rem-multiplier--mobile;
    transition: all 0.2s;
    + .icon-bar {
      margin-top: 7 * @rem-multiplier--mobile;
    }
  }
  .top-bar {
    transform: rotate(-45deg);
    transform-origin: 90% 90%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(45deg);
    transform-origin: 90% 10%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
  @media @grid-mobile {
    margin-top: 2 * @rem-multiplier--mobile;
    margin-bottom: 2 * @rem-multiplier--mobile;
  }
}

.navbar-collapse {
  .icon-collapse {
    vertical-align: middle;
    line-height: 0;
    &:before {
      font-size: 1.6em;
      line-height: 0;
    }
  }
  .navbar-nav > li > a.dropdown-toggle {
    &, & + a {
      // display: inline-block;
    }
  }
  @media @grid-desktop {
    .navbar-nav > li > .dropdown-menu {
      display: block;
      opacity: 0;
      pointer-events: none;
      transition: .1s;
      margin-top: -1px;
    }
    .navbar-nav > li:hover > .dropdown-menu {
      opacity: 1;
      pointer-events: all;
    }
    .navbar-nav > li > a {
      display: inline-block;
      &.dropdown-toggle {
        display: none;
        // padding-right: (15px / 2);
        // + a {
        //   padding-left: (15px / 2);
        // }
      }
    }
  }
  @media @grid-mobile {
    backface-visibility: hidden;
    background-color: #fff;
    border-top: none;
    display: block;
    height: calc(~'100vh - @{navbar-height--mobile}') !important;
    font-size: 25 * @rem-multiplier--mobile;
    margin: 0 !important;
    opacity: 0;
    padding-left: 0;
    padding-right: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: @navbar-height--mobile;
    transition+_: all .2s;
    width: 100%;
    z-index: @zindex-modal;
    .toolbar-vertical & {
      // top: @navbar-height--mobile + 39px;
      height: calc(~'100vh - @{navbar-height--mobile} - 39px') !important;
    }
    #block-iucn-who-main-menu + * {
      margin-top: 1em;
    }
    .navbar-nav {
      margin: 0;
    }
    .navbar-nav a,
    .links a {
      padding-left: 4rem;
    }
  //   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  // }
    .navbar-nav > li {
      > a {
        // line-height: 1;
        padding-bottom: 25 * @rem-multiplier--mobile;
        padding-top: 25 * @rem-multiplier--mobile;
        transition: all .1s;
        &, &:hover, &:focus, &:active {
          color: @brand-primary;
        }
        &.dropdown-toggle {
          display: inline-block;
          // line-height: 0;
          color: @iucn-blue-dark;
          padding-left: 1rem;
          padding-right: 1rem;
          position: absolute;
          width: 4rem;
          z-index: 1;
          .icon-plus {
            line-height: @line-height-computed--mobile;
          }
          //   margin-right: 1rem;
          //   position: absolute;
          //   right: calc(~'100% - 50px');
          //   top: 50%;
          //   transform+_: translateY(-50%);
          // }
        }
      }
      // &,

      &.open,
      &.active {
        > a {
          color: #fff;
        }
        > a, > a:hover, > a:focus, > a:active,
        > a.dropdown-toggle:hover + a, > a.dropdown-toggle:focus + a, > a.dropdown-toggle:active + a {
          background-color: @brand-primary;
          color: #fff;
        }
        // & > a:hover, > a:focus, > a:active {
        //   color: @iucn-blue-light;
        // }
      }
    }
    .dropdown-menu {
      background-color: transparent;
      border: none;
      box-shadow: none;
      // display: block !important;
      float: none;
      position: relative;
      > li > a {
        color: @iucn-blue-dark;
        text-transform: uppercase;
      }
      > li > a,
      > .active > a, > .active > a:hover, > .active > a:focus {
        background-color: transparent;
        white-space: normal;
      }
    }
    .navbar-nav .open .dropdown-menu > li > a {
      color: @iucn-blue-dark;
      line-height: @headings-line-height;
      padding-left: 5rem;
      padding-top: 1em;
    }
    &.in {
      opacity: 1;
      pointer-events: all;
    }
    &.collapsing {
      opacity: 1;
    }
  }
}

.menu-open {
  &:extend(.modal-open all);
}
