.field-diff {
    position: absolute !important;
    margin: 10px 3px !important;
    top: 0;
    right: 0;
}

.overall-row > div {
    position: relative;
}

.field-diff-table th:nth-child(2) {
    padding-left: 45px;
}

.field-with-diff > div > div {
    padding-right: 40px !important;
}

.field-with-diff {
    position: relative;
}

.field-with-diff > div > select {
    margin-right: 30px;
}

.diff-marker {
    width: 1px;
}

.field-with-diff .form-textarea-wrapper {
    background-color: #fcf8e3;
}

.field-with-diff.field--type-entity-reference {
    background-color: #fcf8e3;
}

.field-with-diff#edit-field-as-references-wrapper {
    background-color: #fcf8e3;
}

.field-with-diff.field--type-string-long,
.field-with-diff.field--type-entity-reference {
    display: table-row-group;
}
