.field--widget-row-entity-reference-paragraphs table tbody tr td {
    background-color: #fcfcfa;
}

.field--widget-row-entity-reference-paragraphs table tbody tr:first-child .field-multiple-drag {
    visibility: hidden;
}

.field--widget-row-entity-reference-paragraphs table tbody tr:first-child:hover {
    background: inherit;
}

.field--widget-row-entity-reference-paragraphs .details-wrapper {
    overflow-x: scroll;
}

.field--widget-row-entity-reference-paragraphs .paragraph-summary-component {
    grid-row: 1 / span 1;
    font-size: .9em;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top {
    display: grid;
    grid-gap: 10px;
    align-items: baseline;
}

.field--widget-row-entity-reference-paragraphs .paragraph-summary-component-span-2 {
    grid-column-end: span 2;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-23 {
    grid-template-columns: repeat(23 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-22 {
    grid-template-columns: repeat(22 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-21 {
    grid-template-columns: repeat(21 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-20 {
    grid-template-columns: repeat(20 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-19 {
    grid-template-columns: repeat(19 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-18 {
    grid-template-columns: repeat(18 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-17 {
    grid-template-columns: repeat(17 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-16 {
    grid-template-columns: repeat(16 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-15 {
    grid-template-columns: repeat(15 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-14 {
    grid-template-columns: repeat(14 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-13 {
    grid-template-columns: repeat(13 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-12 {
    grid-template-columns: repeat(12 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-11 {
    grid-template-columns: repeat(11 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-10 {
    grid-template-columns: repeat(10 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-9 {
    grid-template-columns: repeat(9 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-8 {
    grid-template-columns: repeat(8 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-7 {
    grid-template-columns: repeat(7 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-6 {
    grid-template-columns: repeat(6 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-5 {
    grid-template-columns: repeat(5 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-4 {
    grid-template-columns: repeat(4 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-3 {
    grid-template-columns: repeat(3 , minmax(6.5rem, 1fr));
}

.field--widget-row-entity-reference-paragraphs .paragraph-summary-component-field {
    column-span: 1;
}

.field--widget-row-entity-reference-paragraphs .paragraphs-actions {
    justify-self: normal !important;
    grid-column: -2 / span 1 !important;
}

.field--widget-row-entity-reference-paragraphs .paragraph-header {
    font-weight: bold;
}

.field--widget-row-entity-reference-paragraphs .paragraph-header .paragraph-summary-component {
    text-overflow: ellipsis;
    overflow: hidden;
}

.field--widget-row-entity-reference-paragraphs > .paragraphs-tabs-wrapper > .form-item {
    position: relative;
    margin-top: 0;
}

.field--widget-row-entity-reference-paragraphs > .paragraphs-tabs-wrapper > .form-item .field-add-more-submit {
    margin: 10px;
}
