.field--widget-row-entity-reference-paragraphs table {
    margin-bottom: 0;
}

.field--widget-row-entity-reference-paragraphs tbody tr,
.field--widget-row-entity-reference-paragraphs tbody tr:hover,
.field--widget-row-entity-reference-paragraphs tbody tr:focus {
    background-color: #fcfcfa;
}

.field--widget-row-entity-reference-paragraphs table tbody tr:first-child,
.field--widget-row-entity-reference-paragraphs table tbody tr:first-child:hover {
    background: #ececec;
    border-bottom: 1px solid #bfbfba;
}

.field--widget-row-entity-reference-paragraphs table tbody tr:first-child td .form-wrapper {
    background: #ececec!important;
}

.field--widget-row-entity-reference-paragraphs .details-wrapper {
    overflow-x: scroll;
}

.field--widget-row-entity-reference-paragraphs .paragraph-summary-component {
    grid-row: 1 / span 1;
    font-size: .9em;
    padding: 10px 12px;
}
.field--widget-row-entity-reference-paragraphs .field-multiple-drag,
.field--widget-row-entity-reference-paragraphs .paragraph-summary-component:not(:last-child) {
    border-right: 1px solid rgb(230, 228, 223);
}

.field--widget-row-entity-reference-paragraphs .paragraph-top {
    display: grid;
    grid-gap: 0;
    align-items: stretch;
}

.field--widget-row-entity-reference-paragraphs td {
    padding: 0;
}

.field--widget-row-entity-reference-paragraphs .field-multiple-table .field-multiple-drag {
    vertical-align: top;
}

.field--widget-row-entity-reference-paragraphs .draggable a.tabledrag-handle {
    float: none;
    margin-left: 0;
}

.field--widget-row-entity-reference-paragraphs .tabledrag-toggle-weight-wrapper {
    display: none;
}

.field--widget-row-entity-reference-paragraphs .paragraph-summary-component-span-2 {
    grid-column-end: span 2;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-23 {
    grid-template-columns: repeat(22, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-22 {
    grid-template-columns: repeat(21, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-21 {
    grid-template-columns: repeat(20, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-20 {
    grid-template-columns: repeat(19, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-19 {
    grid-template-columns: repeat(18, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-18 {
    grid-template-columns: repeat(17, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-17 {
    grid-template-columns: repeat(16, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-16 {
    grid-template-columns: repeat(15, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-15 {
    grid-template-columns: repeat(14, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-14 {
    grid-template-columns: repeat(13, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-13 {
    grid-template-columns: repeat(12, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-12 {
    grid-template-columns: repeat(11, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-11 {
    grid-template-columns: repeat(10, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-10 {
    grid-template-columns: repeat(9, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-9 {
    grid-template-columns: repeat(8, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-8 {
    grid-template-columns: repeat(7, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-7 {
    grid-template-columns: repeat(6, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-6 {
    grid-template-columns: repeat(5, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-5 {
    grid-template-columns: repeat(4, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-4 {
    grid-template-columns: repeat(3, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-top-col-3 {
    grid-template-columns: repeat(2, minmax(6.5rem, 1fr)) 9rem;
}

.field--widget-row-entity-reference-paragraphs .paragraph-summary-component-field {
    column-span: 1;
}

.field--widget-row-entity-reference-paragraphs .paragraphs-actions {
    justify-self: normal !important;
    grid-column: -2 / span 1 !important;
}

.field--widget-row-entity-reference-paragraphs .paragraph-header {
    font-weight: bold;
}

.field--widget-row-entity-reference-paragraphs .paragraphs-header {
    margin-bottom: 0;
}

.field--widget-row-entity-reference-paragraphs .paragraphs-dropdown-toggle {
    float: right;
    /* margin-top: 5px; */
}
.field--widget-row-entity-reference-paragraphs .paragraphs-dropdown-toggle[disabled] {
    opacity: .5;
    pointer-events: none;
}

.field--widget-row-entity-reference-paragraphs .paragraph-header .paragraph-summary-component {
    text-overflow: ellipsis;
    overflow: hidden;
}

.field--widget-row-entity-reference-paragraphs > .paragraphs-tabs-wrapper > .form-item {
    position: relative;
    margin-top: 0;
}

.field--widget-row-entity-reference-paragraphs > .paragraphs-tabs-wrapper > .form-item .field-add-more-submit {
    margin: 10px;
}

.field--widget-row-entity-reference-paragraphs .paragraphs-actions {
    flex-wrap: wrap;
}

.js .field--widget-row-entity-reference-paragraphs .paragraph-summary-component.processed .paragraphs-actions {
    align-items: flex-start;
    background: #fcfcfa;
    border-left: 1px solid #ddd;
    display: flex;
    flex-wrap: nowrap;
    grid: none;
    margin-top: -10px;
    min-height: min-content;
    padding: 10px 12px;
    position: absolute;
    right: 0;
    text-align: right;
    top: auto;
    z-index: 1;
    justify-content: flex-end;
}

.field--widget-row-entity-reference-paragraphs .paragraph-header .paragraphs-actions .inner {
    justify-content: center;
    right: 0;
}
.js .field--widget-row-entity-reference-paragraphs .paragraph-summary-component.processed .paragraphs-actions .ajax-progress-throbber {

}

.js .field--widget-row-entity-reference-paragraphs .paragraph-header .paragraph-summary-component.processed .paragraphs-actions {
    text-align: center;
    justify-content: center;
    right: 0;
    border-top-color: #bfbfba;
}

.js .field--widget-row-entity-reference-paragraphs .responsive-wrapper,
.js .field--widget-row-entity-reference-paragraphs .double-scrollbar-helper {
    overflow: auto;
}

.js .field--widget-row-entity-reference-paragraphs .double-scrollbar-helper,
.js .field--widget-row-entity-reference-paragraphs .double-scrollbar-helper .inner {
    background: #ececec;
    border-bottom: 1px solid rgb(230, 228, 223);
    height: 14px;
    overflow-y: hidden;
}

.js .field--widget-row-entity-reference-paragraphs {
    position: relative;
}

.js .field--widget-row-entity-reference-paragraphs > .paragraphs-tabs-wrapper > .form-item {
    position: static;
}

.raw-paragraphs-tabs-wrapper .paragraphs-tabs {
    display: none;
}

.raw-paragraphs-tabs-wrapper > .form-item {
    position: relative;
    margin-top: 0;
}

.raw-paragraphs-tabs-wrapper table {
    margin-bottom: 0;
}

.field--widget-row-entity-reference-paragraphs > .paragraphs-tabs-wrapper > .form-item > .clearfix > input[type="submit"],
.field--widget-row-entity-reference-paragraphs > .raw-paragraphs-tabs-wrapper > .form-item > .clearfix > input[type="submit"] {
    margin: 10px;
}

.paragraph-deleted-row,
.paragraph-deleted-row .paragraphs-actions {
    background-color: #faa !important;
}

.paragraph-new-row,
.paragraph-new-row .paragraphs-actions {
    background-color: #77f177 !important;
}

.button.paragraphs-icon-button.paragraphs-icon-button-compare {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .button.paragraphs-icon-button.paragraphs-icon-button-compare {
        background-image: url(../images/compare.svg);
    }
}

.paragraph-diff-final {
    border-top: 3px solid black;
}

.button.paragraphs-icon-button.paragraphs-icon-button-compare {
    background-image: url(../images/compare.svg);
}

.button.paragraphs-icon-button {
    padding: 0;
    width: 36px !important;
    height: 36px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 24px 24px;
    border-radius: 4px;
    text-indent: -9999em;
}
.button.paragraphs-icon-button-edit, .button.paragraphs-icon-button-edit:active, .button.paragraphs-icon-button-edit:hover, .button.paragraphs-icon-button-edit:focus {
    background-image: url("../images/icon-edit.svg");
}

.paragraphs-icon-delete {
    background-image: url("../images/icon-delete.svg") !important;
}

.paragraphs-icon-button-revert {
    background-image: url("../images/icon-revert.svg") !important;
}

.paragraphs-icon-button-accept {
    background-image: url("../images/icon-accept.svg") !important;
}

.paragraph-author {
    margin-right: 10px;
}



.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-23 {
    grid-template-columns: repeat(22, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-22 {
    grid-template-columns: repeat(21, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-21 {
    grid-template-columns: repeat(20, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-20 {
    grid-template-columns: repeat(19, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-19 {
    grid-template-columns: repeat(18, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-18 {
    grid-template-columns: repeat(17, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-17 {
    grid-template-columns: repeat(16, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-16 {
    grid-template-columns: repeat(15, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-15 {
    grid-template-columns: repeat(14, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-14 {
    grid-template-columns: repeat(13, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-13 {
    grid-template-columns: repeat(12, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-12 {
    grid-template-columns: repeat(11, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-11 {
    grid-template-columns: repeat(10, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-10 {
    grid-template-columns: repeat(9, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-9 {
    grid-template-columns: repeat(8, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-8 {
    grid-template-columns: repeat(7, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-7 {
    grid-template-columns: repeat(6, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-6 {
    grid-template-columns: repeat(5, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-5 {
    grid-template-columns: repeat(4, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-4 {
    grid-template-columns: repeat(3, minmax(9rem, 1fr)) 9rem;
}

.diff-modal .field--widget-row-entity-reference-paragraphs .paragraph-top-col-3 {
    grid-template-columns: repeat(2, minmax(9rem, 1fr)) 9rem;
}

.paragraph-summary-component {
    word-wrap: break-word;
}

.diff-modal .chosen-container {
    width: inherit !important;
}

.diff-modal .chosen-drop {
    width: 300px;
    border: 1px solid grey;
}

.paragraph-diff-row,
.paragraph-diff-row .paragraphs-actions {
    background-color: #fcf8e3 !important;
}

#drupal-modal table.field-multiple-table {
    margin-top: -1em;
    margin-left: -1em;
}

#drupal-modal table.field-multiple-table > tbody > tr:first-child > td > div {
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: -1px;
}