/*Temporarily hide certain blocks and fields*/
/* #block-languagedropdownswitcher {
  display: none !important;
} */

#block-designation {
  display: none !important;
}

#block-theme {
  display: none !important;
}

#heading-topic-1297,
#topic-1297,
[data-drupal-facet-item-id="benefit-1297"] {
  display: none !important;
}
