@assessment-tabs-bg: #f7f7f7;
.iucn-site-wrapper {
  .field--name-field-inscription-year .field--label,
  .field--name-field-inscription-criteria .field--label,
  .field--name-field-designation .field--label {
    font-weight: normal;
  }
  .field--name-field-inscription-criteria,
  .field--name-field-designation {
    .field__items > .field--item {
      display: inline;
    }
  }
  .field--name-body {
    margin-top: 1em;
  }
  .field--name-assessments-links {
    ul {
      list-style-type: none;
      padding-left: 0;
      text-align: center;
    }
    li {
      display: inline-block;
      + li {
        margin-left: 3em;
      }
      a {
        color: @iucn-blue-light;
        display: block;
      }
      a:after {
        background-color: #cccccc;
        border: 1px solid #c2c2c2;
        content: '';
        display: block;
        height: .7em;
        margin-left: -57%;
        transform: skewX(-55deg);
        width: 200%;
      }
      a.active-year:after {
        background-color: @iucn-blue-light;
        border: none;
      }
    }
  }
}
.node--type-site-assessment {
  .nav-tabs {
    .container();
    .remify(font-size, 15px);
    background-color: @assessment-tabs-bg;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 3em;
    &,
    > li,
    > li > a,
    > li.active > a, > li.active > a:hover, > li.active > a:focus {
      border: none;
    }
    > li {
      display: flex;
      flex: 1;
      &:first-child:before,
      &:last-child:before {
        content: '';
        background-color: @assessment-tabs-bg;
        display: block;
        height: 100%;
        width: 9999px;
        position: absolute;
        top: 0;
      }
      &:first-child:before { right: 100%; }
      &:last-child:before { left: 100%; }

      > a {
        color: @text-color;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        transition: none;
        .remify(padding, 20px);
        padding-left: 7em;
        background-position: 1.5em 3em;
        background-size: auto 4em;
        > * {
          display: block;
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 15%;
          height: 70%;
          left: 5.5em;
          border-right: 1px solid fade(#000, 10%);
        }
        &[href="#summary"] {
          .svg-icon(summary);
        }
        &[href="#full_assessment"] {
          .svg-icon(full-assessment);
          padding-left: 7.5em;
          &:before {
            left: 6.5em;
          }
        }
        &[href="#references"] {
          .svg-icon(references);
        }
        position: relative;
      }

      &.active {
        position: relative;
        // background-color: @brand-primary;
        > a > *,
        > a, > a:hover, > a:focus {
          background-color: @brand-primary;
          color: #fff;
        }
        .tab-read-more:after { .svg-icon(icon-arrow-white); }
        &:first-child:before,
        &:last-child:before {
          background-color: @brand-primary;
        }
        > a:before {
          border-right-color: fade(#fff, 30%);
        }
        > a[href="#summary"] {
          .svg-icon(summary-white);
        }
        > a[href="#full_assessment"] {
          .svg-icon(full-assessment-white);
        };
        > a[href="#references"] {
          .svg-icon(references-white);
        }
      }
    }

    .tab-label {
      font-size: 19 / 15 * 1em;
      font-weight: 700;
      margin-bottom: .5em;
    }
    .tab-description {
      color: #818181;
      margin-bottom: 1em;
    }
    .tab-read-more {
      color: @link-hover-color;
      margin-top: auto;
      &:after {
        .svg-icon(icon-arrow-blue);
        content: '';
        background-size: contain;
        background-position: center;
        width: 2em;
        height: 1em;
        display: inline-block;
        vertical-align: middle;
        margin-left: .5em;
      }
    }
  }
  .col-sm-4 {
    > .field + .field {
      margin-top: 2em;
    }
  }
  .iucn-assessment-value {
    margin-top: 1em;
  }
  .iucn-assessment-value .panel-default,
  .panel-default .panel-default .panel-default {
    border-color: transparent;
    box-shadow: none;
    > .panel-heading,
    > .panel-body {
      padding-left: 0;
    }
    > .panel-heading {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      // padding-bottom: 0;
      h1, h2, h3, h4, h5, h6 {
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0;
      }
      > .panel-title > * {
        padding-left: 1em;
      }
      > .panel-title {
        font-weight: 700;
        margin-bottom: 0;
        position: relative;
      }
      > .panel-title:before {
        .svg-icon(list-icon);
        background-position: left center;
        background-size: contain;
        content: '';
        display: block;
        height: 1em;
        vertical-align: middle;
        width: 1em;
        position: absolute;
        top: 10px;
        left: @grid-gutter-width / 2;
        margin-top: .2em;
      }
    }
    > .panel-body {
      padding-top: 0;
    }
  }
  .panel-default .panel-heading {
    display: flex;
    justify-content: space-between;
  }
  .panel-body > .field {
    overflow: auto;
  }
  .panel-title-terms {
    color: @iucn-blue-dark;
    display: flex;
    padding: 0 1em;
    .field--label {
      font-weight: normal;
    }
    .field__items > .field--label,
    .field__items > .field--item {
      display: inline-block;
    }
    > .field + .field {
      margin-left: 1em;
    }
  }
  .field--name-field-as-values-criteria,
  .field--name-field-as-values-curr-trend {
    display: flex;
  }

  .conservation-outlook-summary-group {
    .left-bordered-heading();
    .remify(font-size, 28px);
    padding-bottom: .8em;
    padding-top: .8em;
    position: relative;
    h3 {
      .remify(font-size, 28px);
      margin-top: 0;
    }
  }
  .field--name-field-as-end-date {
    .remify(font-size, 15px);
    color: #818181;
    position: absolute;
    right: 0;
    top: .3 * 28px;
    .field--label {
      font-weight: normal;
      &:after {
        display: none;
      }
    }
    .field--label,
    .field--item {
      display: inline-block;
      float: none;
      padding-right: 0;
    }
  }
  .field--name-field-as-global-assessment-level {
    .iucn-base-arrow();
    .remify(font-size, 17px);
    display: inline-flex;
    text-transform: uppercase;
  }
  .field--name-field-as-global-assessment-text {
    margin-top: 1em;
  }
  .loop-conservation-categories({
    .@{conservation-category-class}-summary-group {
      .remify(margin-top, 40px);
      border-top: 1px solid @hr-border;
      h3 {
        .remify(margin-top, 35px);
        &:before {
          .svg-icon(~'@{conservation-category-class}-black');
          content: '';
          display: inline-block;
          width: 1.5em;
          height: 1.5em;
          background-position: center;
          background-size: contain;
          vertical-align: baseline;
          margin-right: .2em;
          margin-bottom: -.2em;
        }
      }
    }
  });
}

.tab-pane#summary {
  .field--name-field-as-vass-wh-state,
  .field--name-field-as-protection-ov-rating,
  .field--name-field-as-threats-rating {
    &, a {
      .remify(font-size, 17px);
      color: @iucn-orange;
      font-weight: 900;
      margin-bottom: 1.8em;
    }
  }
}

.assessment-expand-buttons {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
  > li {
    color: @iucn-blue-light;
    display: inline-block;
    + li {
      border-left: 1px solid;
      margin-left: .5em;
      padding-left: .5em;
    }
  }
  .btn-link {
    .remify(font-size, 14px);
    color: @iucn-blue-light;
    text-transform: uppercase;
  }
}

.assessment-toggle {
  .panel-heading {
    > a:before {
      .svg-icon(collapse-minus);
      background-position: center;
      background-size: 20px;
      content: '';
      display: inline-block;
      height: 1em;
      margin-right: .2em;
      min-height: 20px;
      min-width: 20px;
      position: relative;
      top: .1em;
      width: 1em;
    }
    > a[aria-expanded='false']:before {
      .svg-icon(collapse-plus);
    }
  }
}
.assessment-section > h2 {
  &:extend(.iucn-publications-teaser-wrapper .field--name-node-title h2);
  color: @iucn-blue-dark;
  .assessment-section + & {
    margin-top: 4em;
  }
}
.assessment-projects.assessment-toggle,
.assessment-section > .assessment-toggle {
  border: none;
  &.panel {
    margin-bottom: 0;
  }
  > .panel-heading {
    background-color: transparent;
    border-bottom: 1px solid;
    font-weight: 900;
    padding-left: 0;
    .panel-title {
      .remify(font-size, 25px);
    }
  }
  > .panel-collapse > .panel-body {
    padding-right: 0;
  }
}

/* ==========================================================================
   Assessment sidebar
   ========================================================================== */

.field--name-assessments-more-site-links,
.field--name-dynamic-block-fieldnode-how-are-sites-assessed {
  > .field--label {
    .bottom-border();
    font-weight: 900;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  ul > li:before {
    display: none;
  }
  ul > li + li {
    margin-top: 0;
  }
  li > a {
    .light-link();
    &:before {
      content: '>';
      display: inline;
      margin-right: .5em;
    }
  }
}

.field--name-assessments-download-links {
  .remify(margin-top, 40px);
  .field--label {
    // @todo: mixin
    background-color: @iucn-blue-dark;
    color: #fff;
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 22px;
    padding: .5em 1.5em;
    position: relative;
    line-height: 1.2;
    padding-left: 5em;
    font-weight: 300;
    @media @grid-mobile {
      font-size: 21px;
      line-height: 1.1;
      padding-left: 3em;
      width: auto;
    }
    div.field--name-field-pdf-button-title {
      font-size: 15px;
      @media @grid-mobile {
        font-size: 13px;
      }
    }
    &:before {
      .svg-icon(download-report);
      content: '';
      display: block;
      background-position: center;
      background-size: auto;
      border-right: 1px solid;
      height: 75%;
      left: 0;
      position: absolute;
      top: 15%;
      width: 4em;
      @media @grid-mobile {
        width: 2.5em;
      }
      &:before {
        display: none;
      }
      &:after {
        border-right: 1px solid;
        content: '';
        display: block;
        height: 80%;
        position: absolute;
        right: 0;
        top: 10%;
      }
    }
  }
  &:hover, &:focus, &:active {
    > .field--item {
      opacity: 1;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .field--item {
    opacity: 0;
    transition: opacity .2s;
    a {
      display: block;
      padding: .5em 1em;
      .light-link();
      border: 1px solid;
      &:hover {
        background-color: @link-hover-color;
        border-color: @link-hover-color;
        color: #fff;
      }
    }
  }
}

.field--name-dynamic-block-fieldnode-site-feedback {
  .background-variant(@iucn-blue-dark, #fff);
  .remify(font-size, 15px);
  padding: 1em;
  font-weight: normal;
  .node--type-site-assessment .col-sm-4 .field + & {
    margin-top: 3em;
  }
  label {
    font-weight: inherit;
  }
  &:before {
    .svg-icon(feedback);
    background-position: center;
    background-size: contain;
    content: '';
    display: block;
    height: 3.5em;
    width: 3.5em;
    margin: 0 auto;
  }

  .form-submit {
    .btn-info();
    .remify(font-size, 20px);
    .remify(height, 60px);
    margin-top: 1em;
    @media @grid-desktop {
      width: 100%;
    }
  }
  .form-required:after {
    display: none;
  }
  .field--label {
    .bottom-border();
    .remify(font-size, 18px);
    font-weight: 900;
    text-align: center;
  }
}
