@assessment-tabs-bg: #f7f7f7;
// @todo: cleanup, specificity
body.page-node-type-site {
  @media @grid-mobile {
    &.navbar-is-fixed-top {
      margin-top: @navbar-height--mobile;
    }
  }
  .sidemenu {
    padding-top: 1em;
  }
}

.field--name-assessment-rating img {
  @media (min-width: @screen-lg-min) {
    width: 100%;
  }
  @media (max-width: @screen-md-max) {
    margin: 0 auto;
  }
}
// Positioning of back link
.iucn-site-wrapper > .container,
.iucn-site-wrapper > .container-fluid {
  position: relative;
}
.region-site-title {
  display: flex;
  flex-direction: column;
  position: static;
  .field--name-node-title h1 {
    .left-bordered-heading();
  }
  .sites-back-button {
    text-transform: uppercase;
    > a {
      .light-link();
      display: flex;
    }
    @media @grid-mobile {
      .background-variant(fade(#000, 30%), #fff);
      align-self: flex-end;
      margin-bottom: 6em;
      padding: .8em 1.2em;
      position: relative;
      z-index: 1;
    }
    @media @grid-desktop {
      bottom: 100%;
      position: absolute;
      right: @grid-gutter-width / 2;
    }
  }
  @media @grid-mobile {
    padding: 0;
    position: relative;
    overflow: hidden;
    .field--name-node-title {
      position: relative;
      z-index: 1;
      padding-top: 14px;
      padding-bottom: 14px;
      background-color: fade(#000, 30%);
      h1 {
        color: #fff;
        font-size: 18px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
      }
    }
    .region-site-mobile-image {
      background-color: @brand-primary;
      bottom: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .field--name-display-field-copynode-image-site {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.region-site-rating {
  @media @grid-mobile {
    display: none;
    .summary-is-active-tab & {
      display: block;
    }
  }
}
.field--name-assessments-links {
  ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
  }
  li {
    display: inline-block;
    @media @grid-mobile {
      font-size: 20px;
    }
    + li {
      margin-left: 3em;
    }
    a {
      color: #cccccc;
      display: block;
    }
    a:after {
      background-color: #cccccc;
      border: 1px solid #c2c2c2;
      content: '';
      display: block;
      height: .7em;
      margin-left: -57%;
      transform: skewX(-55deg);
      width: 200%;
      transition: background-color .2s;
    }
    a:hover, a:focus, a:active,
    &.active a {
      color: @iucn-blue-light;
    }
    a:hover:after, a:focus:after, a:active:after,
    &.active a:after {
      background-color: @iucn-blue-light;
      border: none;
    }
  }
}
.field--name-field-as-references {
  overflow: auto;
}

.iucn-site-wrapper {

  .field--name-field-inscription-year .field--label,
  .field--name-field-inscription-criteria .field--label,
  .field--name-field-designation .field--label {
    font-weight: normal;
  }
  .field--name-field-inscription-criteria,
  .field--name-field-designation {
    .field__items > .field--item {
      display: inline;
    }
  }
  .field--name-field-inscription-criteria{
    .field--item {
      float:left;
    }
    .field--item:last-child {
      float: none;
    }
  }
  .field--name-body {
    margin-top: 1em;
  }

  .nav-tabs {
    .container();
    .remify(font-size, 15px);
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 3em;
    > li { width: 100%; }
    > li > a {
      .remify(padding, 20px);
      background-position: 1.5em 3em;
      background-size: auto 4em;
      color: @text-color;
      display: flex;
      flex-direction: column;
      height: auto;
      min-height: 100%;
      margin-right: 0;
      padding-left: 7em;
      position: relative;
      transition: none;

      @media @grid-mobile {
        background-position-y: center;
        background-size: auto 2.5em;
        padding-left: 5em;
        text-transform: uppercase;
      }
      > * { display: block; }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 15%;
        height: 70%;
        left: 5.5em;
        border-right: 1px solid fade(#000, 10%);

        @media @grid-mobile { display: none; }
      }
      .loop-assessment-tabs({
        @attr-helper: ~'#@{assessment-tab-class}';
        &[href="@{attr-helper}"] {
          .svg-icon(~'@{assessment-tab-class}');
        }
      });
      &[href="#full_assessment"] {
        @media @grid-desktop {
          padding-left: 7.5em;
          &:before {
            left: 6.5em;
          }
        }
      }
    }

    > li.active,
    > li:hover, > li:focus, > li:active {
      position: relative;
    }

    // Mobile tabs
    &.visible-mobile {
      flex-wrap: wrap;
      margin-left: -@grid-gutter-width / 2;
      margin-right: -@grid-gutter-width / 2;
      padding-bottom: 10px;
      margin-bottom: 3rem;
      > li > a {
        color: @brand-primary;
      }
      > li.active {
        padding: 1rem 2rem;
        > a {
          .svg-icon(icon-backarrow, @iucn-blue-light);
          background-position-x: .5em;
          background-size: auto;
          border: 1px solid @iucn-blue-light;
          color: @iucn-blue-light;
          cursor: pointer;
          padding-left: 3.5em;
          .back-to-prefix {
            display: inline;
          }
        }
      }
    }
    // Desktop tabs
    &.visible-desktop {
      background-color: @assessment-tabs-bg;
      &,
      > li,
      > li > a,
      > li.active > a, > li.active > a:hover, > li.active > a:focus {
        border: none;
      }
      & > li {
        // display: flex;
        // flex-direction: column;
        // flex: 1 0 0%;
        &:first-child:before,
        &:last-child:before {
          content: '';
          background-color: @assessment-tabs-bg;
          display: block;
          height: 100%;
          width: 9999px;
          position: absolute;
          top: 0;
        }
        &:first-child:before { right: 100%; }
        &:last-child:before { left: 100%; }
      }
      > li.active,
      > li:hover, > li:focus, > li:active {
        background-color: @brand-primary;
        color: #fff;
        > a > *,
        > a, > a:hover, > a:focus {
          background-color: inherit;
          color: inherit;
        }
        .tab-read-more:after {
          .svg-icon(icon-arrow, '#ffffff');
        }
        &:first-child:before,
        &:last-child:before {
          background-color: @brand-primary;
        }
        > a:before {
          border-right-color: fade(#fff, 30%);
        }
        .loop-assessment-tabs({
          @attr-helper: ~'#@{assessment-tab-class}';
          > a[href="@{attr-helper}"] {
            .svg-icon(~'@{assessment-tab-class}', #ffffff);
          }
        });
      }
    }

  }

  .tab-label {
    font-size: 19 / 15 * 1em;
    font-weight: 700;
    margin-bottom: .5em;
    .back-to-prefix {
      display: none;
    }
    @media @grid-mobile {
      margin-bottom: 0;
    }
  }
  .tab-description {
    color: #818181;
    margin-bottom: 1em;
  }
  .tab-read-more {
    color: @link-hover-color;
    margin-top: auto;
    &:after {
      .svg-icon(icon-arrow, @iucn-blue-light);
      content: '';
      background-size: contain;
      background-position: center;
      width: 2em;
      height: 1em;
      display: inline-block;
      vertical-align: middle;
      margin-left: .5em;
    }
  }
  .tab-title {
    background-position: left center;
    color: #bfbfbf;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    &:before {
      background-position: center;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 30px;
      margin-right: .5em;
      vertical-align: middle;
      width: 20px;
    }
    .loop-assessment-tabs({
      &.@{assessment-tab-class}:before {
        .svg-icon(@assessment-tab-class, '#bfbfbf');
      }
    });
  }

  .col-sm-4 {
    > .field + .field {
      @media @grid-desktop {
        margin-top: 2em;
      }
    }
  }
  .iucn-assessment-value {
    margin-top: 1em;
  }
  .panel {
    box-shadow: none;
  }
  .panel-heading {
    @media @grid-desktop {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
    }

    .panel-title-terms-first,
    .panel-title-terms-second {
      .remify(padding-left, 21px);
      color: @brand-primary;
      white-space: nowrap;
      @media @grid-desktop {
        justify-content: flex-end;
        text-align: right;
      }

      .field--label {
        font-weight: normal;
        white-space: nowrap;
      }
      .field__items > .field--label,
      .field__items > .field--item {
        display: inline-block;
      }
      &:empty { display: none; }
    }
    .panel-title-terms { color: @brand-primary; }
    .panel-title-terms-first {
      display: flex;
      > .field { display: flex; }
      > .field + .field:not(:empty) { margin-left: 1em; }
    }
    .panel-title-terms-second {
      font-size: .8em;
      font-weight: 500;
    }
  }
  .panel-title {
    // @todo: move where needed
    &, &:hover, &:focus, &:hover:focus {
      color: inherit;
    }
  }
  .field--name-field-as-projects,
  .field--name-field-as-projects-needs {
    overflow: auto;
  }

  .field--name-field-as-values-criteria,
  .field--name-field-as-values-curr-trend {
    display: flex;
  }

  .conservation-outlook-summary-group {
    .remify(font-size, 28px);
    color: @brand-primary;
    position: relative;
    h3 {
      .remify(font-size, 28px);
      margin-top: 0;
      @media @grid-desktop {
        margin-right: 6em;
      }
      @media @grid-mobile {
        font-weight: 500;
      }
    }
    // @media @grid-mobile {
    //   display: inline-flex;
    //   flex-direction: column;
    // }
    @media @grid-desktop {
      .left-bordered-heading();
      padding-bottom: .8em;
      padding-top: .8em;
    }
  }
  .sidemenu-toggle-wrapper {
    @media @grid-mobile {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  .field--name-field-as-end-date {
    .responsive(font-size, 15px, 15px);
    @media @grid-mobile {
      order: -1;
      margin-bottom: .5em;
    }
    @media @grid-desktop {
      .remify(top, .8 * 28px);
      color: #818181;
      position: absolute;
      right: 0;
    }
    .field--label {
      font-weight: normal;
      &:after {
        display: none;
      }
    }
    .field--label,
    .field--item {
      display: inline-block;
      float: none;
      padding-right: 0;
    }
  }
  .field--name-field-as-global-assessment-level {
    .iucn-base-arrow();
    .remify(font-size, 17px);
    display: inline-flex;
    text-transform: uppercase;
    @media @grid-mobile {
      width: auto;
    }
  }
  .field--name-field-as-global-assessment-text {
    margin-top: 1em;
  }
  .loop-conservation-categories({
    .@{conservation-category-class}-summary-group {
      .remify(margin-top, 40px);
      border-top: 1px solid @hr-border;
      h3 {
        .remify(margin-top, 35px);
        &:before {
          .svg-icon(@conservation-category-class, @text-color);
          content: '';
          display: inline-block;
          width: 1.5em;
          height: 1.5em;
          background-position: center;
          background-size: contain;
          vertical-align: baseline;
          margin-right: .2em;
          margin-bottom: -.2em;
        }
      }
    }
  });
}
.iucn-assessment-panel-container .panel {
  border-color: transparent;
  box-shadow: none;
  .panel-heading,
  .panel-body {
    padding-left: 0;
  }
  .panel-heading {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    padding-right: 0;
    // padding-bottom: 0;
    h1, h2, h3, h4, h5, h6 {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .panel-title > * {
    .remify(padding-left, 21px);
  }
  .panel-title {
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
    .field--items > .field--item {
      display: inline;
    }
  }
  .panel-title:before {
    .svg-icon(list-icon);
    background-position: left center;
    background-size: contain;
    content: '';
    display: block;
    height: 1em;
    vertical-align: middle;
    width: 1em;
    position: absolute;
    top: 10px;
    left: @grid-gutter-width / 2;
    margin-top: .2em;
  }
  .panel-body {
    padding-top: 0;
  }
}

.tab-pane#summary {
  .field--name-field-as-vass-wh-state,
  .field--name-field-as-protection-ov-rating,
  .field--name-field-as-threats-rating {
    &, a {
      .remify(font-size, 17px);
      color: @iucn-orange;
      font-weight: 900;
      margin-bottom: 1.8em;
    }
  }
}
.assessment-expand {
  @media @grid-mobile {
    display: none;
  }
}
.assessment-expand-buttons {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
  > li {
    color: @iucn-blue-light;
    display: inline-block;
    + li {
      border-left: 1px solid;
      margin-left: .5em;
      padding-left: .5em;
    }
  }
  .btn-link {
    .remify(font-size, 14px);
    color: @iucn-blue-light;
    text-transform: uppercase;
  }
}

.assessment-toggle {
  @media @grid-mobile {
    border-color: #7d7d7d;
  }
  > .panel-heading {
    @media @grid-mobile {
      .panel-title-terms {
        padding-left: 1.5em;
      }
    }
    > a:before {
      .svg-icon(collapse-minus);
      background-position: center;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 1em;
      margin-right: .2em;
      // min-height: 20px;
      // min-width: 20px;
      position: relative;
      top: .1em;
      width: 1em;
    }
    > a[aria-expanded='false']:before {
      .svg-icon(collapse-plus);
    }
  }
  .assessment-toggle {
    @media @grid-mobile {
      > .panel-heading {
        position: relative;
        padding-right: 4em;
        &:before,
        &:after {
          border-color: @body-bg transparent transparent transparent;
          border-style: solid;
          border-width: 18px 20px 0 20px;
          content: '';
          display: block;
          height: 0;
          pointer-events: none;
          position: absolute;
          right: 1em;
          top: -1px;
          width: 0;
          z-index: 2;
        }
        &:after {
          border-color: #7d7d7d transparent transparent transparent;
          top: 0;
          z-index: 1;
        }
      }
    }
  }
}
.assessment-section > h2 {
  &:extend(.iucn-publications-teaser-wrapper .field--name-node-title h2);
  color: @brand-primary;
  .assessment-section + & {
    margin-top: 4em;
    @media @grid-mobile {
      margin-top: 2em;
    }
  }
}
.assessment-projects.assessment-toggle,
.assessment-section > .assessment-toggle {
  border: none;
  box-shadow: none;
  &.panel {
    margin-bottom: 0;
  }
  > .panel-heading {
    background-color: transparent;
    border-bottom: 1px solid;
    font-weight: 900;
    padding-left: 0;
    @media @grid-mobile { border-bottom: 2px solid; }
    .panel-title {
      .remify(font-size, 25px);
    }
  }
  > .panel-collapse > .panel-body {
    padding-right: 0;
    @media @grid-mobile {
      padding-left: 0;
    }
  }
}

/* ==========================================================================
   Assessment sidebar
   ========================================================================== */

.field--iucn-collapsible {
  .collapse-visible-desktop();
  @media @grid-mobile {
    margin-left: 1em;
    ul {
      margin-bottom: 2em;
    }
    .collapse-toggle {
      border-bottom: none;
    }
    // @todo: make this into general icon-collapse styling
    .icon-collapse {
      display: inline-flex;
      align-items: center;
      width: 20px;
      &:before {
        .svg-icon(plus);
        content: '';
        background-position: center;
        background-size: 95%;
        content: '';
        display: inline-block;
        height: 13px;
        margin-right: .5 * @font-size-base--mobile;
        width: 13px;
      }
    }
    [aria-expanded="true"] > .icon-collapse:before,
    .open > a > .icon-collapse:before {
      .svg-icon(minus);
      background-size: 98%;
    }
  }
  @media @grid-desktop {
    .icon-collapse {
      display: none;
    }
  }
}

.field--name-assessments-more-site-links,
.field--name-dynamic-block-fieldnode-how-are-sites-assessed {
  > .field--label {
    .bottom-border();
    font-weight: normal;
    margin-bottom: 3rem;
    @media @grid-mobile {
      border-bottom: none;
    }
    @media @grid-desktop {
      font-weight: 900;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  ul > li:before {
    display: none;
  }
  ul > li + li {
    margin-top: 0;
  }
  li > a {
    .light-link();
    &:before {
      content: '>';
      display: inline;
      margin-right: .5em;
    }
  }
}

.field--name-dynamic-block-fieldnode-how-are-sites-assessed .field--name-body {
  // fix animation jerking
  margin-top: 0;
}

.field--name-assessments-download-links {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  @media @grid-mobile {
    .field--label {
      .bottom-border();
      border-bottom: none;
      margin-bottom: 3rem;
      // text-transform: none;
    }
    ul a {
      .light-link();
    }
    ul > li {
      align-items: center;
      display: flex;
      justify-content: space-between;
      + li {
        margin-top: 1em;
      }
    }
    ul > li:after {
      .svg-icon(icon-arrow, @iucn-blue-light);
      background-position: center;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 1em;
      width: 2em;
    }
  }
  @media @grid-desktop {
    .remify(margin-top, 40px);
    position: relative;
    li {
      .remify(height, 60px);
      display: flex;
      margin-top: .1em;
    }
    .field--label {
      // @todo: mixin
      background-color: @brand-primary;
      color: #fff;
      display: inline-block;
      text-align: left;
      width: 100%;
      font-size: 22px;
      padding: .5em 1.5em;
      position: relative;
      line-height: 1.2;
      padding-left: 5em;
      font-weight: 300;

      div.field--name-field-pdf-button-title {
        font-size: 15px;
        @media @grid-mobile {
          font-size: 13px;
        }
      }
      &:before {
        .svg-icon(download-report);
        content: '';
        display: block;
        background-position: center;
        background-size: auto;
        border-right: 1px solid;
        height: 75%;
        left: 0;
        position: absolute;
        top: 15%;
        width: 4em;
        @media @grid-mobile {
          width: 2.5em;
        }
        &:before {
          display: none;
        }
        &:after {
          border-right: 1px solid;
          content: '';
          display: block;
          height: 80%;
          position: absolute;
          right: 0;
          top: 10%;
        }
      }
    }
    .collapse,
    .collapsing {
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      transition: opacity .2s;
      z-index: 1;
      display: none;
    }
    &:hover, &:focus, &:active {
      .collapse, .collapsing { opacity: 1; display: block; }
    }
    .field--item a {
      .light-link();
      align-items: center;
      background-color: #fff;
      border: 1px solid;
      display: flex;
      padding: .5em 1em;
      width: 100%;
      &:hover, &:focus, &:active {
        background-color: @link-hover-color;
        border-color: @link-hover-color;
        color: #fff;
      }
    }
  }
}

.field--name-dynamic-block-fieldnode-site-feedback {
  .remify(font-size, 15px);
  padding: 1em;
  font-weight: normal;
  @media @grid-mobile {
    margin-left: -@grid-gutter-width / 2;
    margin-right: -@grid-gutter-width / 2;
    .field + & {
      border-top: 1px solid #ddd;
      // margin-top: 3em;
    }
  }
  @media @grid-desktop {
    .background-variant(@brand-primary, #fff);
  }
  .node--type-site-assessment .col-sm-4 .field + & {
    margin-top: 3em;
  }
  label {
    font-weight: inherit;
  }
  .form-item-subject {
    align-items: flex-end;
    display: flex;
    > label {
      margin-bottom: 0;
      white-space: nowrap;
      &:after {
        background: none;
        content: ' : ';
        display: inline-block;
        height: auto;
        width: auto;
      }
    }
    > input[readonly] {
      background-color: transparent;
      border: none;
      box-shadow: none;
      color: inherit;
      font-size: .8em;
      padding-bottom: 0;
      padding-top: 0;
      text-overflow: ellipsis;
    }
  }
  &:before {
    .svg-icon(feedback, @text-color);
    background-position: center;
    background-size: contain;
    content: '';
    display: inline-block;
    height: @line-height-base * 1em;
    margin: 0 auto;
    vertical-align: middle;
    width: 1.5em;
    @media @grid-mobile {
      font-size: 19px;
      margin-bottom: 1em;
      margin-right: .5em;
    }
    @media @grid-desktop {
      .svg-icon(feedback);
      display: block;
      height: 3.5em;
      width: 3.5em;
    }
  }
  .icon-collapse {
    display: none;
  }
  .form-submit {
    .btn-info();
    .remify(font-size, 20px);
    .remify(height, 60px);
    margin-top: 1em;
    width: 100%;
  }
  .form-required:after {
    display: none;
  }
  .field--label {
    .bottom-border();
    .remify(font-size, 18px);
    font-weight: 900;
    @media @grid-mobile {
      border-bottom: none;
      display: inline-block;
      font-size: 19px;
      margin-bottom: 19px;
      vertical-align: middle;
    }
    @media @grid-desktop {
      text-align: center;
    }
  }
}

/* ==========================================================================
   Mobile assessment
   ========================================================================== */

@media @grid-mobile {
  .iucn-site-wrapper {
    > .container,
    > .container-fluid {
      padding: 0;
      > .row {
        display: flex;
        flex-direction: column;
      }
    }
    .region-site-general-info,
    .region-site-image,
    .field--name-field-geolocation,
    .tab-description,
    .tab-read-more {
      display: none;
    }
    .region-site-title,
    .region-site-sidemenu-toggle {
      order: -1;
    }

    .sidemenu-toggle {
      .iucn-base-btn-icons(magnifier, icon-arrow, #ffffff);
      float: none;
      margin: 0 auto;
      // max-width: 500px;
      width: 100%;
      &:before {
        border-right: 1px solid;
        height: 50px;
        top: -1px;
      }
    }
  }
}

.g-recaptcha > div {
  margin: 0 auto;
  margin-top: 1em;
}

/* ==========================================================================
   Conservation rating gauge
   ========================================================================== */
// .field--name-assessment-rating {
//   position: relative;
// }
// .field--name-assessments-links {
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }
.image-rating-container {
  .svg-icon(~'conservation-rating-gauge/iucn-gauge');
  html[lang='fr'] & { .svg-icon(~'conservation-rating-gauge/iucn-gauge-fr'); }
  html[lang='es'] & { .svg-icon(~'conservation-rating-gauge/iucn-gauge-es'); }
  width: 100%;
  height: 200px;
  background-size: contain;
  background-position: center;
  .loop-conservation-ratings({
    &.@{conservation-rating-class} {
      .svg-icon(~'conservation-rating-gauge/iucn-gauge-@{conservation-rating-class}');
    }
    html[lang='fr'] &.@{conservation-rating-class} {
      .svg-icon(~'conservation-rating-gauge/fr/iucn-gauge-@{conservation-rating-class}-fr');
    }
    html[lang='es'] &.@{conservation-rating-class} {
      .svg-icon(~'conservation-rating-gauge/es/iucn-gauge-@{conservation-rating-class}-es');
    }
  });

}

/* ==========================================================================
   No assessment placeholder
   ========================================================================== */
.no-assessment-placeholder {
  .remify(max-height, 470px);
  .remify(max-width, 450px);
  color: #a6a7a7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20em;
  margin: 0 auto;
  margin-bottom: 4em;
  margin-top: 4em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
  width: 60%;
  @media @grid-mobile {
    max-height: 240px;
    min-width: 240px;
  }
  @media @grid-desktop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  &:before, &:after {
    border: 1px solid @iucn-gray-lighter;
    content: '';
    display: block;
    height: 2em;
    width: 100%;
  }
  &:before {
    border-bottom: none;
  }
  &:after {
    border-top: none;
  }
  span {
    .responsive(font-size, 21px, 14px);
    .svg-icon(full_assessment, #eff0f0);
    background-position: top center;
    background-size: auto 5em;
    line-height: 1.1;
    margin: 0 auto;
    max-width: 70%;
    padding-top: 6em;
    @media @grid-mobile {
      max-width: 80%;
    }
  }
  img {
    // height: @line-height-base * 1em;
    display: block;
    margin: 0 auto;
    width: 70 / 15 * 1em;
  }
}

.html-list {
  margin-top: 1em;
  margin-bottom: 1em;
  > div:first-child {
    &:after { content: ': '; }
  }
  .inline-element-list {
    align-items: center;
    display: flex;
    margin-left: 1em;
    &:before {
      border-radius: 50%;
      border: 2px solid;
      content: '';
      display: inline-block;
      height: 1px;
      margin-right: .5em;
      vertical-align: middle;
      width: 1px;
    }
    > div:first-child {
      margin-right: .5em;
      &:after {
        content: ': ';
      }
    }
    > .field {
      display: inline-block;
      + .field {
        &:before {
          content: ', ';
        }
      }
    }
  }
}
