@assessment-tabs-bg: #f7f7f7;
.iucn-site-wrapper {
  .field--name-field-inscription-year .field--label,
  .field--name-field-inscription-criteria .field--label {
    font-weight: normal;
  }
  .field--name-field-inscription-criteria {
    .field__items > .field--item {
      display: inline;
    }
  }
  .field--name-body {
    margin-top: 1em;
  }
}
.node--type-site-assessment {
  .nav-tabs {
    .container();
    background-color: @assessment-tabs-bg;
    display: flex;
    .remify(font-size, 15px);
    padding-left: 0;
    padding-right: 0;
    &,
    > li,
    > li > a,
    > li.active > a, > li.active > a:hover, > li.active > a:focus {
      border: none;
    }
    > li {
      display: flex;
      flex: 1;
      &:first-child:before,
      &:last-child:before {
        content: '';
        background-color: @assessment-tabs-bg;
        display: block;
        height: 100%;
        width: 9999px;
        position: absolute;
        top: 0;
      }
      &:first-child:before { right: 100%; }
      &:last-child:before { left: 100%; }

      > a {
        color: @text-color;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        transition: none;
        .remify(padding, 20px);
        padding-left: 7em;
        background-position: 1.5em 3em;
        background-size: auto 4em;
        > * {
          display: block;
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 15%;
          height: 70%;
          left: 5.5em;
          border-right: 1px solid fade(#000, 10%);
        }
        &[href="#summary"] {
          .svg-icon(summary);
        }
        &[href="#full_assessment"] {
          .svg-icon(full-assessment);
          padding-left: 7.5em;
          &:before {
            left: 6.5em;
          }
        }
        &[href="#references"] {
          .svg-icon(references);
        }
        position: relative;
      }

      &.active {
        position: relative;
        // background-color: @brand-primary;
        > a > *,
        > a, > a:hover, > a:focus {
          background-color: @brand-primary;
          color: #fff;
        }
        .tab-read-more:after { .svg-icon(icon-arrow-white); }
        &:first-child:before,
        &:last-child:before {
          background-color: @brand-primary;
        }
        > a:before {
          border-right-color: fade(#fff, 30%);
        }
        > a[href="#summary"] {
          .svg-icon(summary-white);
        }
        > a[href="#full_assessment"] {
          .svg-icon(full-assessment-white);
        };
        > a[href="#references"] {
          .svg-icon(references-white);
        }
      }
    }

    .tab-label {
      font-size: 19 / 15 * 1em;
      font-weight: 700;
      margin-bottom: .5em;
    }
    .tab-description {
      color: #818181;
      margin-bottom: 1em;
    }
    .tab-read-more {
      color: @link-hover-color;
      margin-top: auto;
      &:after {
        .svg-icon(icon-arrow-blue);
        content: '';
        background-size: contain;
        background-position: center;
        width: 2em;
        height: 1em;
        display: inline-block;
        vertical-align: middle;
        margin-left: .5em;
      }
    }
  }

  .conservation-outlook-summary-group {
    position: relative;
    h3 {
      .left-border();
      .remify(font-size, 28px);
    }
    .field--name-field-as-end-date {
      .remify(font-size, 15px);
      color: #818181;
      position: absolute;
      right: 0;
      top: .3 * 28px;
      .field--label {
        font-weight: normal;
        &:after {
          display: none;
        }
      }
      .field--label,
      .field--item {
        display: inline-block;
        float: none;
        padding-right: 0;
      }
    }
    .field--name-field-as-global-assessment-level {
      .iucn-base-arrow();
      display: inline-flex;
    }
  }
  .loop-conservation-categories({
    .@{conservation-category-class}-summary-group {
      .remify(margin-top, 40px);
      border-top: 1px solid @hr-border;
      h3 {
        .remify(margin-top, 35px);
        &:before {
          .svg-icon(~'@{conservation-category-class}-black');
          content: '';
          display: inline-block;
          width: 1.5em;
          height: 1.5em;
          background-position: center;
          background-size: contain;
          vertical-align: baseline;
          margin-right: .2em;
          margin-bottom: -.2em;
        }
      }
    }
  });
  .field--name-field-as-vass-wh-state,
  .field--name-field-as-protection-ov-rating {
    &, a {
      .remify(font-size, 17px);
      color: @iucn-orange;
      font-weight: 900;
      margin-bottom: 1.8em;
    }
  }
}

.assessment-expand-buttons {
  list-style-type: none;
  text-align: right;
  padding-left: 0;
  li {
    .remify(font-size, 14px);
    color: @iucn-blue-light;
    display: inline-block;
    text-transform: uppercase;
    + li {
      border-left: 1px solid;
      padding-left: .5em;
      margin-left: .5em;
    }
  }
}
