/* ==========================================================================
    Benefits case studies page
    ========================================================================== */

// @todo: use mixin
// @benefits-min-size-to-fit is minimum vw required to fit content of benefits headings on one line
@benefits-font-size: 27px;
@benefits-min-size-to-fit: 2.1; // in vw
@benefits-max-vw: (ceil((unit(@benefits-font-size) * 100 / @benefits-min-size-to-fit) * 1px));

.node--type-benefit.node--view-mode-teaser {
  .field--name-node-title {
    > h1, > h2, > h3, > h4, > h5, > h6 { .remify(font-size, 24px); }
  }
}

.benefits-list-category-wrapper {

  @media (min-width: @grid-float-breakpoint) and (max-width: @benefits-max-vw) {
    font-size: @benefits-min-size-to-fit * 1vw;
  }
  @media (min-width: (@benefits-max-vw + 1)) {
    .remify(font-size, @benefits-font-size);
  }
  > h1, > h2, > h3, > h4, > h5, > h6 {
    font-size: inherit;
    margin-bottom: 1em;
    @media @grid-mobile {
      font-size: @font-size-h2;
    }
  }
  // }
  @media @grid-desktop {
    .node--type-benefit.node--view-mode-teaser .field--name-node-title {
      > h1, > h2, > h3, > h4, > h5, > h6 {
        font-size: .9em;
      }
    }
  }
  .views-row + .views-row {
    margin-top: 1em;
  }

  @media @grid-mobile {
    & + & {
      margin-top: 2em;
    }
  }
}


/* ==========================================================================
    Benefits detail page
    ========================================================================== */
.iucn-who-benefit-case-study {
  .container-fluid & > .container {
    @media (max-width: @screen-md-max) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .field--name-body {
    font-style: italic;
  }
  .field--name-field-author-name,
  .field--name-field-benefit-year {
    text-align: right;
    &:first-child {
      margin-top: -1.8em;
    }
    .field--label {
      font-weight: normal;
    }
  }
  .field--name-field-benefit-image {
    .remify(margin-bottom, 70px);
  }
  .row + .row,
  .field + .field {
    margin-top: .5em;
  }
  .field--name-field-links {
    .field--label {
      .bottom-border();
    }
    .field--item > a {
      .light-link();
    }
    @media @grid-mobile {
      margin-top: 1.5em;
    }

  }
  @media @grid-mobile {
    .col-sm-8,
    .col-sm-4 {
      margin-top: .5em;
    }
  }
}

/* ==========================================================================
   Benefits map specifics
   ========================================================================== */

.block-benefits-page-map {
  @media @grid-desktop {
    border-bottom: 7px solid @iucn-blue-lightest;
    border-top: 7px solid @iucn-blue-lightest;
    padding-bottom: 7px;
    padding-top: 7px;
  }
  .map-block-main {
    height: 42em;
    @media @grid-mobile {
      height: 25em;
    }
  }
  .map-filters-container {
    flex: 1 1 auto;
  }
  .sidemenu .map-filters-container {
    @media @grid-mobile {
      margin-left: (-@grid-gutter-width / 2);
      margin-right: (-@grid-gutter-width / 2);
    }
  }
  .sidemenu {
    @media @grid-desktop {
      display: flex;
      flex: 1 1 auto;
      overflow: hidden;
    }
  }
  .map-filters {
    padding: 0;
    .icon-collapse:before {
      .svg-icon(collapse-plus, @iucn-blue-dark);
      background-position: center;
      background-size: contain;
      content: '';
      height: 1em;
      margin-right: .5em;
      width: 1em;
    }
    [aria-expanded="true"] > .icon-collapse:before {
      .svg-icon(collapse-minus, @iucn-blue-dark);
    }
    .panel-title {
      font-weight: 700;
      padding-left: 2em;
      @media @grid-mobile {
        padding-left: 2em + 1em;
      }
    }
  }
  .map-filter-items {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
  .map-filter-item {
    align-items: center;
    display: flex;
    padding-left: 0;
    &:before {
      .svg-icon(checkbox-empty, #ddd);
      background-size: auto .9em;
      content: '';
      height: 100%;
      top: 0;
      @media @grid-mobile {
        width: 1.5em + 1em;
      }
    }
    &.active:before {
      .svg-icon(checkbox, #ffffff);
    }
    a, a:hover, a:focus, a:active {
      color: @text-color;
    }
  }
  .benefit-category span { vertical-align: middle; }
  .map-site-details { border-top: 1px solid #ddd; }
  .map-site-detail {
    background-color: #f9f9f9;
    .title { margin-right: 2em; }
    .ie-flex-fix {
      display: flex;
      flex-direction: column;
    }
  }

  .title-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 auto;
    justify-content: space-between;
    @media @grid-desktop {
      .background-variant(@iucn-blue-dark, #fff);
      padding: .8em (@grid-gutter-width / 2);
    }
    h3 {
      font-size: 17 / unit(@map-sidebar-font-size) * 1em;
      margin: 0;
      margin-right: auto;
      + div {
        font-weight: 300;
      }
    }
  }
  .sidemenu-toggle {
    @media @grid-mobile {
      .iucn-btn-icon(icon-arrow, @pseudo: after, @fill: #ffffff);
      display: block;
      flex: 1;
      font-size: 1em;
      font-weight: inherit;
      min-height: auto;
      padding: .8em (@grid-gutter-width / 2);
      text-align: center;
    }
    @media @grid-desktop {
      display: block;
      &, &:hover, &:focus, &:active {
        color: inherit;
        cursor: default;
      }
    }
  }
  // .loop-benefits-topics({
  //   #topic-@{benefit-topic-id} .benefit-category {
  //     color: @benefit-topic-color;
  //   }
  // });
  .panel-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.benefits-expand-buttons {
  .expand-button,
  .collapse-button {
    font-size: 10 / unit(@map-sidebar-font-size) * 1em;
    font-weight: normal;
    text-transform: uppercase;
  }
  .sidemenu & {
    text-align: right;
    .expand-button,
    .collapse-button {
      font-size: .8em;
    }
  }
}

.benefit-selection-placeholder {
  .remify(height, 127px);
  margin-bottom: 1em;
  margin-top: 1em;
  width: 90%;
  img { width: 40 / unit(@map-sidebar-font-size) * 1em; }
}

.benefit-category-container {
  position: relative;
  + .panel {
    border-top: 1px solid #ddd;
  }
}
.benefit-category {
  padding-left: 2em;
  padding-right: (@grid-gutter-width / 2);
  @media @grid-mobile { padding-left: 3em; }
  &[data-category='all'] {
    display: block;
    padding: 10px (@grid-gutter-width / 2);
    padding-left: 2em + 1.5em;
    @media @grid-mobile { padding-left: 3em + 1.5em; }
  }
  img {
    width: 1.4em;
    @media @grid-mobile { width: 1em; }
  }
}
