#block-mainnavigation,
#block-iucn-who-main-menu {
  > ul > li > a {
    text-transform: uppercase;
  }
}

// Facets block
.region-facets {
  .collapse-visible-desktop();
}
#facets-collapse {
  @media @grid-mobile {
    > .facets-content {
      padding-left: (.5 * @font-size-base--mobile +  20px);
    }
  }
}
.facets-title {
  // @todo: make mixin out of this
  .bottom-border();
  font-size: 1em;
  font-weight: 900;
  margin-top: 0;
  #sidemenu & {
    @media @grid-mobile {
      border-bottom: none;
      font-size: 25px;
      margin-bottom: .2em;
      .caret-triangle {
        &:before {
          .svg-icon(caret-triangle);
          content: '';
          background-position: center;
          background-size: contain;
          display: block;
          height: 20px;
          width: 20px;
        }
      }
    }
    @media @grid-desktop {
      .caret-triangle {
        display: none;
      }
    }
  }
}
.facets-subtitle + #facets-group {
  margin-top: 1.5em;
}
.block-facets {
  &.panel {
    border: none;
    box-shadow: none;
  }
  .panel-heading {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .panel-heading + .panel-collapse > .panel-body {
    border:none;
  }
  .panel-title {
    // .link();
    color: @iucn-blue-dark;
    font-size: 1em;
    display: flex;
    @media @grid-mobile {
      color: @text-color;
      font-size: 19px;
      font-weight: 900;
      // padding-left: 0;
      margin-left: calc(~'(-@{grid-gutter-width} / 2) - 20px');
    }
  }
  &:first-child .panel-title {
    margin-top: 0;
  }
  // .panel-title.active-facet,
  // .panel-title:hover, .panel-title:focus, .panel-title:hover:focus {
  //   color: @link-hover-color;
  // }
  ul {
    list-style-type: none;
    padding-left: .5em;
    position: relative;
  }
  @media @grid-desktop {
    .facet-item__status {
      // @todo: checkbox mixin
      background-color: @iucn-blue-light;
      .svg-icon(checkbox);
      background-position: center;
      background-size: auto 60%;
      border-radius: 4px 0 0 4px;
      display: block;
      height: 1em * @line-height-base;
      overflow: hidden;
      position: absolute;
      right: calc(~'100% - .5em');
      text-indent: 999px;
      width: 1.5em;
      + .facet-item__value {
        background: @iucn-gray-lightest;
      }
    }
    .facet-item__value {
      display: block;
      padding-left: .5em;
    }
  }
  .facet-item + .facet-item {
    margin-top: .2em;
  }
  .facet-item > a {
    .link();
    color: @text-color;
  }
  @media @grid-mobile {
    ul,
    .facet-item__value,
    .panel-body {
      padding-left: 0;
      padding-right: 0;
    }
    .icon-collapse {
      display: inline-flex;
      align-items: center;
      width: 20px;
      &:before {
        .svg-icon(plus);
        background-position: center;
        background-size: 95%;
        content: '';
        display: inline-block;
        height: 13px;
        margin-right: .5 * @font-size-base--mobile;
        width: 13px;
      }
    }
    [aria-expanded="true"] > .icon-collapse:before,
    .open > a > .icon-collapse:before {
      .svg-icon(minus);
      background-size: 98%;
    }
    .facet-item__status {
      display: none;
    }
    .facet-item > a {
      display: block;
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      &.is-active {
        @sidemenu-left-offset: (@grid-gutter-width / 2) + (.5 * @font-size-base--mobile +  20px);
        background-color: @iucn-blue-light;
        color: @text-color;
        margin-left: -@sidemenu-left-offset;
        padding-left: @sidemenu-left-offset;
        margin-right: -@grid-gutter-width / 2;
        padding-right: @grid-gutter-width / 2;
      }
    }
  }
}

#block-languagedropdownswitcher {
  list-style-type: none;
  padding-left: 0;
  .navbar-collapse & {
    @media @grid-mobile {
      float: left;
      margin-left: 4 * @font-size-base--mobile;
    }
    .select-wrapper:after {
      .svg-icon(dropdown-caret);
      background-position: center;
      background-size: contain;
      content: '';
      display: inline-block;
      height: @line-height-base * 1em;
      line-height: 1;
      margin-top: -.5em;
      // padding-right: .5em;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 50%;
      width: 1.8em;
    }
    select {
      border: none;
      box-shadow: none;
      color: @iucn-blue-light;
      cursor: pointer;
      display: inline-block;
      padding-right: 1.7em;
      text-align: right;
      width: auto !important;
      &.form-control {
        font-size: inherit;
        height: auto;
        @media @grid-mobile {
          padding-left: 0;
        }
      }
    }
  }
  @media @grid-desktop {
    &:after {
      border-right: 1px solid fade(@iucn-blue-light, 20%);
      content: '';
      display: block;
      height: 80%;
      position: absolute;
      left: 0;
      top: 10%;
    }
    .navbar-collapse & {
      display: flex;
      flex-direction: column;
      float: right;
      font-size: 17 / 15 * 1em;
      height: @navbar-height;
      justify-content: center;
      position: relative;
      padding-left: 1.5em;
    }
  }
}
.block-social-media {
  .block-title {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
  }
  .social-media-sharing {
    display: inline-block;
    margin-top: 0.5em;
  }
  .social-media-sharing li {
    .remify(margin-left, 25px);
    margin-right: 0;
    @media @grid-mobile {
      li:first-child {
        margin-left: 0;
      }
    }
  }
  .social-media-sharing {
    .share {
      img {
        .remify(height, 50px);
        .remify(width, 50px);
        @media @grid-mobile {
          height: 60px;
          width: 60px;
        }
      }
    }
  }
}

.block-views-exposed-filter-blocksites-search-sites-search-page-database {
  .form-inline {
    display: flex;
    .form-type-textfield {
      margin-bottom: 0;
      width: 100%;
      label {
        display: none;
      }
    }
    .form-actions {
      z-index: 0;
    }
    .input-group-addon,
    .form-autocomplete,
    .form-text {
      border-color: @input-bg;
      box-shadow: none;
    }
    .form-autocomplete,
    .form-text {
      .form-control();
      border-color: @input-bg;
      box-shadow: none;
      color: @iucn-blue-dark;
      width: 100%;
      &:focus {
        border-color: @input-bg;
        box-shadow: none;
      }
    }
    .form-submit {
      margin-right: 0;
      background-color: #ddf2fa;
      .svg-icon(magnifier);
      background-position: center;
      background-size: 75%;
      border-color: #ddf2fa;
      text-indent: -9999px;
      border-left: 1px solid @iucn-blue-dark;
      width: 43 / unit(@font-size-base) * 1em;
    }
  }
  @media @grid-desktop {
    .region-search-block > & {
      width: 50%;
    }
  }
  .form-inline {
    .responsive(height, 50px, 50px);
    // .input-group,
    // .form-text,
    // .form-submit {
    //   height: 100%;
    // }
    .form-group {
      display: flex;
    }
    .input-group {
      display: inline-flex;
      width: 100%;
    }
    .input-group-addon {
      display: flex;
      align-items: center;
    }
    .form-submit {
    .responsive(width, 50px, 50px);
    }
  }
  @media @grid-mobile {
    .form-inline {
      .form-text,
      .form-autocomplete {
        font-size: 16px;
      }
    }
  }
}

.explore-map-button {
  text-align: center;
  // margin-top: 3em;
  a {
    .btn-info();
    .responsive(height, 50px, 50px);
    display: inline-block;
    text-align: center;
    width: auto;
    .remify(font-size, 22px);
    padding: 0.5em 1.5em 0.5em 4.5em;
    position: relative;
    line-height: 1.2;
    font-weight: 300;
    @media @grid-mobile {
      font-size: 21px;
      line-height: 1.1;
      padding-left: 3em;
      width: 100%;
    }
    div.field--name-field-pdf-button-title {
      .remify(font-size, 15px);
      @media @grid-mobile {
        font-size: 13px;
      }
    }
    .glyphicon {
      .svg-icon(explore);
      background-position: center;
      background-size: 32% auto;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 3.5em;
      @media @grid-mobile {
        background-size: 50% auto;
        width: 2.5em;
      }
      &:before {
        display: none;
      }
      &:after {
        border-right: 1px solid;
        content: '';
        display: block;
        height: 80%;
        position: absolute;
        right: 0;
        top: 10%;
      }
    }
  }
  .region-search-block & .explore-map-prefix {
    font-size: 18px;
    @media @grid-mobile {
      display: block;
      margin-top: .5em;
      margin-bottom: .5em;
    }
    @media @grid-desktop {
      display: inline-block;
      margin-left: 2em;
      margin-right: 2em;
    }
  }
}

.region-sidebar-first{
  section{
    margin-bottom: 2em;
    a{
      color:@iucn-blue-light;
    }
    h2.block-title {
      // @todo: make mixin out of this
      .bottom-border();
      font-size: 1em;
      font-weight: 900;
      margin-top: 0;
    }
  }
}
