#block-mainnavigation,
#block-iucn-who-main-menu {
  > ul > li > a {
    text-transform: uppercase;
  }
}

// Facets block
.facets-toggle {
  color: @text-color;
  &:hover, &:active, &:focus {
    color: @link-hover-color;
  }
  #sidemenu & + #facets-collapse {
    @media @grid-mobile {
      > .facets-content {
        padding-left: calc(~'25px + .2em');
      }
    }
    @media @grid-desktop {
      display: block;
      height: auto !important;
    }
  }
}
.facets-title {
  // @todo: make mixin out of this
  border-bottom: 1px solid #ddd;
  font-size: 1em;
  font-weight: 900;
  margin-top: 0;
  padding-bottom: .5em;
  text-transform: uppercase;
  #sidemenu & {
    @media @grid-mobile {
      border-bottom: none;
      font-size: 25 * @rem-multiplier--mobile;
      .caret-triangle {
        svg {
          height: .6em;
          width: auto;
        }
      }
    }
    @media @grid-desktop {
      .caret-triangle {
        display: none;
      }
    }
  }
}
.facets-subtitle + #facets-group {
  margin-top: 1.5em;
}
.block-facets {
  &.panel {
    border: none;
    box-shadow: none;
    .panel-heading {
      background-color: transparent;
      border: none;
      padding: 0;
    }
    .panel-heading + .panel-collapse > .panel-body {
      border:none;
    }
    .panel-title {
      .link();
      color: @iucn-blue-dark;
      font-size: 1em;
    }
    &:first-child .panel-title {
      margin-top: 0;
    }
    // .panel-title.active-facet,
    // .panel-title:hover, .panel-title:focus, .panel-title:hover:focus {
    //   color: @link-hover-color;
    // }
    ul {
      list-style-type: none;
      padding-left: .5em;
      position: relative;
    }
    // @todo: checkbox mixin
    .facet-item__status {
      background-color: @iucn-blue-light;
      background-image: url(~'@{images-path}checkbox.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 60%;
      border-radius: 4px 0 0 4px;
      display: block;
      height: 1em * @line-height-base;
      overflow: hidden;
      position: absolute;
      right: calc(~'100% - .5em');
      text-indent: 999px;
      width: 1.5em;
      + .facet-item__value {
        background: @iucn-gray-lightest;
      }
    }
    .facet-item > a {
      .link();
      color: @text-color;
    }
    .facet-item__value {
      display: block;
      padding-left: .5em;
    }
  }

}

#block-languagedropdownswitcher {
  list-style-type: none;
  padding-left: 0;
  .navbar-collapse & {
    @media @grid-mobile {
      float: left;
      margin-left: 4rem;
    }
    .select-wrapper:after {
      background-image: url(~'@{images-path}dropdown-caret.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: @line-height-base * 1em;
      line-height: 1;
      margin-top: -.5em;
      // padding-right: .5em;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 50%;
      width: 1.8em;
    }
    select {
      border: none;
      box-shadow: none;
      color: @iucn-blue-light;
      cursor: pointer;
      display: inline-block;
      padding-right: 1.7em;
      text-align: right;
      width: auto !important;
      &.form-control {
        font-size: inherit;
        height: auto;
        @media @grid-mobile {
          padding-left: 0;
        }
      }
    }
  }
  @media @grid-desktop {
    &:after {
      border-right: 1px solid fade(@iucn-blue-light, 20%);
      content: '';
      display: block;
      height: 80%;
      position: absolute;
      left: 0;
      top: 10%;
    }
    .navbar-collapse & {
      display: flex;
      flex-direction: column;
      float: right;
      font-size: 17 / 15 * 1em;
      height: @navbar-height;
      justify-content: center;
      position: relative;
      padding-left: 1.5em;
    }
  }
}
.block-social-media {

  margin-top: 2em;
  .block-title {
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
  }
  .social-media-sharing {
    margin-top: 0.5em;
    display: inline-block;
  }
  .social-media-sharing li {
    margin-right: 25px;
  }
  .social-media-sharing {
    .share {
      img {
        width: 50px;
      }
    }
  }
}

.block-views-exposed-filter-blocksites-search-sites-search-page-database {
  .form-inline {
    display: flex;
    .form-type-textfield {
      margin-bottom: 0;
      @media @grid-mobile {
        label {
          display: none;
        }
      }
    }
    .form-actions {
      z-index: 0;
    }
    .input-group-addon,
    .form-text {
      border-color: @input-bg;
    }
    .form-text {
      &:focus {
        border-color: @input-bg;
        box-shadow: none;
      }
    }
    .form-submit {
      margin-right: 0;
      background-color: #ddf2fa;
      background-image: url(~'@{images-path}magnifier.svg');
      background-repeat: no-repeat;
      background-size: 75%;
      background-position: center;
      border-color: #ddf2fa;
      text-indent: -9999px;
      border-left: 1px solid @iucn-blue-dark;
      width: 43 / unit(@font-size-base) * 1em;
    }
  }
  @media @grid-mobile {
    .form-inline {
      height: 50px;
      .input-group,
      .form-text,
      .form-submit {
        height: 100%;
      }
      .form-text {
        font-size: 16px;
      }
      .form-submit {
        width: 50px;
      }
    }
  }
}
