@decision-tree-border-radius: 6px;

.view-decision-tree {
  .views-row + .views-row {
    margin-top: (2 * @line-height-computed);
  }
}

.decision {
  a[rel="bookmark"] {
    display: block;
  }
}

#block-decisiontree {
  clear: both;
}

.decision-tree-holder,
.iucn-who-decision-tree-wrapper {
  width: 100%;
}

.decision-tree-holder.media--loading {
  margin: 15px 0;
  min-height: (2 * @line-height-computed);
}

.decision-tree-holder:not(:empty) {
  align-items: flex-start;
  border: 2px dashed #ddd;
  border-radius: 6px;
  justify-content: space-evenly;
  margin-top: 2.4rem;
  padding: 1em;
  padding-top: 0;
  position: relative;
  top: -2px;
  width: 100%;
  transition: border-color .2s;
  .decision-button-holder-container.active-inside:hover + &,
  .node--type-decision.node--view-mode-ajax:hover ~ & {
    border-color: @iucn-blue-lightest;
  }
}

.decision-button-holder-container {
  display: flex;
  justify-content: space-evenly;
  pointer-events: none;
  width: 100%;
}

.decision-button-holder {
  background-color: @iucn-gray-lighter;
  border-radius: @decision-tree-border-radius;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2.4rem;
  padding: .3em 1em;
  pointer-events: all;
  position: relative;
  text-align: center;

  &.active {
    background-color: @iucn-blue-lightest;
    color: @link-color;
    &:before,
    &:after {
      background-color: @iucn-blue-lightest;
      border-left: 1rem solid @body-bg;
      border-right: 1rem solid @body-bg;
      content: '';
      display: inline-block;
      height: @line-height-computed;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 3rem;
      z-index: 1;
    }
    &:before { bottom: 100%; }
    &:after {
      height: 2 * @line-height-computed;
      top: 100%;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
}

.node--type-decision.node--view-mode-ajax {
  background-color: @iucn-blue-lightest;
  border-radius: @decision-tree-border-radius;
  flex: 1;
  margin: 0;
  margin-top: 2.4rem;
  padding: 1.5em 1em;
  width: 100%;
  h3 {
    margin: 0;
  }
  .field--name-body {
    margin-top: (@line-height-computed / 2);
  }
}

.iucn-who-decision-tree-group {
  flex: 1;
  position: relative;
}

.final-decision {
  .node--type-decision.node--view-mode-ajax {
    background: orange;
  }
}
.only-yes-decision{
  > .iucn-who-decision-tree-group > .node--type-decision.node--view-mode-ajax {
    background: green;
  }
}
