.footer {
  background-color: @brand-primary;
  hr {
    border-color: fade(#fff, 10%);
  }
  &, a {
    color: #fff;
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: @iucn-blue-light;
  }
  .nav > li > a {
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
  #block-mainnavigation {
    @media @grid-desktop {
      .nav > li > a {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .navbar-nav {
      float: none;
      @media @grid-desktop {
        display: flex;
        width: 100%;
      }
      > li {
        flex: 1 1 auto;
      }
      > li > a {
        margin-bottom: .9em;
        margin-top: .9em;
        padding-bottom: .5em;
        padding-top: .5em;
        @media @grid-mobile {
          margin-bottom: .5em;
          margin-top: .5em;
          padding-bottom: .5em;
          padding-top: .5em;
        }
      }
    }
    .inner {
      @media @grid-mobile {
        margin-left: 15 * @rem-multiplier--mobile;
      }
      > li > a {
        font-weight: 200;
        padding-bottom: .5em;
        padding-top: .5em;
      }
    }
  }
  .region-footer + .footer-external-links {
    margin-top: 2em;
  }
  .iucn-wcpa-logo {
    height: 60px;
    width: auto;
    @media @grid-mobile {
      display: block;
      margin: 0 auto;
    }
  }
}

.footer-external-links {
  + * {
    margin-top: 2rem;
  }
}
