.footer {
  background-color: @brand-primary;
  hr {
    border-color: fade(#fff, 10%);
  }
  &, a {
    color: #fff;
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: @iucn-blue-light;
  }
  .nav > li > a {
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
  #block-mainnavigation {
    @media @grid-mobile {
      display: none;
    }
    @media @grid-desktop {
      .nav > li > a {
        padding-left: 0;
        padding-right: 0;
      }
      .navbar-nav > li + li {
        margin-left: 1em;
      }
    }
    .navbar-nav {
      float: none;
      @media @grid-desktop {
        display: flex;
        width: 100%;
      }
      > li {
        flex: 1 1 auto;
      }
      > li > a {
        margin-bottom: .9em;
        margin-top: .9em;
        padding-bottom: .5em;
        padding-top: .5em;
        @media @grid-mobile {
          margin-bottom: .5em;
          margin-top: .5em;
          padding-bottom: .5em;
          padding-top: .5em;
        }
      }
    }
    .inner {
      > li > a {
        font-weight: 200;
        padding-bottom: .5em;
        padding-top: .5em;
      }
    }
  }
  .region-footer + .footer-external-links {
    margin-top: 2em;
  }
  .iucn-wcpa-logo {
    height: 60px;
    width: auto;
    @media @grid-mobile {
      display: block;
      height: 70px;
      margin: 0 auto;
    }
  }
  .copyright {
    font-weight: 200;
    .separator {
      margin: 0 .5em;
    }
    @media @grid-mobile {
      .separator {
        display: none;
      }
      a {
        display: block;
        margin-top: .5em;
      }
    }
  }
  @media @grid-mobile {
    > .container {
      display: flex;
      flex-flow: column;
      .footer-external-links {
        order: -1;
      }
    }
    .region-footer + .footer-external-links {
      margin-top: 0;
    }
    hr {
      display: none;
    }
  }
  .block-social-media {
    float: right;
    .block-title {
      float: left;
    }
    .social-media-sharing {
      float: right;
      ul {
        padding-left: 0;
      }
    }
    @media @grid-mobile {
      text-align: center;
      &,
      .block-title,
      .social-media-sharing {
        float: none;
        display: block;
      }
    }
  }

}

.footer-external-links {
  + * {
    margin-top: 2rem;
  }
}
