html {
  font-size: @font-size-base;

  @media @grid-mobile {
    font-size: @font-size-base--mobile;
    // line-height: @line-height-base--mobile;
  }
}
body {
  font-size: inherit;
}
// Show focus outlines only if navigating with keyboard
body:not(.show-focus-outlines) {
  button,
  [tabindex],
  input, select, textarea {
    &:focus, &:active, &:active:focus {
      outline: none !important;
    }
  }
}

.holygrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.holygrail-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
@media (max-width: @grid-float-breakpoint-max) {
  .holygrail,
  .holygrail-body {
    > * {
      width: 100%;
    }
  }
}
.page-header {
  border-bottom: none;
  border-left: .5em solid;
  color: @iucn-blue-dark;
  font-weight: 800;
  line-height: 1.6;
  padding-bottom: (@line-height-computed / 2);
  padding-left: .25em;
  .breadcrumb + & {
    margin-top: 1em;
  }
  @media @grid-mobile {
    .row();
  }
}
a {
  transition: color .2s, background-color .2s;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

// Generic collapse icon
.icon-collapse {
  &:before {
    content: '+';
    display: inline-block;
    margin-right: 1em;
    width: 0;
  }
  [aria-expanded="true"] > &:before {
    content: '-';
  }
  .open > a > &:before {
    content: '—';
  }
}

a.is-active {
  color: @component-active-color;
}

// Conservation status related classes
.conservation-status.good {
  color: @iucn-green;
}

.conservation-status.good-concerns {
  color: @iucn-green-lighter;
}

.conservation-status.significant-concern {
  color: @iucn-orange;
}

.conservation-status.critical {
  color: @iucn-red;
}

.conservation-status.data-deficient {
  color: #333;
}

.conservation-status.coming-soon {
  color: @iucn-gray;
}

// Triangle caret
.caret-triangle {
  display: inline-block;
  transform+_: rotate(-90deg);
  &:first-child {
    margin-right: .2em;
  }
  .caret-path {
    transition: fill .2s;
  }
  [aria-expanded=true] & {
    transform+_: rotate(0deg);
  }
}
a:hover,
a:focus,
a:active {
  .caret-triangle .caret-path {
    fill: @link-hover-color;
  }
}

.paragraph-background-light {
  background-color: @iucn-blue-lightest;
}