html {
  font-size: @font-size-base;

  @media @grid-mobile {
    font-size: @font-size-base--mobile;
    // line-height: @line-height-base--mobile;
  }
}
body {
  font-size: inherit;
}
// Show focus outlines only if navigating with keyboard
body:not(.show-focus-outlines) {
  button,
  [tabindex],
  input, select, textarea {
    &:focus, &:active, &:active:focus {
      outline: none !important;
    }
  }
}

.holygrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.holygrail-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
@media (max-width: @grid-float-breakpoint-max) {
  .holygrail,
  .holygrail-body {
    > * {
      width: 100%;
    }
  }
}
.page-header {
  .left-bordered-heading();
  border-bottom: none;
  font-weight: 800;
  .breadcrumb + & {
    margin-top: 1em;
  }
  @media @grid-mobile {
    .row();
  }
}
a {
  transition: color .2s, background-color .2s;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

// Generic collapse icon
.icon-collapse {
  &:before {
    content: '+';
    display: inline-block;
    margin-right: 1em;
    width: 0;
  }
  [aria-expanded="true"] > &:before {
    content: '-';
  }
  .open > a > &:before {
    content: '—';
  }
}

a.is-active {
  color: @component-active-color;
}
// @todo: use mixin
// Conservation status related classes
.conservation-status.good {
  color: @iucn-green;
}

.conservation-status.good-concerns {
  color: @iucn-green-lighter;
}

.conservation-status.significant-concern {
  color: @iucn-orange;
}

.conservation-status.critical {
  color: @iucn-red;
}

.conservation-status.data-deficient {
  color: #333;
}

.conservation-status.coming-soon {
  color: @iucn-gray;
}

// Triangle caret
.caret-triangle {
  display: inline-block;
  transform+_: rotate(-90deg);
  &:first-child {
    margin-right: .2em;
  }
  .caret-path {
    transition: fill .2s;
  }
  [aria-expanded=true] & {
    transform+_: rotate(0deg);
  }
}
a:hover,
a:focus,
a:active {
  .caret-triangle .caret-path {
    fill: @link-hover-color;
  }
}

.container-fluid article.page {
  .row();
}
// Override default browser ol behaviour
// ol {
//   counter-reset: item;
//   margin-left: 0;
//   padding-left: 0;
//   float: left;
//   + * {
//     clear: left;
//   }
//   li {
//     display: block;
//     padding-left: 1em;
//   }
//   li::before {
//     display: inline-block;
//     content: counter(item)". ";
//     counter-increment: item;
//     width: 1em;
//     margin-left: -1em;
//   }
// }

// CKeditor custom styles
.left-border {
  .left-bordered-heading();
  h2& {
    font-weight: 500;
  }
}
ol {
  li.arrow {
    // max-width: 350px;
    background-color: @iucn-blue-lightest;
    height: 70px; // needs media queries for resizing
    margin-right: 35px + 30px;
    margin-top: 30px;
    margin-left: -1.5em; // compensate for default padding
    padding: 1.2em 2em;
    padding-left: 3em;
    position: relative;
    list-style-type: none;
    box-shadow: 0 7px 11px -9px fade(#000, 90%);
    left: 30px;
    perspective: 345px;
    perspective-origin: left;
    .counter {
      border-right: 1px solid;
      color: @iucn-blue-dark;
      font-size: 2em;
      left: 0;
      line-height: 1.5em;
      padding: 0 .25em;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before {
      content: '';
      background-color: #bdd6e1;
      background-image: linear-gradient(to right, #bdd6e1, darken(#bdd6e1, 2%));
      width: 360px;
      height: 100%;
      display: block;
      position: absolute;
      right: 100%;
      top: 0;
      transform: rotateY(-80deg);
      transform-origin: right;
    }
    &:first-child:before {
      transform: rotateY(-80deg) skewY(-18deg);
    }
    &:last-child:before {
      transform: rotateY(-80deg) skewY(18deg);
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 35px 0 35px 35px;
      border-color: transparent transparent transparent @iucn-blue-lightest;
      position: absolute;
      left: 100%;
      top: 0;
    }
    + .li.arrow {
      margin-top: 30px;
    }
  }
}
