html {
  font-size: @rem-system-base / 16 * 100%;
  @media @grid-mobile {
    font-size: @rem-system-base--mobile / 16 * 100%;
  }
}
body {
  font-size: unit(@font-size-base) / @rem-system-base * 100%;
}
// Show focus outlines only if navigating with keyboard
body:not(.show-focus-outlines) {
  button,
  [tabindex],
  input, select, textarea {
    &:focus, &:active, &:active:focus {
      outline: none !important;
    }
  }
}

.holygrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.holygrail-body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  overflow: hidden;
}
@media (max-width: @grid-float-breakpoint-max) {
  .holygrail,
  .holygrail-body {
    > * {
      width: 100%;
    }
  }
}
.page-header {
  .left-bordered-heading();
  border-bottom: none;
  font-weight: 800;
  margin-bottom: 1em;
  @media @grid-mobile {
    font-size: 32px;
    margin-top: 0;
  }
  // .breadcrumb + & {
  //   margin-top: 1em;
  // }
}
a {
  .link();
}
small,
.small {
  font-size: @font-size-small;
}
figure {
  display: inline-block;
  position: relative;
  img {
    display: inline-block;
  }
}
figcaption {
  bottom: 0;
  color: #fff;
  display: inline-block;
  font-weight: 300;
  left: 0;
  padding: .4em .6em;
  position: absolute;
  right: 0;
  text-align: right;
  word-break: break-word;
}
table.table-striped {
  th {
    font-weight: 900;
    text-transform: uppercase;
  }
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 6px solid @iucn-blue-lightest;
      }
    }
  }
  tbody > tr:last-child {
    &.odd {
      border-bottom: 6px solid #fff;
    }
    &.even {
      border-bottom: 6px solid @iucn-blue-lightest;
    }
  }
}

.collapse-toggle {
  align-items: baseline;
  display: inline-flex;
  &, &:hover, &:active, &:focus {
    color: @text-color;
  }
  @media @grid-desktop {
    cursor: default;
  }
}

// Generic collapse icon
.icon-collapse {
  &:before {
    content: '+';
    display: inline-block;
    margin-right: 1em;
    width: 0;
  }
  [aria-expanded="true"] > &:before {
    content: '-';
  }
  .open > a > &:before {
    content: '—';
  }
}
.back-icon,
.go-to-icon {
  background-position: center;
  background-size: 1.5em;
  content: '';
  display: inline-block;
  height: @line-height-base * 1em;
  vertical-align: middle;
  width: 2.5em;
}
.back-icon {
  .svg-icon(icon-backarrow, @iucn-blue-light);
}
.go-to-icon {
  .svg-icon(icon-arrow, @iucn-blue-light);
}

a.is-active {
  color: @component-active-color;
}
// @todo: use mixin
// Conservation status related classes
.loop-conservation-ratings({
  .conservation-status.@{conservation-rating-class},
  .iucn-color-@{conservation-rating-class} {
    color: @conservation-rating-color;
  }

  .iucn-bg-@{conservation-rating-class} {
    background-color: @conservation-rating-color;
  }
});

// Triangle caret
.caret-triangle {
  display: inline-block;
  position: relative;
  top: -0.1em;
  transform+_: rotate(-90deg);
  &:first-child {
    .responsive(margin-right, .5rem, .5 * @font-size-base--mobile);
  }
  [aria-expanded=true] > & {
    transform+_: rotate(0deg);
  }
}

.container-fluid article.page {
  .row();
}

.iucn-who-1col-cont-fluid-wrapper {
  > .row {
    margin-left: 0;
    margin-right: 0;
    .container-fluid & {
      .row();
    }
  }
  .fluid1-wrapper > .row > .col-md-12 {
    .container-fluid & {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// Override default browser ol behaviour
// ol {
//   counter-reset: item;
//   margin-left: 0;
//   padding-left: 0;
//   float: left;
//   + * {
//     clear: left;
//   }
//   li {
//     display: block;
//     padding-left: 1em;
//   }
//   li::before {
//     display: inline-block;
//     content: counter(item)". ";
//     counter-increment: item;
//     width: 1em;
//     margin-left: -1em;
//   }
// }

// CKeditor custom styles
.left-border {
  .left-bordered-heading();
  h2& {
    font-weight: 500;
  }
}

@iucn-arrow-height: 70 / unit(@font-size-base) * 1em;
@iucn-arrow-height--mobile: 60px;

.iucn-arrow {
  .iucn-base-arrow(@iucn-arrow-height);
  margin-top: 30px;
  // min-height: @iucn-arrow-height;
  padding-left: 3em;
  padding-right: 2em;
  position: relative;
  .iucn-numbering {
    border-right: 1px solid;
    color: #fff;
    font-size: 2em;
    left: 0;
    line-height: 1.5em;
    padding: 0 .25em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
}

ol {
  li.iucn-arrow {
    // max-width: 350px;
    background-color: @iucn-blue-lightest;
    color: @text-color;
    border-bottom: 1px solid fade(#ffffff, 40%);
    border-top: 1px solid transparent;
    margin-right: 35px + 30px;
    margin-top: 30px;
    margin-left: -1.5em; // compensate for default padding
    padding-left: 3em;
    padding-right: .5em;
    position: relative;
    list-style-type: none;
    box-shadow: 0 7px 11px -9px fade(#000, 90%);
    left: 30px;
    perspective: 345px;
    perspective-origin: left;
    @media @grid-mobile {
      perspective: 300px;
    }
    .iucn-numbering {
      color: @iucn-blue-dark;
    }
    &:before {
      content: '';
      background-color: #bdd6e1;
      // background-image: linear-gradient(to right, #bdd6e1, darken(#bdd6e1, 2%));
      width: 360px;
      height: 100%;
      display: block;
      position: absolute;
      right: 100%;
      top: 0;
      transform: rotateY(-80deg);
      transform-origin: right;
    }
    // &:first-child:before {
    //   transform: rotateY(-80deg) skewY(-18deg);
    // }
    // &:last-child:before {
    //   transform: rotateY(-80deg) skewY(18deg);
    // }
    &:after {
      border-color: transparent transparent transparent @iucn-blue-lightest;
    }
  }
}

.field--type-text-with-summary,
.field--type-text-long {
  @media (max-width: @screen-xs-max) {
    // add spacing between columns on mobile unless they're consecutive full width ones
    [class*='col-sm-']:not(.col-sm-12) + [class*='col-sm-']:not(.col-sm-12) {
      margin-top: @grid-gutter-width / 2;
    }
  }
  img {
    .img-responsive();
    max-width: 100%;
    @media @grid-mobile {
      height: auto !important;
    }
  }
  ul {
    list-style-type: none;
    li {
      + li {
        margin-top: 1.5em;
      }
      position: relative;
      &:before {
        content: '';
        display: block;
        .svg-icon(list-icon);
        background-position: center;
        background-size: contain;
        height: 100%;
        width: .75em;
        position: absolute;
        top: 0;
        left: -1.5em;
      }
    }
  }
}

.field--name-field-image {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* ==========================================================================
   IUCN expandable text
   ========================================================================== */

.iucn-expandable-text {
  .btn-link {
    color: @iucn-blue-light;
    display: block;
    font-size: 1.1em;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
  }
  [data-toggle="dropdown"] {
    box-shadow: 0 -0.5em 1.7em 0.7em #ffffff;
    .read-more { display: none; }
    &[aria-expanded='false'] .read-less { display: none; }
    &[aria-expanded='false'] .read-more { display: block; }
  }
  .open + [data-toggle="dropdown"] {
    box-shadow: none;
  }
}
@expandable-text-visible-lines: 11;
.iucn-expandable-text-content {
  display: block;
  max-height: @line-height-base * 1em * @expandable-text-visible-lines;
  overflow: hidden;
  transition: max-height 0.2s;
  &.open {
    max-height: 9999px;
  }
}

.ui-widget-content a {
  color: @iucn-blue-light;
}
