/* ==========================================================================
   Frontpage
   ========================================================================== */
.path-frontpage {
  header {
    @media @grid-desktop {
      margin-bottom: 0;
      border-bottom: none;
      box-shadow: 0 3px 5px -3px fade(#000, 30%);
    }
  }
  &.navbar-is-fixed-top {
    margin-top: @navbar-height;
    @media @grid-mobile {
      margin-top: @navbar-height--mobile;

    }
  }
  .region-content {
    @media @grid-mobile {
      display: flex;
      flex-flow: column;
      .block-home-page-statistics,
      .block-home-page-report {
        order: -1;
      }
    }
  }
}

/* ==========================================================================
    Search page
    ========================================================================== */
.path-@{site-search-path} {
  .page-header {
    border-left: none;
    padding-left: 0;
    @media @grid-mobile {
      margin-bottom: 0;
      margin-top: 0;
      padding-left: @grid-gutter-width / 2;
    }
  }
}

/* ==========================================================================
    Site page
    ========================================================================== */
.page-node-type-site {
  .header-container {
    position: relative;
  }

  .region-header {
    display: flex;
    flex-wrap: wrap;

    > * { width: 100%; }
  }

  @media @grid-mobile {
    &.navbar-is-fixed-top {
      margin-top: @navbar-height--mobile;
    }
    .region-header {
      > .block-iucn-site-back-to-search {
        order: 1;
        position: absolute;
        right: 0;
        top: 100%;
        width: auto;
        z-index: 2;
      }
    }
  }
  @media @grid-desktop {
    .region-header {
      > .breadcrumb-wrapper {
        flex: 1;
      }
      > .breadcrumb-wrapper,
      > .block-iucn-site-back-to-search {
        width: auto;
        display: inline;
      }
      > .block-iucn-site-back-to-search {
        margin-left: auto;
      }
    }
  }
}

.sites-back-button {
  text-transform: uppercase;
  > a {
    .light-link();
    display: inline-flex;
    vertical-align: middle;
  }
  @media @grid-mobile {
    .background-variant(fade(#000, 40%), #fff);
    padding: .8em 1.2em;
  }
  @media @grid-desktop {
    display: inline-flex;
    margin-left: 2em;
  }
}


a[rel="bookmark"] {
  display:none;
}

/* ==========================================================================
    Ask a question page
    ========================================================================== */
.webform-submission-ask-a-question-form:not(.form-inline) .form-submit {
  margin-top: 15px;
}


/* ==========================================================================
    Partners
    ========================================================================== */
.page-node-1236 {
  article.page {
    .field--name-field-page-elements {
      .field--name-field-ph-images {
        .paragraph--type--image-link {
          text-align: center;
        }
      }
    }
  }
}
