/* ==========================================================================
   Frontpage
   ========================================================================== */
.path-frontpage {
  @media @grid-mobile {
    .region-content {
      display: flex;
      flex-flow: column;
      .block-home-page-statistics,
      .block-home-page-report {
        order: -1;
      }
    }
  }
}

/* ==========================================================================
    Search page
    ========================================================================== */
.path-@{site-search-path} {
  .page-header {
    border-left: none;
    padding-left: 0;
    @media @grid-mobile {
      margin-bottom: 0;
      margin-top: 0;
      padding-left: @grid-gutter-width / 2;
    }
  }
}

.page-node-type-site {
  @media @grid-desktop {
    .header-container, .contained-content {
      > .region { padding-right: 11em; }
    }
  }
}

