.field--name-field-teasers {
  @media @grid-mobile {
    display: flex;
    flex-wrap: wrap;
  }
  > .field--item {
    margin-top: 3em;
    @media @grid-mobile {
      margin-top: 2em;
      @media (min-width: (500px + @grid-gutter-width) ) {
        flex: 0 1 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  h2 {
    font-size: 24 * @rem-multiplier--desktop;
    .link();
  }
  .field--name-node-title {
    &:first-child {
      > * {
        margin-top: 0;
      }
    }
  }
}

.paragraph {
  // .field--name-field-page-elements > .field--item &:not(.paragraph--type--numbered-heading) {
  //   margin-top: 60 * @rem-multiplier--desktop;
  //   @media @grid-mobile {
  //     margin-top: 40 * @rem-multiplier--mobile;
  //   }
  // }
  a {
    color: @iucn-blue-light;
  }
  &.iucn-1col-wrapper .field--type-text-long {
    h2 {
      font-size: round(28 * @rem-multiplier--desktop, 2);
      margin-top: 1.5em;
      margin-bottom: 1em;
      &:first-child {
        margin-bottom: 2em;
      }
    }
  }
  // &.iucn-1col-wrapper .field--name-field-paragraph-pages {

  // }
  table {
    &:extend(.table all);
    &:extend(.table-striped all);
    th {
      font-weight: 900;
      text-transform: uppercase;
    }
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 6px solid @iucn-blue-lightest;
        }
      }
    }
    tbody > tr:last-child {
      &.odd {
        border-bottom: 6px solid #fff;
      }
      &.even {
        border-bottom: 6px solid @iucn-blue-lightest;
      }
    }
  }
}
.paragraph-background-light {
  background-color: @iucn-blue-lightest;
  margin-top: 30 * @rem-multiplier--desktop;
  padding-bottom: 3em;
  padding-top: 3em;
  &.iucn-1col-wrapper .field--type-text-long {
    h1, h2, h3, h4, h5 {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  table > tbody > tr:nth-of-type(odd) {
    background-color: @table-border-color;
  }
  table > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 6px solid #fff;
      }
    }
  }
  table > tbody > tr:last-child {
    &.odd {
      border-bottom: 6px solid @iucn-blue-lightest;
    }
    &.even {
      border-bottom: 6px solid #fff;
    }
  }
}

.images-row {
  // @media (min-width: @screen-sm-min) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    .field--item {
      // @media @grid-mobile {
      //   flex-basis: 50%;
      // }
    }
    img {
      margin: 0 auto;
      max-height: 150 * @rem-multiplier--desktop;
      width: auto;
    }
  // }
}
