@font-size-h1--paragraph:                                2rem; // 36px
@font-size-h2--paragraph:                                1.34rem;
@font-size-h3--paragraph:                                1.25rem; // ~18px
@font-size-h4--paragraph:                                @font-size-base;
@font-size-h5--paragraph:                                0.85rem; // ~12px
@font-size-h6--paragraph:                                0.6rem;

.loop-paragraph-headings(@rules, @index: 6) when (@index > 0) {
  @paragraph-heading-selector: ~'h@{index}';
  @rules();

  // next iteration
  .loop-paragraph-headings(@rules, (@index - 1));
}

.field--name-field-teasers {
  @media @grid-mobile {
    display: flex;
    flex-wrap: wrap;
  }
  > .field--item {
    margin-top: 3em;
    @media @grid-mobile {
      margin-top: 2em;
      @media (min-width: (500px + @grid-gutter-width) ) {
        flex: 0 1 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  h2 {
    font-size: 24 * @rem-multiplier--desktop;
    .link();
  }
  .field--name-node-title {
    &:first-child {
      > * {
        margin-top: 0;
      }
    }
  }
}

.paragraph {
  // .field--name-field-page-elements > .field--item &:not(.paragraph--type--numbered-heading) {
  //   margin-top: 60 * @rem-multiplier--desktop;
  //   @media @grid-mobile {
  //     margin-top: 40 * @rem-multiplier--mobile;
  //   }
  // }
  a {
    color: @iucn-blue-light;
  }
  .field--type-text-long {
    .loop-paragraph-headings({
      @{paragraph-heading-selector} {
        font-size: ~'@{font-size-@{paragraph-heading-selector}--paragraph}';
        margin-top: 2em;
        margin-bottom: 1em;
        &:first-child {
          margin-bottom: 2em;
        }
      }
    });
  }

  h2.left-border {
    font-size: round(28 * @rem-multiplier--desktop, 2);
  }
  strong.bottom-border {
    display: block;
  }
  h3.iucn-arrow {
    font-size: 1rem;
    line-height: @line-height-base;
    float: left;
    padding-right: 3em;
    margin-bottom: 40 * @rem-multiplier--desktop;
    + * {
      clear: left;
    }
    // arrow icon
    &:before {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 2em;
      margin-right: .5em;
    }
    .loop-conservation-categories({
      &.@{conservation-category-class} {
        &:before {
          background-image: url(~'@{images-path}@{conservation-category-class}-white.svg');
        }
      }
    });
    @media @grid-mobile {
      margin-left: -@grid-gutter-width / 2;
      padding-left: calc(~'3em + (@{grid-gutter-width} / 2)');
      .iucn-numbering {
        left: @grid-gutter-width / 2;
        padding-left: 0;
      }
    }
  }
  // }
  table {
    &:extend(.table all);
    &:extend(.table-striped all);
    th {
      font-weight: 900;
      text-transform: uppercase;
    }
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 6px solid @iucn-blue-lightest;
        }
      }
    }
    tbody > tr:last-child {
      &.odd {
        border-bottom: 6px solid #fff;
      }
      &.even {
        border-bottom: 6px solid @iucn-blue-lightest;
      }
    }
  }
}
.paragraph-background-light {
  background-color: @iucn-blue-lightest;
  margin-top: 30 * @rem-multiplier--desktop;
  padding-bottom: 3em;
  padding-top: 3em;
  &.iucn-1col-wrapper .field--type-text-long {
    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  table > tbody > tr:nth-of-type(odd) {
    background-color: @table-border-color;
  }
  table > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 6px solid #fff;
      }
    }
  }
  table > tbody > tr:last-child {
    &.odd {
      border-bottom: 6px solid @iucn-blue-lightest;
    }
    &.even {
      border-bottom: 6px solid #fff;
    }
  }
}

// Image grid
.field--name-field-images {
  padding-top: 3em;
  padding-bottom: 3em;
}
.images-row {
  & + & {
    margin-top: 1em;
  }
  .field--item {
    @media @grid-mobile {
      + .field--item {
        margin-top: 1em;
      }
    }
  }
  img {
    margin: 0 auto;
    max-height: round(150 * @rem-multiplier--desktop, 2);
    width: auto;
  }
  @media (min-width: @screen-sm-min) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    .field--item {
      // @media @grid-mobile {
      //   flex-basis: 50%;
      // }
    }
  }
}
