// Header region
.header-container {
}

// Search block region
.search-block-container {
  background-color: @iucn-blue-dark;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}
