/* ==========================================================================
    Search block region
    ========================================================================== */

.search-block-container {
  background-color: @iucn-blue-dark;
  color: #fff;
  margin-bottom: 2.5em;
  margin-top: 0;
  padding-bottom: 2.5em;
  padding-top: 2.5em;
  @media @grid-mobile {
    margin-bottom: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
  }
}
@media @grid-desktop {
  .region-search-block {
    > .block {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/* ==========================================================================
   Sidebar first region
   ========================================================================== */

.region-sidebar-first {
  section {
    + section {
      margin-top: 2em;
    }
    .field--type-text-with-summary a {
      color: @iucn-blue-light;
    }
  }
  .block-title {
    // @todo: make mixin out of this
    .bottom-border();
    font-size: 1em;
    font-weight: 900;
    margin-top: 0;
  }
}

/* ==========================================================================
   Fixed bottom region
   ========================================================================== */

.region-fixed-bottom {
  align-items: stretch;
  display: flex;
  justify-content: stretch;
}

@media @grid-desktop {
  .region-fixed-bottom-wrapper { display: none; }
}
@media @grid-mobile {
  .region-fixed-bottom-wrapper {
    height: 50px;
    margin-top: 45px;
    position: relative;
    & + .footer {
      margin-top: 0;
    }
  }
  #iucn-fixed-bottom {
    align-items: stretch;
    background-color: #fff;
    display: flex;
    > * {
      flex: 1 0 50%;
    }
  }
  #iucn-fixed-bottom.affix,
  #iucn-fixed-bottom.affix-top {
    z-index: @zindex-modal-background - 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
  }
  #iucn-fixed-bottom.affix-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: auto !important;
  }

}
