.sidemenu {
  .iucn-collapsible {
    .collapse-visible-desktop();
  }
}

@media @grid-mobile {
  // Sidemenu regions
  .sidemenu > .region {
    .row();
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: @grid-gutter-width / 2;
    padding-right: @grid-gutter-width / 2;
    + .region {
      border-top: 1px solid #ddd;
    }
  }
  .sidemenu-toggle {
    font-size: 16px;
    font-weight: 500;
    min-height: 50px;
    text-transform: uppercase;
    // position: fixed;
    // bottom: 0;
    // -webkit-backface-visibility: hidden;
    // + .footer {
    //   margin-top: 0;
    // }
  }
  .sidemenu {
    background-color: #fff;
    display: block;
    font-size: 15px;
    left: auto;
    min-height: 100vh;
    min-width: 200px;
    max-width: 400px;
    opacity: 0;
    overflow: auto;
    padding: 3em (@grid-gutter-width / 2);
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    transform+_: translateX(110%);
    transition+_: all .3s;
    width: 85%;
    z-index: @zindex-modal-background + 2;
    // box-shadow: -3px 0px 21px fade(#000, 60%);
    &.open {
      opacity: 1;
      pointer-events: all;
      transform+_: translateX(0);
    }
  }
  .modal-backdrop {
    pointer-events: none;
    .sidemenu-open & {
      pointer-events: all;
    }
  }
}
@media @grid-desktop {
  .sidemenu-toggle {
    display: none;
  }
  .sidemenu {
    display: block;
  }
  .modal-backdrop {
    display: none !important;
  }
}

.sidemenu-open {
  &:extend(.menu-open all);
  @media @grid-desktop {
    overflow: auto;
  }
}

.sidemenu-close {
  color: @iucn-blue-dark;
  float: none;
  font-size: 3em;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  width: 1em;
  &:hover, &:focus {
    color: @iucn-blue-dark;
    opacity: 1;
  }
  @media @grid-desktop {
    display: none;
  }
}
