.node-site-assessment-edit-form fieldset.overall-container {
  margin: 0!important;
  padding: 0!important;
  border: none!important;
  display: grid;
}
.node-site-assessment-edit-form fieldset.overall-container > legend .fieldset-legend {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  background: #f5f5f2;
  border: solid #bfbfba;
  border-width: 1px 0;
  color: #333;
  text-transform: uppercase;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper {
  display: table;
  width: calc(100% - 1px);
  border-top: 1px solid #e6e4df;
  border-left: 1px solid #e6e4df;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row {
  display: table-row;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row.overall-thead-row .overall-cell {
  font-weight: bold;
  background: #ececec;
  border-bottom: 1px solid #bfbfba!important;
  height: 38px;
  box-sizing: border-box;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row.overall-thead-row .overall-cell label {
  font-weight: bold;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row .form-item {
  margin: 0;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row > div {
  display: table-cell;
  padding: 10px 12px;
  border-right: 1px solid #e6e4df;
  border-bottom: 1px solid #e6e4df;
  font-weight: normal;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row > div .form-item {
  width: 100%;
  display: table-row;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row > div:last-child {
  width: 150px;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row > div[class*="-textarea"] {
  display: table;
  width: 100%;
  padding: 0;
  border-right: none;
  border-bottom: none;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row > div[class*="-textarea"] label,
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row > div[class*="-textarea"] .form-textarea-wrapper {
  display: table-cell;
  box-sizing: border-box;
  padding: 10px 12px;
  border-bottom: 1px solid #e6e4df;
  border-right: 1px solid #e6e4df;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row > div[class*="-textarea"] label {
  font-weight: normal;
  width: 300px;
}
@media screen and (max-width: 1024px) {
  .node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row > div[class*="-textarea"] label {
    width: 150px;
  }
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row > div label {
  display: none;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .description-wrapper {
  display: table-caption;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row-view.overall-header {
  background: #ececec!important;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row-view.overall-header > div {
  border-top: 1px solid #e6e4df;
  font-weight: bold;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row-view {
  display: table-row;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row-view .form-item {
  margin: 0;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row-view > div {
  display: table-cell;
  padding: 10px 12px;
  border-right: 1px solid #e6e4df;
  border-bottom: 1px solid #e6e4df;
  font-weight: normal;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row-view > div:first-child {
  width: 300px;
}
.node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row-view > div:last-child {
  width: 150px;
}
@media screen and (max-width: 1024px) {
  .node-site-assessment-edit-form fieldset.overall-container .fieldset-wrapper .overall-row-view > div:first-child {
    width: 150px;
  }
}
.node-site-assessment-edit-form #group-summary-of-benefits {
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
}
.node-site-assessment-edit-form #group-summary-of-benefits > legend .fieldset-legend {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  background: #f5f5f2;
  border: solid #bfbfba;
  border-width: 1px 0;
  color: #333;
  text-transform: uppercase;
}
.node-site-assessment-edit-form #group-summary-of-benefits .description-wrapper {
  border-bottom: 1px solid #e6e4df;
}
.node-site-assessment-edit-form #group-summary-of-benefits #edit-field-as-benefits-summary-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
.node-site-assessment-edit-form #group-summary-of-benefits #edit-field-as-benefits-summary-wrapper label {
  display: none;
}
.node-site-assessment-edit-form #group-summary-of-benefits #edit-field-as-benefits-summary-wrapper .form-textarea-wrapper {
  padding: 10px 12px;
}
.node-site-assessment-edit-form #group-summary-of-benefits #edit-field-as-benefits-summary-wrapper .button.paragraphs-icon-button {
  margin-top: 48px !important;
}
.button.paragraphs-icon-button.paragraphs-icon-button-compare {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .button.paragraphs-icon-button.paragraphs-icon-button-compare {
    background-image: url(../images/compare.svg);
  }
}
.button.paragraphs-icon-button.paragraphs-icon-button-compare {
  background-image: url(../images/compare.svg);
}
.button.paragraphs-icon-button {
  padding: 0;
  width: 36px !important;
  height: 36px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 24px 24px;
  border-radius: 4px;
  text-indent: -9999em;
}
.button.paragraphs-icon-button-edit,
.button.paragraphs-icon-button-edit:active,
.button.paragraphs-icon-button-edit:hover,
.button.paragraphs-icon-button-edit:focus {
  background-image: url("../images/icon-edit.svg");
}
.paragraphs-icon-delete {
  background-image: url("../images/icon-delete.svg") !important;
}
.paragraphs-icon-button-revert {
  background-image: url("../images/icon-revert.svg") !important;
}
.paragraphs-icon-button-accept {
  background-image: url("../images/icon-accept.svg") !important;
}
.node-site-assessment-edit-form .main-data-container {
  display: block;
  widows: 100%;
}
.node-site-assessment-edit-form .main-data-container .data-fields,
.node-site-assessment-edit-form .main-data-container .help-text {
  box-sizing: border-box;
}
@media screen and (min-width: 980px) {
  .node-site-assessment-edit-form .main-data-container .data-fields,
  .node-site-assessment-edit-form .main-data-container .help-text {
    float: left;
    width: 50%;
  }
}
.node-site-assessment-edit-form .main-data-container .help-text {
  background: #f5f5f2;
  border: 1px solid #e6e4df;
  padding: 0 5px;
  border-radius: 5px;
}
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form,
.paragraph-as-site-project-iucn-modal-paragraph-add-form,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper {
  padding-bottom: 10px;
}
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .form-item,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .form-item,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .form-item,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .form-item,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .form-item,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .form-item,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .form-item,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .form-item,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup {
  display: table-row;
}
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .form-item .label,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .label,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .form-item .label,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .label,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .form-item .label,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .label,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .form-item .label,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .label,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .label,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .label,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .label,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .label,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .label,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .label,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .label,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .label,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .form-item label,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .form-item label,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .form-item label,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .form-item label,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .form-item label,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .form-item label,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .form-item label,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .form-item label,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup label,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup label,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup label,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup label,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup label,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup label,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup label,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup label,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .form-item legend,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .form-item legend,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .form-item legend,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .form-item legend,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .form-item legend,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .form-item legend,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .form-item legend,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .form-item legend,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup legend,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup legend,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup legend,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup legend,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup legend,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup legend,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup legend,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup legend {
  display: table-cell;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-text,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-text,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-text,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-text,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-text,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-text,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-text,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-text,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-text,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-text,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-text,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-text,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-text,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-text,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-text,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-text,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-textarea-wrapper,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-textarea-wrapper,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-textarea-wrapper,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-textarea-wrapper,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-textarea-wrapper,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-textarea-wrapper,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-textarea-wrapper,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-textarea-wrapper,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-textarea-wrapper,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-textarea-wrapper,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-textarea-wrapper,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-textarea-wrapper,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-textarea-wrapper,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-textarea-wrapper,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-textarea-wrapper,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-textarea-wrapper,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .form-item .fieldset-wrapper,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .fieldset-wrapper,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .form-item .fieldset-wrapper,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .fieldset-wrapper,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .form-item .fieldset-wrapper,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .fieldset-wrapper,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .form-item .fieldset-wrapper,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .fieldset-wrapper,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .fieldset-wrapper,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .fieldset-wrapper,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .fieldset-wrapper,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .fieldset-wrapper,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .fieldset-wrapper,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .fieldset-wrapper,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .fieldset-wrapper,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .fieldset-wrapper,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-select,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-select,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-select,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-select,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-select,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-select,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-select,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-select,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-select,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-select,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-select,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-select,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-select,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-select,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-select,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-select,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-data,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-data,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-data,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-data,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-data,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-data,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .form-item .form-data,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .form-item .form-data,
.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-data,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-data,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-data,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-data,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-data,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-data,
.paragraph-as-site-project-iucn-modal-paragraph-add-form > .form-wrapper .fieldgroup .form-data,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form > .form-wrapper .fieldgroup .form-data {
  display: table-cell;
  width: calc(100% - 0px);
}
.field-group-assessment-fieldset > legend,
.overall-container > legend {
  display: block;
  width: 100%;
}
.field-group-assessment-fieldset > legend > .fieldset-legend,
.overall-container > legend > .fieldset-legend {
  display: block;
}
.field--name-field-as-values-criteria legend {
  display: contents !important;
}
.field--name-field-as-values-criteria legend .fieldset-legend {
  display: table-cell;
  width: 200px;
}
.paragraph-as-site-benefit-iucn-modal-paragraph-add-form > fieldset,
.paragraph-as-site-benefit-iucn-modal-paragraph-edit-form > fieldset {
  background: none;
  border: none;
  padding: 0;
}
.field--name-field-as-threats-categories.field--widget-assessment-options-buttons .form-checkboxes > div:first-child {
  margin-bottom: 10px;
}
.field--name-field-as-threats-categories.field--widget-assessment-options-buttons .form-checkboxes label {
  display: inline;
  padding-left: 5px;
}
.required-fields .fieldset-legend:after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background-image: url(../../../../../core/misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
}
.hidden-container {
  display: none;
}
.path-admin div[class*="block-views-"] {
  margin-bottom: 40px;
}
.path-admin div[class*="block-views-"] table .views-field:not(.views-field-operations) {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1024px) {
  .path-admin div[class*="block-views-"] table {
    table-layout: fixed;
  }
  .path-admin div[class*="block-views-"] table .views-field-title {
    width: 150px;
  }
  .path-admin div[class*="block-views-"] table .views-field-operations {
    width: 180px;
  }
}
#block-tools > ul.menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0 1em 0 0;
}
#block-tools > ul.menu > li.menu-item > a {
  font-weight: bold;
}
#block-tools > ul.menu li.menu-item {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
}
#block-tools > ul.menu li.menu-item > a {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
#block-tools > ul.menu li.menu-item > a:hover {
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}
#block-tools > ul.menu li.menu-item ul.menu {
  margin: 0 0 0 2em;
}
#block-tools > ul.menu li.menu-item ul.menu li.menu-item a {
  color: #009cf9;
  padding: .25rem .75rem;
}
div[id^="block-views-block-account-assignments-block"] > h2,
#block-views-block-people-assignments-block-1 > h2 {
  display: inline-block;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}
div[id^="block-views-block-account-assignments-block"] .form--inline > .form-item,
#block-views-block-people-assignments-block-1 .form--inline > .form-item,
div[id^="block-views-block-account-assignments-block"] .form--inline > .form-actions,
#block-views-block-people-assignments-block-1 .form--inline > .form-actions {
  float: none;
  display: inline-block;
  max-width: 200px;
}
div[id^="block-views-block-account-assignments-block"] .form--inline > .form-item .chosen-container,
#block-views-block-people-assignments-block-1 .form--inline > .form-item .chosen-container,
div[id^="block-views-block-account-assignments-block"] .form--inline > .form-actions .chosen-container,
#block-views-block-people-assignments-block-1 .form--inline > .form-actions .chosen-container,
div[id^="block-views-block-account-assignments-block"] .form--inline > .form-item input,
#block-views-block-people-assignments-block-1 .form--inline > .form-item input,
div[id^="block-views-block-account-assignments-block"] .form--inline > .form-actions input,
#block-views-block-people-assignments-block-1 .form--inline > .form-actions input,
div[id^="block-views-block-account-assignments-block"] .form--inline > .form-item button,
#block-views-block-people-assignments-block-1 .form--inline > .form-item button,
div[id^="block-views-block-account-assignments-block"] .form--inline > .form-actions button,
#block-views-block-people-assignments-block-1 .form--inline > .form-actions button {
  max-width: 100%;
}
#block-views-block-people-assignments-block-1 .views-field-user-assignments {
  width: 40%;
}
#block-views-block-people-assignments-block-1 .views-field-user-assignments ol {
  margin: 0;
}
.horizontal-tab-button .fa {
  font-size: 1em;
  margin: 0 2.1em 0 1em;
  position: relative;
  color: #fafafa;
  -webkit-text-stroke: 1px #0074bd;
  transition: color .1s;
}
.horizontal-tab-button .fa:hover {
  color: #0074bd;
  cursor: pointer;
  -webkit-text-stroke: initial;
}
.horizontal-tab-button .fa:before {
  font-size: 2em;
  position: absolute;
  right: -22px;
  top: -30px;
  z-index: 200;
}
.horizontal-tabs ul.horizontal-tabs-list li.selected {
  display: flex;
  align-items: center;
}
.horizontal-tabs ul.horizontal-tabs-list li.selected a {
  padding-left: 1em;
}
.horizontal-tabs ul.horizontal-tabs-list li.selected a:hover {
  background-color: initial;
}
.horizontal-tabs-panes .description {
  position: relative;
  margin: 0;
  padding: 5px 5px 5px 24px;
  border: none;
  background-image: linear-gradient(to bottom, white, #ffffbe);
  font-style: italic;
}
.horizontal-tabs-panes .description:before {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 14px;
  height: 16px;
  content: ' ';
  background: transparent url(../images/tip-bulb.png) no-repeat 0 0;
}
.layout-node-form .layout-region {
  width: 100%;
}
.layout-node-form .layout-region-node-footer__content {
  border-top: none;
}
.layout-node-form .horizontal-tabs-panes details > .details-wrapper {
  padding: 0;
}
.layout-node-form .horizontal-tabs-panes .horizontal-tabs-pane {
  padding: 0;
}
.layout-node-form .horizontal-tabs-panes .horizontal-tabs-pane.field-group-assessment-tab {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
}
.layout-node-form .horizontal-tabs-panes .horizontal-tabs-pane.field-group-assessment-tab .tabledrag-toggle-weight-wrapper {
  padding: 5px 10px 5px 0;
}
.layout-node-form #edit-group-as-key-cons .details-wrapper {
  padding: 0;
}
.layout-node-form .horizontal-tabs-pane.field-group-assessment-tab .details-wrapper > .form-wrapper:not(.field--widget-row-entity-reference-paragraphs) {
  padding: 0 10px;
}
.layout-node-form .horizontal-tabs-pane.field-group-assessment-tab fieldset:not(.fieldgroup) {
  margin: 10px;
}
.layout-node-form .horizontal-tabs-pane.field-group-assessment-tab fieldset:not(.fieldgroup) > legend {
  position: relative;
  top: 0;
}
.toolbar-icon-iucn-who-core-administration-dashboard:before {
  background-image: url(../../../core/themes/stable/images/core/icons/787878/barchart.svg);
}
@media all and (min-width: 851px) {
  .sidebar {
    float: left;
    width: 25%;
  }
  .sidebar + .page-content {
    float: left;
    width: 75%;
  }
}
.js td .dropbutton-wrapper {
  width: 157px;
}
.js .dropbutton-widget .dropbutton-action a {
  max-width: 140px;
  padding: 4px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.js .field--widget-row-entity-reference-paragraphs .paragraph-header .paragraph-summary-component.processed .paragraphs-actions {
  background-color: #ececec;
}
.views-field-operations .dropbutton a {
  max-width: 140px;
  padding: 4px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.user-assign-form .form-submit {
  margin-left: 0;
}
#autosave-notification {
  z-index: 9999;
}
.paragraph-comments-textarea {
  z-index: 50;
  position: absolute;
  background-color: #ffffff;
  padding: 25px;
  border: 1px solid black;
  width: 40%;
  display: none;
}
.field--widget-assessment-options-buttons .form-required:after {
  display: none;
}
.field--widget-assessment-options-buttons .label:after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background-image: url(../../../core/misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
}
.bold-cell {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */