.layout-node-form .layout-region {
    width: 100%;
}
.layout-node-form .layout-region-node-footer__content {
    border-top: none;
}

.layout-node-form .horizontal-tabs-panes details > .details-wrapper,
.layout-node-form .horizontal-tabs-panes .horizontal-tabs-pane {
    padding: 0;
}

.layout-node-form .horizontal-tabs-panes .horizontal-tabs-pane.field-group-assessment-tab {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

.layout-node-form .horizontal-tabs-panes .horizontal-tabs-pane.field-group-assessment-tab .tabledrag-toggle-weight-wrapper {
    padding: 5px 10px 5px 0;
}

.layout-node-form #edit-group-as-key-cons .details-wrapper {
    padding: 0;
}

.layout-node-form .horizontal-tabs-pane.field-group-assessment-tab .details-wrapper > .form-wrapper:not(.field--widget-row-entity-reference-paragraphs) {
    padding: 0 10px;
}

.layout-node-form .horizontal-tabs-pane.field-group-assessment-tab fieldset:not(.fieldgroup) {
    margin: 10px;
}

.layout-node-form .horizontal-tabs-pane.field-group-assessment-tab fieldset:not(.fieldgroup) > legend {
    position: relative;
    top: 0;
}

.js td .dropbutton-wrapper {
    width: 157px;
}

.views-field-operations .dropbutton a,
.js .dropbutton-widget .dropbutton-action a {
    max-width: 140px;
    padding: 4px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.path-admin div[class*="block-views-"] {
    margin-bottom: 40px;
}

.path-admin div[class*="block-views-"] table {
    table-layout: fixed;
}

.path-admin div[class*="block-views-"] table .views-field-title {
    width: 350px;
}

.path-admin div[class*="block-views-"] table .views-field-operations {
    width: 150px;
}

.user-assign-form .form-submit {
    margin-left: 0;
}