
@media all and (min-width: 851px) {
    .sidebar {
        float: left;
        width: 25%;
    }
    .sidebar + .page-content {
        float: left;
        width: 75%;
    }
}

.layout-node-form .layout-region {
    width: 100%;
}
.layout-node-form .layout-region-node-footer__content {
    border-top: none;
}

.layout-node-form .horizontal-tabs-panes details > .details-wrapper,
.layout-node-form .horizontal-tabs-panes .horizontal-tabs-pane {
    padding: 0;
}

.layout-node-form .horizontal-tabs-panes .horizontal-tabs-pane.field-group-assessment-tab {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

.layout-node-form .horizontal-tabs-panes .horizontal-tabs-pane.field-group-assessment-tab .tabledrag-toggle-weight-wrapper {
    padding: 5px 10px 5px 0;
}

.layout-node-form #edit-group-as-key-cons .details-wrapper {
    padding: 0;
}

.layout-node-form .horizontal-tabs-pane.field-group-assessment-tab .details-wrapper > .form-wrapper:not(.field--widget-row-entity-reference-paragraphs) {
    padding: 0 10px;
}

.layout-node-form .horizontal-tabs-pane.field-group-assessment-tab fieldset:not(.fieldgroup) {
    margin: 10px;
}

.layout-node-form .horizontal-tabs-pane.field-group-assessment-tab fieldset:not(.fieldgroup) > legend {
    position: relative;
    top: 0;
}

.js td .dropbutton-wrapper {
    width: 157px;
}

.views-field-operations .dropbutton a,
.js .dropbutton-widget .dropbutton-action a {
    max-width: 140px;
    padding: 4px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.path-admin div[class*="block-views-"] {
    margin-bottom: 40px;
}

.path-admin div[class*="block-views-"] table .views-field:not(.views-field-operations) {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 1024px) {
    .path-admin div[class*="block-views-"] table {
        table-layout: fixed;
    }
    .path-admin div[class*="block-views-"] table .views-field-title {
        width: 150px;
    }
    .path-admin div[class*="block-views-"] table .views-field-operations {
        width: 180px;
    }
}

.user-assign-form .form-submit {
    margin-left: 0;
}

#autosave-notification {
    z-index: 9999;
}

.paragraph-comments-textarea {
    z-index:50;
    position:absolute;
    background-color: white;
    padding: 25px;
    border: 1px solid black;
    /*right: 5%;*/
    width: 40%;
    display: none;
}

.horizontal-tab-button .fa {
    font-size: 1em;
    margin: 0 2.1em 0 1em;
    position: relative;
    color: #fafafa;
    -webkit-text-stroke: 1px #0074bd;
    transition: color .1s;
}

.horizontal-tab-button .fa:hover {
    color: #0074bd;
    cursor: pointer;
}

.horizontal-tab-button .fa:before {
    font-size: 2em;
    position: absolute;
    right: -22px;
    top: -30px;
    z-index: 200;
}


.horizontal-tabs ul.horizontal-tabs-list li.selected {
    display: flex;
    align-items: center;
}

.horizontal-tabs ul.horizontal-tabs-list li.selected a {
    padding-left: 1em;
}

.horizontal-tabs ul.horizontal-tabs-list li.selected a:hover {
    background-color: initial;
}

.horizontal-tab-button .fa:hover {
    -webkit-text-stroke: initial;
}

.js .field--widget-row-entity-reference-paragraphs .paragraph-header .paragraph-summary-component.processed .paragraphs-actions {
    background-color: #ececec;
}

.horizontal-tabs-panes .description {
    position: relative;
    margin: 0;
    padding: 5px 5px 5px 24px;
    border: none;
    background-image: linear-gradient(to bottom, white, #ffffbe);
    font-style: italic;
}

.horizontal-tabs-panes .description:before {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    height: 16px;
    content: ' ';
    background: transparent url(../images/tip-bulb.png) no-repeat 0 0;
}