.node-site-assessment-edit-form,
.node-site-assessment-state-change-form {
  .current-state {
    margin: 10px 0;
  }
  .form-item-title-0-value {
    margin-top: 0;
  }
  .main-data-container {
    display: block;
    widows: 100%;
    .data-fields,
    .help-text {
      box-sizing: border-box;
      padding-right: 5px;
      @media screen and (min-width: 980px) {
        float: left;
        width: 50%;
      }
      img {
        vertical-align: middle;
      }
    }
    .help-text {
      background: #f5f5f2;
      border: 1px solid rgb(230, 228, 223);
      padding: 0 5px;
      border-radius: 5px;
    }
  }
  .layout-region {
    padding-right: 0!important;
  }
}

.paragraph-as-site-value-wh-iucn-modal-paragraph-add-form,
.paragraph-as-site-value-wh-iucn-modal-paragraph-edit-form,
.paragraph-as-site-threat-iucn-modal-paragraph-add-form,
.paragraph-as-site-threat-iucn-modal-paragraph-edit-form,
.paragraph-as-site-protection-iucn-modal-paragraph-add-form,
.paragraph-as-site-protection-iucn-modal-paragraph-edit-form,
.paragraph-as-site-project-iucn-modal-paragraph-add-form,
.paragraph-as-site-project-iucn-modal-paragraph-edit-form {
  display: table;
  table-layout: fixed;
  width: 100%;
  > .form-wrapper {
    padding-bottom: 10px;
    .form-item, .fieldgroup {
      display: table-row;
      .label, label, legend {
        vertical-align: top;
        display: table-cell;
        width: 200px;
        min-width: 200px;
        max-width: 200px;
      }
      .form-text, .form-textarea-wrapper, .fieldset-wrapper, .form-select, .form-data {
        display: table-cell;
        width: calc(~'100% - 0px');
      }
    }
  }
}

.field-group-assessment-fieldset,
.overall-container {
  > legend {
    display: block;
    width: 100%;
    > .fieldset-legend {
      display: block;
    }
  }
}

.field--name-field-as-values-criteria {
  legend {
    display: contents !important;
    .fieldset-legend {
      display: table-cell;
      width: 200px;
    }
  }
}

.paragraph-as-site-benefit-iucn-modal-paragraph-add-form,
.paragraph-as-site-benefit-iucn-modal-paragraph-edit-form {
  > fieldset {
    background: none;
    border: none;
    padding: 0;
  }
}


.field--name-field-as-threats-categories.field--widget-assessment-options-buttons {
  .form-checkboxes {
     > div:first-child {
       margin-bottom: 10px;
     }
    label {
      display: inline;
      padding-left: 5px;
    }
  }
}

.required-fields {
  .fieldset-legend:after {
    .form-required();
  }
}

.hidden-container {
  display: none !important;
}

.paragraph-comments-textarea {
  .comments-container {
    display: flex;
    margin-bottom: 10px;
    .comment-author {
      min-width: 120px;
      width: 120px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

div[aria-required="aria-required"] {
  label {
    &:after {
      .form-required();
    }
  }
}

