.node-site-assessment-edit-form {
  fieldset.overall-container {
    margin: 0!important;
    padding: 0!important;
    border: none!important;
    display: grid;
    > legend .fieldset-legend {
      width: 100%;
      box-sizing: border-box;
      padding: 10px 12px;
      background: @background_color_3;
      border: solid #bfbfba;
      border-width: 1px 0;
      color: #333;
      text-transform: uppercase;
    }
    .fieldset-wrapper {
      display: table;
      width: calc(~'100% - 1px');
      border-top: 1px solid @table-border-color;
      border-left: 1px solid @table-border-color;
      .overall-row {
        display: table-row;
        &.overall-thead-row {
          .overall-cell {
            font-weight: bold;
            background: @background_color_2;
            border-bottom: 1px solid #bfbfba!important;
            height: 38px;
            box-sizing: border-box;
            label {
              font-weight: bold;
            }
          }
        }
        .form-item {
          margin: 0;
        }
        > div {
          display: table-cell;
          padding: 10px 12px;
          border-right: 1px solid @table-border-color;
          border-bottom: 1px solid @table-border-color;
          font-weight: normal;
          .form-item {
            width: 100%;
            display: table-row;
          }
          &:last-child {
            width: 150px;
          }
          &[class*="-textarea"] {
            display: table;
            width: 100%;
            padding: 0;
            border-right: none;
            border-bottom: none;
            .form-type-textarea {
              display: grid;
              grid-template-columns: 300px auto;
              @media screen and (max-width: 1024px) {
                grid-template-columns: 150px auto;
              }
            }
            label,
            .form-textarea-wrapper {
              display: table-cell;
              box-sizing: border-box;
              padding: 10px 12px;
              border-bottom: 1px solid @table-border-color;
              border-right: 1px solid @table-border-color;
              margin: 0;
            }
            label {
              font-weight: normal;
              width: 300px;
              @media screen and (max-width: 1024px) {
                width: 150px;
              }
            }
          }
          label {
            display: none;
          }
        }
      }

      .description-wrapper {
        display: table-caption;
      }
      .overall-row-view.overall-header {
        background: #ececec!important;
      }
      .overall-row-view.overall-header > div {
        border-top: 1px solid #e6e4df;
        font-weight: bold;
      }

      .overall-row-view {
        display: table-row;
      }
      .overall-row-view .form-item {
        margin: 0;
      }
      .overall-row-view > div {
        display: table-cell;
        padding: 10px 12px;
        border-right: 1px solid #e6e4df;
        border-bottom: 1px solid #e6e4df;
        font-weight: normal;
      }
      .overall-row-view > div:first-child {
        width: 300px;
      }
      .overall-row-view > div:last-child {
        width: 150px;
      }

      @media screen and (max-width: 1024px) {
        .overall-row-view > div:first-child {
          width: 150px;
        }
      }
    }
  }

  #group-summary-of-benefits {
    border: none;
    padding: 0;
    margin: 0;
    display: grid;
    > legend .fieldset-legend {
      width: 100%;
      box-sizing: border-box;
      padding: 10px 12px;
      background: @background_color_3;
      border: solid #bfbfba;
      border-width: 1px 0;
      color: #333;
      text-transform: uppercase;
    }
    .description-wrapper {
      border-bottom: 1px solid #e6e4df;
    }
    #edit-field-as-benefits-summary-wrapper {
      margin: 0 !important;
      padding: 0 !important;
      border: none !important;

      label {
        display: none;
      }

      .form-textarea-wrapper {
        padding: 10px 12px;
      }

      .button.paragraphs-icon-button {
        margin-top: 48px !important;
      }
    }
  }
}
