{#
/**
 * @file
 * Theme override to display content with tooltip.
 *
 * Available variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - module_path: Current module path.
 * - label: Content.
 * - help_text: Tooltip bubble content.
 *
 * @see template_preprocess_topic_tooltip()
 */
#}
{{ label }}
<div class="btn btn-primary topic-tooltip">
<span aria-hidden="true">
  <img src="{{ base_path }}{{ module_path }}/images/tooltip.svg" width="20" height="20"/>
</span>
<div class="right">{{ help_text | raw }}<i></i></div>
</div>
