<div class="map-site-detail">
  <a class="close" href="javascript:homepageMapSiteDetailClose()">Close</a>
  <div class="status">Critical</div>
  <img src="http://who.local/sites/default/files/site/Tassili_n%27Ajjer_National_Park.jpg">
  <h5 class="title">Ancient Maya City and Protected Tropical Forests of Calakmul, Campeche</h5>
  <div class="country">Albania</div>
  <div class="inscription">Inscribed in 1987</div>
  <a class="more" href="#">Read more</a>
  <dl>
    <dt class="values">Values</dt>
    <dd>High concern</dd>
    <dt class="threats">Threats</dt>
    <dd>High threat</dd>
    <dt class="protection">Protection &amp; management</dt>
    <dd>Some concern</dd>
  </dl>
</div>