<pre>{{ values }}</pre>
<table class="field-multiple-table responsive-enabled" data-striping="1">
  <thead>
    <tr>
      <th colspan="3" class="field-label">
        <h4 class="label">Identifying and describing values</h4>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>
        <div class="paragraph-top paragraph-header paragraph-top-col-9 js-form-wrapper form-wrapper" >
          <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >Value</div>
          <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >WH Criteria</div>
          <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper" >Description</div>
          <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-2 js-form-wrapper form-wrapper" >Justification</div>
          <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >Trend</div>
          <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >State</div>
          <div class="paragraphs-actions js-form-wrapper form-wrapper" >Actions</div>
        </div>
      </td>
    </tr>
    <tr class="draggable even diff-changed">
      <td>
        <div>
          <div  class="js-form-wrapper form-wrapper">
            <div class="paragraph-top add-above-off paragraph-top-col-9 js-form-wrapper form-wrapper" >
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >Exceptionally diverse and abundant terrestrial and marine Arctic mammal fauna</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >(x)</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper" >Seven species of resident terrestrial mammals, largest population of Polar Bear Ursus maritimus (350-600 dens on Wrangel Island and another 100 dens on Herald Island) (UNEP-WCMC, 2011). Largest rookeries of Pacific Walrus Odeobenus rosmarus, with up to 10,000 individuals (UNEP-WCMC, 2011). Several additional species of marine mammals in the vicinity, including Grey Whale Eschrichtius gibbosus and Finback Whale Balaenoptera physalus (EN) (UNEP-WCMC, 2011).</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-2 js-form-wrapper form-wrapper" >Some evidence of increased Pacific Walrus mortality, which may not be systematically monitored, possibly due to sea ice retreat, in 2007 (Ovsyanikov, 2007). No reports about negative population trends in other mammals of the property although in general, sea ice retreat following climate change is known to also affect Polar Bears (Gleason & Rode, 2009).</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >Data Deficient</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >Low Concern</div>

              <div class="paragraphs-actions">
                <a class="paragraphs-icon-button paragraphs-icon-button-edit button use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:&quot;auto&quot;,&quot;height&quot;:&quot;auto&quot;}" href="/diff-prototype-modal">Reviews</a>
                <div class="paragraphs-dropdown">
                  <button class="paragraphs-dropdown-toggle"><span class="visually-hidden">Toggle Actions</span></button>
                  <div class="paragraphs-dropdown-actions">
                    <input class="paragraphs-dropdown-action button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit">
                    <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="draggable odd">
      <td>
        <div>
          <div  class="js-form-wrapper form-wrapper">
            <div class="paragraph-top add-above-off paragraph-top-col-9 js-form-wrapper form-wrapper" >
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >Exceptionally diverse Arctic avifauna</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >(x)</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper" >170 bird species recorded, 62 of which breed on Wrangel Island (MoNRE of the RF 2012). Possibly two endemic bird (sub-)species (Directorate of Wrangel Island Reserve, 2003). Very high bird diversity in comparison with other Arctic sites (UNEP-WCMC 2011). Important stopover on Pacific-Beringia flyway of bird mirgration (Alerstam et al., 2007; Hedenstrom et al., 2009; UNEP-WCMC, 2011). Only large breeding accumulation of Snow Goose Chen caerulescens in Asia (Boyd & Cooke, 2000; UNEP-WCMC, 2011).</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-2 js-form-wrapper form-wrapper" >No deterioration of conservation status of any bird species or community has been reported since inscription, partly due to reduction of trampling by livestock on the property (which affects Snow Geese). However, a recovery of reindeer and muskoxen standing stock has been reported recently (UNEP-WCMC, 2011).</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >Stable</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >Low Concern</div>
              <div class="paragraphs-actions">
                <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit">
                <div class="paragraphs-dropdown">
                  <button class="paragraphs-dropdown-toggle"><span class="visually-hidden">Toggle Actions</span></button>
                  <div class="paragraphs-dropdown-actions">
                    <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
