{% extends "@iucn_who_diff/wrapper.html.twig" %}

{% block values %}
  <div class="field--widget-row-entity-reference-paragraphs">
    <table class="field-label paragraphs-header">
      <thead>
        <tr>
          <th class="field-label">
            <h4 class="label">Identifying and describing values</h4>
          </th>
        </tr>
      </thead>
    </table>
    <div class="double-scrollbar-helper"><div class="inner"></div></div>
    <div class="responsive-wrapper">
      <table class="field-multiple-table responsive-enabled" data-striping="1">
        <tbody>
          <tr class="odd">
            <td>
              <div class="paragraph-top paragraph-header paragraph-top-col-9 js-form-wrapper form-wrapper">
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Value</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper">WH Criteria</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper">Description</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-2 js-form-wrapper form-wrapper">Justification</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Trend</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper">State</div>
                <div class="paragraph-summary-component">
                  <div class="paragraphs-actions js-form-wrapper form-wrapper">
                    Actions</div>
                </div>
              </div>
            </td>
          </tr>
          <tr class="draggable even diff-changed">
            <td>
              <div>
                <div class="js-form-wrapper form-wrapper">
                  <div class="paragraph-top add-above-off paragraph-top-col-9 js-form-wrapper form-wrapper">
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Exceptionally diverse and abundant terrestrial and marine Arctic mammal fauna</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper">(x)</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper js-shave">Seven species of resident terrestrial mammals, largest population of Polar Bear Ursus maritimus (350-600 dens on Wrangel Island and another 100 dens on Herald Island) (UNEP-WCMC, 2011). Largest rookeries of Pacific Walrus Odeobenus rosmarus, with up to 10,000 individuals (UNEP-WCMC, 2011). Several additional species of marine mammals in the vicinity, including Grey Whale Eschrichtius gibbosus and Finback Whale Balaenoptera physalus (EN) (UNEP-WCMC, 2011).</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-2 js-form-wrapper form-wrapper">Some evidence of increased Pacific Walrus mortality, which may not be systematically monitored, possibly due to sea ice retreat, in 2007 (Ovsyanikov, 2007). No reports about negative population trends in other mammals of the property although in general, sea ice retreat following climate change is known to also affect Polar Bears (Gleason & Rode, 2009).</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Data Deficient</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Low Concern</div>
                    <div class="paragraph-summary-component">
                      <div class="paragraphs-actions">
                        <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit" disabled>
                        <a class="paragraphs-icon-button paragraphs-icon-button-compare button use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:&quot;auto&quot;,&quot;height&quot;:&quot;auto&quot;}" href="/diff-prototype-modal?type=value">Compare</a>
                        <div class="paragraphs-dropdown">
                          <button class="paragraphs-dropdown-toggle" disabled><span class="visually-hidden">Toggle Actions</span></button>
                          <div class="paragraphs-dropdown-actions">
                            <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove" >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr class="draggable odd">
            <td>
              <div>
                <div class="js-form-wrapper form-wrapper">
                  <div class="paragraph-top add-above-off paragraph-top-col-9 js-form-wrapper form-wrapper">
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Exceptionally diverse Arctic avifauna</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper">(x)</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper">170 bird species recorded, 62 of which breed on Wrangel Island (MoNRE of the RF 2012). Possibly two endemic bird (sub-)species (Directorate of Wrangel Island Reserve, 2003). Very high bird diversity in comparison with other Arctic sites (UNEP-WCMC 2011). Important stopover on Pacific-Beringia flyway of bird mirgration (Alerstam et al., 2007; Hedenstrom et al., 2009; UNEP-WCMC, 2011). Only large breeding accumulation of Snow Goose Chen caerulescens in Asia (Boyd & Cooke, 2000; UNEP-WCMC, 2011).</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-2 js-form-wrapper form-wrapper">No deterioration of conservation status of any bird species or community has been reported since inscription, partly due to reduction of trampling by livestock on the property (which affects Snow Geese). However, a recovery of reindeer and muskoxen standing stock has been reported recently (UNEP-WCMC, 2011).</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Stable</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Low Concern</div>
                    <div class="paragraph-summary-component">
                      <div class="paragraphs-actions">
                        <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit" disabled>
                        <div class="paragraphs-dropdown">
                          <button class="paragraphs-dropdown-toggle" disabled><span class="visually-hidden">Toggle Actions</span></button>
                          <div class="paragraphs-dropdown-actions">
                            <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove" >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block threats %}
  <div class="field--widget-row-entity-reference-paragraphs">
    <div class="double-scrollbar-helper"><div class="inner"></div></div>
    <div class="responsive-wrapper">
      <table class="field-multiple-table responsive-enabled" data-striping="1">
        <thead>
          <tr>
            <th colspan="3" class="field-label">
              <h4 class="label">Current Threats</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd">
            <td>
              <div class="paragraph-top paragraph-header paragraph-top-col-12 js-form-wrapper form-wrapper">
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-2 js-form-wrapper form-wrapper">Specific threat</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-2 js-form-wrapper form-wrapper">Justification</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Threat extent</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Inside site</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Outside site</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Rating</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Categories</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Affected values</div>
                <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Other affected values</div>
                <div class="paragraph-summary-component">
                  <div class="paragraphs-actions js-form-wrapper form-wrapper">
                    Actions</div>
                </div>
              </div>
            </td>
          </tr>
          <tr class="draggable even diff-changed">
            <td>
              <div id="field-as-threats-current-0-item-wrapper">
                <div data-drupal-selector="edit-field-as-threats-current-0" id="edit-field-as-threats-current-0" class="js-form-wrapper form-wrapper">
                  <div class="paragraph-top add-above-off paragraph-top-col-12 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top" id="edit-field-as-threats-current-0-top">
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_threat paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-threat" id="edit-field-as-threats-current-0-top-summary-field-as-threats-threat">Solid waste</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-description" id="edit-field-as-threats-current-0-top-summary-field-as-description">The waste dump near Ushakovskoe has been reported to have been cleaned however, any potential remaining impacts are unclear (State Party of the Russian Federation, 2015). Close to 4000 barrels removed and 45.000 were supposed to be removed in 2016-17 (Information provided to the UNESCO/IUCN Reactive Monitoring Mission, 2017).</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_extent paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-extent" id="edit-field-as-threats-current-0-top-summary-field-as-threats-extent">Localised(<5%)</div> <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_in paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-in" id="edit-field-as-threats-current-0-top-summary-field-as-threats-in">Yes</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_out paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-out" id="edit-field-as-threats-current-0-top-summary-field-as-threats-out">No</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_rating paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-rating" id="edit-field-as-threats-current-0-top-summary-field-as-threats-rating">Data Deficient</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_categories paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-categories" id="edit-field-as-threats-current-0-top-summary-field-as-threats-categories">Solid Waste</div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_values_wh paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-values-wh" id="edit-field-as-threats-current-0-top-summary-field-as-threats-values-wh"></div>
                    <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_values_bio paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-values-bio" id="edit-field-as-threats-current-0-top-summary-field-as-threats-values-bio"></div>
                    <div class="paragraph-summary-component">
                      <div class="paragraphs-actions">
                        <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit" disabled>
                        <a class="paragraphs-icon-button paragraphs-icon-button-compare button use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:&quot;auto&quot;,&quot;height&quot;:&quot;auto&quot;}" href="/diff-prototype-modal?type=threat">Compare</a>
                        <div class="paragraphs-dropdown">
                          <button class="paragraphs-dropdown-toggle" disabled><span class="visually-hidden">Toggle Actions</span></button>
                          <div class="paragraphs-dropdown-actions">
                            <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove" >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block benefits %}
<!-- {# BENEFITS #}
<div class="field--widget-row-entity-reference-paragraphs">
  <div class="double-scrollbar-helper"><div class="inner"></div></div>
  <div class="responsive-wrapper">
    <table class="field-multiple-table responsive-enabled" data-striping="1">
      <thead>
        <tr>
          <th colspan="3" class="field-label">
            <h4 class="label">Benefits</h4>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>
            <div class="paragraph-top paragraph-header paragraph-top-col-20 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header" id="edit-field-as-benefits-header">
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_category paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-category" id="edit-field-as-benefits-header-data-field-as-benefits-category">Category</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-description" id="edit-field-as-benefits-header-data-field-as-description">Summary</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_datadeficient paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-datadeficient" id="edit-field-as-benefits-header-data-field-as-benefits-datadeficient">Data deficient</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_commun_in paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-commun-in" id="edit-field-as-benefits-header-data-field-as-benefits-commun-in">Community within site</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_commun_out paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-commun-out" id="edit-field-as-benefits-header-data-field-as-benefits-commun-out">Community outside site</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_commun_wide paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-commun-wide" id="edit-field-as-benefits-header-data-field-as-benefits-commun-wide">Wider community</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_hab_level paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-hab-level" id="edit-field-as-benefits-header-data-field-as-benefits-hab-level">Habitat change level</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_hab_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-hab-trend" id="edit-field-as-benefits-header-data-field-as-benefits-hab-trend">Habitat change trend</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_pollut_level paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-pollut-level" id="edit-field-as-benefits-header-data-field-as-benefits-pollut-level">Pollution level</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_pollut_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-pollut-trend" id="edit-field-as-benefits-header-data-field-as-benefits-pollut-trend">Pollution trend</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_oex_level paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-oex-level" id="edit-field-as-benefits-header-data-field-as-benefits-oex-level">Overexploitation level</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_oex_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-oex-trend" id="edit-field-as-benefits-header-data-field-as-benefits-oex-trend">Overexploitation trend</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_climate_level paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-climate-level" id="edit-field-as-benefits-header-data-field-as-benefits-climate-level">Climate change level</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_climate_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-climate-trend" id="edit-field-as-benefits-header-data-field-as-benefits-climate-trend">Climate change trend</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_invassp_level paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-invassp-level" id="edit-field-as-benefits-header-data-field-as-benefits-invassp-level">Invasive species level</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_invassp_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-benefits-invassp-trend" id="edit-field-as-benefits-header-data-field-as-benefits-invassp-trend">Invasive species trend</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_comment paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-field-as-comment" id="edit-field-as-benefits-header-data-field-as-comment">Comments on factors</div>
              <div class="paragraph-summary-component">
                <div class="paragraphs-actions js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-header-data-actions" id="edit-field-as-benefits-header-data-actions">
                  Actions</div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="draggable even diff-changed">
          <td>
            <div id="field-as-benefits-0-item-wrapper">
              <div data-drupal-selector="edit-field-as-benefits-0" id="edit-field-as-benefits-0" class="js-form-wrapper form-wrapper">
                <div class="paragraph-top add-above-off paragraph-top-col-20 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top" id="edit-field-as-benefits-0-top">
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_category paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-category" id="edit-field-as-benefits-0-top-summary-field-as-benefits-category">Food</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-description" id="edit-field-as-benefits-0-top-summary-field-as-description">No information on coastal fisheries around Wrangel Island is available but it is likely that some fisheries activities are ongoing.</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_datadeficient paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-datadeficient" id="edit-field-as-benefits-0-top-summary-field-as-benefits-datadeficient">No</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_commun_in paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-commun-in" id="edit-field-as-benefits-0-top-summary-field-as-benefits-commun-in">Minor</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_commun_out paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-commun-out" id="edit-field-as-benefits-0-top-summary-field-as-benefits-commun-out">Major</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_commun_wide paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-commun-wide" id="edit-field-as-benefits-0-top-summary-field-as-benefits-commun-wide">Major</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_hab_level paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-hab-level" id="edit-field-as-benefits-0-top-summary-field-as-benefits-hab-level">High</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_hab_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-hab-trend" id="edit-field-as-benefits-0-top-summary-field-as-benefits-hab-trend">Decreasing</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_pollut_level paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-pollut-level" id="edit-field-as-benefits-0-top-summary-field-as-benefits-pollut-level">Low</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_pollut_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-pollut-trend" id="edit-field-as-benefits-0-top-summary-field-as-benefits-pollut-trend">Continuing</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_oex_level paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-oex-level" id="edit-field-as-benefits-0-top-summary-field-as-benefits-oex-level">Moderate</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_oex_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-oex-trend" id="edit-field-as-benefits-0-top-summary-field-as-benefits-oex-trend">Continuing</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_climate_level paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-climate-level" id="edit-field-as-benefits-0-top-summary-field-as-benefits-climate-level">Very High</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_climate_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-climate-trend" id="edit-field-as-benefits-0-top-summary-field-as-benefits-climate-trend">Continuing</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_invassp_level paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-invassp-level" id="edit-field-as-benefits-0-top-summary-field-as-benefits-invassp-level">Low</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_benefits_invassp_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-benefits-invassp-trend" id="edit-field-as-benefits-0-top-summary-field-as-benefits-invassp-trend">Continuing</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_comment paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-benefits-0-top-summary-field-as-comment" id="edit-field-as-benefits-0-top-summary-field-as-comment">SOME DUMMY TEXT</div>
                  <div class="paragraph-summary-component">
                    <div class="paragraphs-actions">
                      <a class="paragraphs-icon-button paragraphs-icon-button-edit button use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:&quot;auto&quot;,&quot;height&quot;:&quot;auto&quot;}" href="/diff-prototype-modal?type=benefit">Compare</a>
                      <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-benefits-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-benefits-0-edit--2" name="field_as_benefits_0_edit" value="Edit" disabled>
                      <div class="paragraphs-dropdown">
                        <button class="paragraphs-dropdown-toggle" disabled><span class="visually-hidden">Toggle Actions</span></button>
                        <div class="paragraphs-dropdown-actions">
                          <input data-drupal-selector="field-as-benefits-0-remove" formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" id="field-as-benefits-0-remove" name="field_as_benefits_0_remove" value="Remove" >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
{% endblock %}
