{# VALUES #}
{% if values == 'value' %}
  <div class="responsive-wrapper">
    <table class="field-multiple-table responsive-enabled" data-striping="1">
      <tbody>
        {# Header #}
        <tr class="odd">
          <td>
            <div class="paragraph-top paragraph-header paragraph-top-col-8 js-form-wrapper form-wrapper">
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">Source</div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">Value</div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">WH Criteria</div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">Description</div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">Justification</div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">Trend</div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">State</div>
              <div class="paragraphs-actions js-form-wrapper form-wrapper">Actions</div>
            </div>
          </td>
        </tr>
        {# Initial #}
        <tr class="even">
          <td>
            <div>
              <div class="js-form-wrapper form-wrapper">
                <div class="paragraph-top paragraph-top-col-8 js-form-wrapper form-wrapper" id="initial-version">
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="source">Initial</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Exceptionally diverse and abundant terrestrial and marine Arctic mammal fauna</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper">(x)</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Seven species of resident terrestrial mammals, largest population of Polar Bear Ursus maritimus (350-600 dens on Wrangel Island and another 100 dens on Herald Island) (UNEP-WCMC, 2011). Largest rookeries of Pacific Walrus Odeobenus rosmarus, with up to 10,000 individuals (UNEP-WCMC, 2011). Several additional species of marine mammals in the vicinity, including Grey Whale Eschrichtius gibbosus and Finback Whale Balaenoptera physalus (EN) (UNEP-WCMC, 2011).</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Some evidence of increased Pacific Walrus mortality, which may not be systematically monitored, possibly due to sea ice retreat, in 2007 (Ovsyanikov, 2007). No reports about negative population trends in other mammals of the property although in general, sea ice retreat following climate change is known to also affect Polar Bears (Gleason & Rode, 2009).</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Data Deficient</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Low Concern</div>
                  <div class="paragraphs-actions">
                    {# <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Approve" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Approve">
                    <div class="paragraphs-dropdown">
                      <button class="paragraphs-dropdown-toggle"><span class="visually-hidden">Toggle Actions</span></button>
                      <div class="paragraphs-dropdown-actions">
                        <input class="paragraphs-dropdown-action button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit">
                        <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove">
                      </div>
                    </div> #}
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {# Reviewer 1 #}
        <tr class="odd">
          <td>
            <div>
              <div class="js-form-wrapper form-wrapper">
                <div class="paragraph-top add-above-off paragraph-top-col-8 js-form-wrapper form-wrapper">
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="source">Reviewer 1</div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="value">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline">Exceptionally diverse and abundant terrestrial and marine Arctic mammal fauna</td>
                      </tr>
                      <tr>
                        <td class="diff-context diff-marker diff-addedline">+</td>
                        <td class="diff-context diff-addedline">Exceptionally diverse and abundant terrestrial <span class="diffchange">INSERTED TEXT </span> and marine Arctic mammal fauna
                          </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <!-- Copy Trigger -->
                          <button class="btn btn-copy" data-copy>Copy</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="wh-criteria">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline">(<span class="diffchange">x</span>)</td>
                      </tr>
                      <tr>
                        <td class="diff-context diff-marker diff-addedline">+</td>
                        <td class="diff-context diff-addedline">(<span class="diffchange">iii</span>)</td>
                      </tr>
                      <tr>
                        <td class="diff-context diff-marker diff-addedline">+</td>
                        <td class="diff-context diff-addedline">(<span class="diffchange">vi</span>)</td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <!-- Copy Trigger -->
                          <button class="btn btn-copy" data-copy>Copy</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="description">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline">Seven species of resident terrestrial mammals, largest population of Polar Bear Ursus maritimus (350-600 dens on Wrangel Island and another 100 dens on Herald Island) (UNEP-WCMC, 2011). Largest rookeries of Pacific Walrus Odeobenus rosmarus, with up to 10,000 individuals (UNEP-WCMC, 2011). Several additional species of marine mammals in the vicinity, including Grey Whale Eschrichtius gibbosus and Finback Whale Balaenoptera physalus (EN) (UNEP-WCMC, 2011).</td>
                      </tr>
                      <tr>
                        <td class="diff-context diff-marker diff-addedline">+</td>
                        <td class="diff-context diff-addedline"><span class="diffchange">INSERTED TEXT </span>Seven species of resident terrestrial mammals, largest population of Polar Bear Ursus maritimus (350-600 dens on Wrangel Island and another 100 dens on Herald Island) (UNEP-WCMC, 2011). Largest rookeries of Pacific Walrus Odeobenus rosmarus, with up to 10,000 individuals (UNEP-WCMC, 2011). Several additional species of marine mammals in the vicinity, including Grey Whale Eschrichtius gibbosus and Finback Whale Balaenoptera physalus (EN) (UNEP-WCMC, 2011).
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <!-- Copy Trigger -->
                          <button class="btn btn-copy" data-copy>Copy</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="justification">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline">Some evidence of increased Pacific Walrus mortality, which may not be systematically monitored, possibly due to sea ice retreat, in 2007 (Ovsyanikov, 2007). No reports about negative population trends in other mammals of the property although in general, sea ice retreat following climate change is known to also affect Polar Bears (Gleason &amp; Rode, 2009).</td>
                      </tr>
                      <tr>
                        <td class="diff-context diff-marker diff-addedline">+</td>
                        <td class="diff-context diff-addedline">Some evidence of increased Pacific Walrus mortality, which may not be systematically monitored, possibly due to sea ice retreat, in 2007 (Ovsyanikov, 2007). No reports about negative population trends in other mammals of the property although in general, sea ice retreat following climate change is known to also affect Polar Bears (Gleason &amp; Rode, 2009).<span class="diffchange">INSERTED TEXT </span>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <!-- Copy Trigger -->
                          <button class="btn btn-copy" data-copy>Copy</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="trend">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline"><span class="diffchange">Data Deficient</span></td>
                      </tr>
                      <tr>
                        <td class="diff-context diff-marker diff-addedline">+</td>
                        <td class="diff-context diff-addedline"><span class="diffchange">Improving</span></td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <!-- Copy Trigger -->
                          <button class="btn btn-copy" data-copy>Copy</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="state">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline"><span class="diffchange">Low Concern</span></td>
                      </tr>
                      <tr>
                        <td class="diff-context diff-marker diff-addedline">+</td>
                        <td class="diff-context diff-addedline"><span class="diffchange">Critical</span>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <!-- Copy Trigger -->
                          <button class="btn btn-copy" data-copy>Copy</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraphs-actions">
                    <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Approve" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Approve">
                    {# <div class="paragraphs-dropdown">
                      <button class="paragraphs-dropdown-toggle"><span class="visually-hidden">Toggle Actions</span></button>
                      <div class="paragraphs-dropdown-actions">
                        <input class="paragraphs-dropdown-action button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit">
                        <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove">
                      </div>
                    </div> #}
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {# Reviewer 2 #}
        <!--<tr class="even">
          <td>
            <div>
              <div class="js-form-wrapper form-wrapper">
                <div class="paragraph-top add-above-off paragraph-top-col-8 js-form-wrapper form-wrapper">
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper">Reviewer 2</div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper"></div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="wh-criteria">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline">(x)</td>
                      </tr>
                      <tr>
                        <td class="diff-context diff-addedline diff-marker">+</td>
                        <td class="diff-context diff-addedline">(x)<span class="diffchange">(vii)</span></td>
                        {#
                        <!-- Copy Trigger -->
                        <button class="btn btn-copy" data-copy>Copy</button> #}
                      </tr>
                    </table>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper"></div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper"></div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper"></div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper">Good</div>
                  <div class="paragraphs-actions">
                    <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Approve" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Approve">
                    <div class="paragraphs-dropdown">
                      <button class="paragraphs-dropdown-toggle"><span class="visually-hidden">Toggle Actions</span></button>
                      <div class="paragraphs-dropdown-actions">
                        <input class="paragraphs-dropdown-action button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit">
                        <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {# Reviewer 3 #}
        <tr class="odd">
          <td>
            <div>
              <div class="js-form-wrapper form-wrapper">
                <div class="paragraph-top add-above-off paragraph-top-col-8 js-form-wrapper form-wrapper">
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper">Reviewer 3</div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper">
                    {# <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline">Exceptionally diverse and abundant terrestrial and marine Arctic mammal fauna</td>
                      </tr>
                    </table> #}
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="wh-criteria">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline">(vii)</td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline">L'Aïr constitue une enclave sahélienne entourée par un désert saharien, <span class="diffchange">formant ainsi un assemblage</span> remarquable d'écosystèmes reliques combinés avec des paysages de montagnes et de plaines d'intérêt et de valeur esthétique exceptionnels. Le déplacement et les dépôts de sable des dunes vives modifient rapidement le paysage du Ténéré. Les montagnes de marbre bleu confère à cette région un intérêt esthétique exceptionnel. (SoOUV, 2010)</td>
                      </tr>
                      <tr>
                        <td class="diff-context diff-marker diff-addedline">-</td>
                        <td class="diff-context diff-addedline">L'Aïr constitue une enclave sahélienne entourée par un désert saharien, <span class="diffchange">replacement text</span> remarquable d'écosystèmes reliques combinés avec des paysages de montagnes et de plaines d'intérêt et de valeur esthétique exceptionnels. Le déplacement et les dépôts de sable des dunes vives modifient rapidement le paysage du Ténéré. Les montagnes de marbre bleu confère à cette région un intérêt esthétique exceptionnel. (SoOUV, 2010)</td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper"></div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline">Data Deficient</td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline">Low Concern</td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraphs-actions">
                    <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Approve" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Approve">
                    <div class="paragraphs-dropdown">
                      <button class="paragraphs-dropdown-toggle"><span class="visually-hidden">Toggle Actions</span></button>
                      <div class="paragraphs-dropdown-actions">
                        <input class="paragraphs-dropdown-action button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit">
                        <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        -->
        {# Final #}
        <tr class="even">
          <td>
            <div>
              <div class="js-form-wrapper form-wrapper">
                <div class="paragraph-top add-above-off paragraph-top-col-8 js-form-wrapper form-wrapper" id="final-version">
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper">Final</div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="value">
                    Exceptionally diverse and abundant terrestrial and marine Arctic mammal fauna
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset paragraphs-icon-button paragraphs-icon-button-edit" data-initial>Reset</button>
                    {# <div class="paragraphs-actions">
                      <div class="paragraphs-dropdown">
                        <button class="paragraphs-dropdown-toggle"><span class="visually-hidden">Toggle Actions</span></button>
                        <div class="paragraphs-dropdown-actions">
                          <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove">
                        </div>
                      </div> #}
                      {#
                    </div> #}
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="wh-criteria">
                    <select multiple="multiple" class="chosen-enable" tabindex="-1">
                      <option value="1221">(i)</option>
                      <option value="1222">(ii)</option>
                      <option value="1223">(iii)</option>
                      <option value="1224">(iv)</option>
                      <option value="1226">(v)</option>
                      <option value="1227" selected="selected">(vi)</option>
                      <option value="1228" selected="selected">(vii)</option>
                      <option value="1229">(viii)</option>
                      <option value="1225">(ix)</option>
                      <option value="1230">(x)</option>
                    </select>
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset" data-initial>Reset</button>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="description">
                    <textarea>L'Aïr constitue une enclave sahélienne entourée par un désert saharien, formant ainsi un assemblage remarquable d'écosystèmes reliques combinés avec des paysages de montagnes et de plaines d'intérêt et de valeur esthétique exceptionnels. Le déplacement et les dépôts de sable des dunes vives modifient rapidement le paysage du Ténéré. Les montagnes de marbre bleu confère à cette région un intérêt esthétique exceptionnel. (SoOUV, 2010)</textarea>
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset" data-initial>Reset</button>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="justification">
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="trend">
                    <select class="form-select chosen-disable">
                      <option value="_none">- None -</option>
                      <option value="1419">Data Deficient</option>
                      <option value="1418" selected="selected">Deteriorating</option>
                      <option value="1416">Improving</option>
                      <option value="1417">Stable</option>
                    </select>
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset" data-initial>Reset</button>
                  </div>
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="value">
                    <select class="form-select chosen-disable">
                      <option value="_none">- None -</option>
                      <option value="1349">Critical</option>
                      <option value="1350">Data Deficient</option>
                      <option value="1346">Good</option>
                      <option value="1348" selected="selected">High Concern</option>
                      <option value="1347">Low Concern</option>
                    </select>
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset" data-initial>Reset</button>
                  </div>
                  <div class="paragraphs-actions">
                    <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Edit" formnovalidate="formnovalidate" type="submit" value="Submit" />
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endif %}

{# THREATS #}
{% if values == 'threat' %}
  <div class="responsive-wrapper">
    <table class="field-multiple-table responsive-enabled" data-striping="1">
      <thead>
        <tr>
          <th colspan="3" class="field-label">
            <h4 class="label">Current Threats</h4>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>
            <div class="paragraph-top paragraph-header paragraph-top-col-11 js-form-wrapper form-wrapper">
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">Source</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Specific threat</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Justification</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Threat extent</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Inside site</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Outside site</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Rating</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Categories</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Affected values</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Other affected values</div>
              <div class="paragraphs-actions js-form-wrapper form-wrapper">Actions</div>
            </div>
          </td>
        </tr>
        <tr class="even">
          <td>
            <div id="field-as-threats-current-0-item-wrapper">
              <div data-drupal-selector="edit-field-as-threats-current-0" id="edit-field-as-threats-current-0" class="js-form-wrapper form-wrapper">
                <div class="paragraph-top add-above-off paragraph-top-col-11 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top" id="edit-field-as-threats-current-0-top">
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="source">Initial</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_threat paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-threat" id="edit-field-as-threats-current-0-top-summary-field-as-threats-threat">Solid waste</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-description" id="edit-field-as-threats-current-0-top-summary-field-as-description">The waste dump near Ushakovskoe has been reported to have been cleaned however, any potential remaining impacts are unclear (State Party of the Russian Federation, 2015). Close to 4000 barrels removed and 45.000 were supposed to be removed in 2016-17 (Information provided to the UNESCO/IUCN Reactive Monitoring Mission, 2017).</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_extent paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-extent" id="edit-field-as-threats-current-0-top-summary-field-as-threats-extent">Localised(<5%)</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_in paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-in" id="edit-field-as-threats-current-0-top-summary-field-as-threats-in">Yes</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_out paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-out" id="edit-field-as-threats-current-0-top-summary-field-as-threats-out">No</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_rating paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-rating" id="edit-field-as-threats-current-0-top-summary-field-as-threats-rating">Data Deficient</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_categories paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-categories" id="edit-field-as-threats-current-0-top-summary-field-as-threats-categories">Solid Waste</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_values_wh paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-values-wh" id="edit-field-as-threats-current-0-top-summary-field-as-threats-values-wh"></div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_values_bio paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-values-bio" id="edit-field-as-threats-current-0-top-summary-field-as-threats-values-bio"></div>
                  <div class="paragraphs-actions">
                    {# <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Approve" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Approve">
                    <div class="paragraphs-dropdown">
                      <button class="paragraphs-dropdown-toggle"><span class="visually-hidden">Toggle Actions</span></button>
                      <div class="paragraphs-dropdown-actions">
                        <input class="paragraphs-dropdown-action button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit">
                        <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove">
                      </div>
                    </div> #}
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="odd">
          <td>
            <div id="field-as-threats-current-0-item-wrapper">
              <div data-drupal-selector="edit-field-as-threats-current-0" id="edit-field-as-threats-current-0" class="js-form-wrapper form-wrapper">
                <div class="paragraph-top add-above-off paragraph-top-col-11 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top" id="edit-field-as-threats-current-0-top">
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="source">Reviewer 2</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_threat paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-threat" id="edit-field-as-threats-current-0-top-summary-field-as-threats-threat"></div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-description" id="edit-field-as-threats-current-0-top-summary-field-as-description"></div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_extent paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-extent" id="edit-field-as-threats-current-0-top-summary-field-as-threats-extent"></div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_in paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-in" id="edit-field-as-threats-current-0-top-summary-field-as-threats-in">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline"><span class="diffchange">Yes</span></td>
                      </tr>
                      <tr>
                        <td class="diff-context diff-marker diff-addedline">+</td>
                        <td class="diff-context diff-addedline"><span class="diffchange">No</span>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <!-- Copy Trigger -->
                          <button class="btn btn-copy" data-copy>Copy</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_out paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-out" id="edit-field-as-threats-current-0-top-summary-field-as-threats-out">
                    <table>
                      <tr>
                        <td class="diff-context diff-marker diff-deletedline">-</td>
                        <td class="diff-context diff-deletedline"><span class="diffchange">No</span></td>
                      </tr>
                      <tr>
                        <td class="diff-context diff-marker diff-addedline">+</td>
                        <td class="diff-context diff-addedline"><span class="diffchange">Yes</span>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <!-- Copy Trigger -->
                          <button class="btn btn-copy" data-copy>Copy</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_rating paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-rating" id="edit-field-as-threats-current-0-top-summary-field-as-threats-rating"></div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_categories paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-categories" id="edit-field-as-threats-current-0-top-summary-field-as-threats-categories"></div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_values_wh paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-values-wh" id="edit-field-as-threats-current-0-top-summary-field-as-threats-values-wh"></div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_values_bio paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-values-bio" id="edit-field-as-threats-current-0-top-summary-field-as-threats-values-bio"></div>
                  <div class="paragraphs-actions">
                    <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Approve" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Approve">
                    {# <div class="paragraphs-dropdown">
                      <button class="paragraphs-dropdown-toggle"><span class="visually-hidden">Toggle Actions</span></button>
                      <div class="paragraphs-dropdown-actions">
                        <input class="paragraphs-dropdown-action button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit">
                        <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove">
                      </div>
                    </div> #}
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="even">
          <td>
            <div id="field-as-threats-current-0-item-wrapper">
              <div data-drupal-selector="edit-field-as-threats-current-0" id="edit-field-as-threats-current-0" class="js-form-wrapper form-wrapper">
                <div class="paragraph-top add-above-off paragraph-top-col-11 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top" id="edit-field-as-threats-current-0-top">
                  <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="source">Final</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_threat paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-threat" id="edit-field-as-threats-current-0-top-summary-field-as-threats-threat">Solid waste</div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-description" id="edit-field-as-threats-current-0-top-summary-field-as-description">
                    <textarea>The waste dump near Ushakovskoe has been reported to have been cleaned however, any potential remaining impacts are unclear (State Party of the Russian Federation, 2015). Close to 4000 barrels removed and 45.000 were supposed to be removed in 2016-17 (Information provided to the UNESCO/IUCN Reactive Monitoring Mission, 2017).
                    </textarea>
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset paragraphs-icon-button paragraphs-icon-button-edit" data-initial>Reset</button>
                  </div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_extent paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-extent" id="edit-field-as-threats-current-0-top-summary-field-as-threats-extent">
                    <select data-drupal-selector="edit-field-as-threats-current-0-subform-field-as-threats-extent" id="edit-field-as-threats-current-0-subform-field-as-threats-extent--t8UpZSnMdNU" name="field_as_threats_current[0][subform][field_as_threats_extent]" class="form-select chosen-disable"><option value="_none">- None -</option><option value="1430">Throughout(&gt;50%)</option><option value="1421">Widespread(15-50%)</option><option value="1422">Scattered(5-15%)</option><option value="1423" selected="selected">Localised(&lt;5%)</option><option value="1431">Extent of threat not known</option><option value="1432">Not applicable</option></select>
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset paragraphs-icon-button paragraphs-icon-button-edit" data-initial>Reset</button>
                  </div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_in paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-in" id="edit-field-as-threats-current-0-top-summary-field-as-threats-in">
                    <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-as-threats-current-0-subform-field-as-threats-in-value form-item-field-as-threats-current-0-subform-field-as-threats-in-value">
                        <input data-drupal-selector="edit-field-as-threats-current-0-subform-field-as-threats-in-value" type="checkbox" id="edit-field-as-threats-current-0-subform-field-as-threats-in-value--sVEd4eYkWz8" name="field_as_threats_current[0][subform][field_as_threats_in][value]" value="0" class="form-checkbox" checked="checked">
                        <label for="edit-field-as-threats-current-0-subform-field-as-threats-in-value--sVEd4eYkWz8" class="option"></label>
                    </div>
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset paragraphs-icon-button paragraphs-icon-button-edit" data-initial>Reset</button>
                  </div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_out paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-out" id="edit-field-as-threats-current-0-top-summary-field-as-threats-out">
                    <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-as-threats-current-0-subform-field-as-threats-in-value form-item-field-as-threats-current-0-subform-field-as-threats-in-value">
                        <input data-drupal-selector="edit-field-as-threats-current-0-subform-field-as-threats-in-value" type="checkbox" id="edit-field-as-threats-current-0-subform-field-as-threats-in-value--sVEd4eYkWz8" name="field_as_threats_current[0][subform][field_as_threats_in][value]" value="1" class="form-checkbox">
                        <label for="edit-field-as-threats-current-0-subform-field-as-threats-in-value--sVEd4eYkWz8" class="option"></label>
                    </div>
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset paragraphs-icon-button paragraphs-icon-button-edit" data-initial>Reset</button>
                  </div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_rating paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-rating" id="edit-field-as-threats-current-0-top-summary-field-as-threats-rating">
                    <select data-drupal-selector="edit-field-as-threats-current-0-subform-field-as-threats-rating" id="edit-field-as-threats-current-0-subform-field-as-threats-rating--J9tv2SQHQrc" name="field_as_threats_current[0][subform][field_as_threats_rating]" class="form-select chosen-disable"><option value="_none">- None -</option><option value="1368" selected="selected">Data Deficient</option><option value="1366">High Threat</option><option value="1365">Low Threat</option><option value="1367">Very High Threat</option><option value="1364">Very Low Threat</option></select>
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset paragraphs-icon-button paragraphs-icon-button-edit" data-initial>Reset</button>
                  </div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_categories paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-categories" id="edit-field-as-threats-current-0-top-summary-field-as-threats-categories">
                    <select multiple="multiple" class="form-select chosen-enable">
                      <option value="1352">Agriculture and Aquaculture</option>
                      <option value="1372">-Crops</option>
                      <option value="1373">-Forestry/ Wood production</option>
                      <option value="1374">-Livestock Farming / Grazing</option>
                      <option value="1375">-Crop production</option>
                      <option value="1376">-Marine/ Freshwater Aquaculture</option>
                      <option value="1355">Biological Resource Use</option>
                      <option value="1384">-Hunting (commercial/subsistence)</option>
                      <option value="1385">-Poaching</option>
                      <option value="1386">-Logging/ Wood Harvesting</option>
                      <option value="1387">-Fishing / Harvesting Aquatic Resources</option>
                      <option value="1388">-Other Biological Resource Use</option>
                      <option value="1361">Climate Change and Severe Weather</option>
                      <option value="1408">-Habitat Shifting/ Alteration</option>
                      <option value="1409">-Droughts</option>
                      <option value="1410">-Desertification</option>
                      <option value="1411">-Ocean acidification</option>
                      <option value="1412">-Temperature extremes</option>
                      <option value="1413">-Storms/Flooding</option>
                      <option value="1353">Energy Production and Mining</option>
                      <option value="1377">-Oil/ Gas exploration/development</option>
                      <option value="1378">-Mining/ Quarrying</option>
                      <option value="1379">-Renewable Energy</option>
                      <option value="1360">Geological Events</option>
                      <option value="1404">-Volcanoes</option>
                      <option value="1405">-Earthquakes/ Tsunamis</option>
                      <option value="1406">-Avalanches/ Landslides</option>
                      <option value="1407">-Erosion and Siltation/ Deposition</option>
                      <option value="1356">Human Intrusions and Disturbance</option>
                      <option value="1389">-Tourism/ visitors/ recreation</option>
                      <option value="1390">-War, Civil Unrest/ Military Exercises</option>
                      <option value="1391">-Other Activities</option>
                      <option value="1358">Invasive and Other Problematic Species and Genes</option>
                      <option value="1395">-Invasive Non-Native/ Alien Species</option>
                      <option value="1396">-Hyper-Abundant Species</option>
                      <option value="1397">-Modified Genetic Material</option>
                      <option value="1357">Natural System Modifications</option>
                      <option value="1392">-Fire/ Fire Suppression</option>
                      <option value="1393">-Dams/ Water Management or Use</option>
                      <option value="1394">-Other Ecosystem Modifications</option>
                      <option value="1359">Pollution</option>
                      <option value="1398">-Water Pollution</option>
                      <option value="1399">-Household Sewage/ Urban Waste Water</option>
                      <option value="1400">-Industrial/ Military Effluents</option>
                      <option value="1401">-Agricultural/ Forestry Effluents</option>
                      <option value="1402" selected="selected">-Solid Waste</option>
                      <option value="1403">-Air Pollution</option>
                      <option value="1351">Residential and Commercial Development</option>
                      <option value="1369">-Housing/ Urban Areas</option>
                      <option value="1370">-Commercial/ Industrial Areas</option>
                      <option value="1371">-Tourism/ Recreation Areas</option>
                      <option value="1362">Social/ Cultural Changes</option>
                      <option value="1414">-Changes in traditional ways of life and knowledge systems</option>
                      <option value="1415">-Identity/ Social Cohesion/ Changes in local population and community</option>
                      <option value="1354">Transportation and Service Corridors</option>
                      <option value="1380">-Roads/ Railroads</option>
                      <option value="1381">-Utility / Service Lines</option>
                      <option value="1382">-Shipping Lanes</option>
                      <option value="1383">-Flight Paths</option>
                      <option value="1363">Other</option>
                    </select>
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset paragraphs-icon-button paragraphs-icon-button-edit" data-initial>Reset</button>
                  </div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_values_wh paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-values-wh" id="edit-field-as-threats-current-0-top-summary-field-as-threats-values-wh">
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset paragraphs-icon-button paragraphs-icon-button-edit" data-initial>Reset</button>
                  </div>
                  <div class="paragraph-summary-component paragraph-summary-component-field_as_threats_values_bio paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-0-top-summary-field-as-threats-values-bio" id="edit-field-as-threats-current-0-top-summary-field-as-threats-values-bio">
                    <!-- Initial Trigger -->
                    <button class="btn btn-reset paragraphs-icon-button paragraphs-icon-button-edit" data-initial>Reset</button>
                  </div>
                  <div class="paragraphs-actions">
                    <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Edit" formnovalidate="formnovalidate" type="submit" value="Submit" />
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endif %}
