<table class="field-multiple-table responsive-enabled" data-striping="1">
  <tbody>
    {# Header #}
    <tr class="odd">
      <td>
        <div class="paragraph-top paragraph-header paragraph-top-col-8 js-form-wrapper form-wrapper">
          <div class="paragraph-summary-component js-form-wrapper form-wrapper">Source</div>
          <div class="paragraph-summary-component js-form-wrapper form-wrapper">Value</div>
          <div class="paragraph-summary-component js-form-wrapper form-wrapper">WH Criteria</div>
          <div class="paragraph-summary-component js-form-wrapper form-wrapper">Description</div>
          <div class="paragraph-summary-component js-form-wrapper form-wrapper">Justification</div>
          <div class="paragraph-summary-component js-form-wrapper form-wrapper">Trend</div>
          <div class="paragraph-summary-component js-form-wrapper form-wrapper">State</div>
          <div class="paragraphs-actions js-form-wrapper form-wrapper">Actions</div>
        </div>
      </td>
    </tr>
    {# Initial #}
    <tr class="even">
      <td>
        <div>
          <div class="js-form-wrapper form-wrapper">
            <div class="paragraph-top paragraph-top-col-8 js-form-wrapper form-wrapper" id="initial-version">
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="source">Initial</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Exceptionally diverse and abundant terrestrial and marine Arctic mammal fauna</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper">(x)</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-1 js-form-wrapper form-wrapper" >Seven species of resident terrestrial mammals, largest population of Polar Bear Ursus maritimus (350-600 dens on Wrangel Island and another 100 dens on Herald Island) (UNEP-WCMC, 2011). Largest rookeries of Pacific Walrus Odeobenus rosmarus, with up to 10,000 individuals (UNEP-WCMC, 2011). Several additional species of marine mammals in the vicinity, including Grey Whale Eschrichtius gibbosus and Finback Whale Balaenoptera physalus (EN) (UNEP-WCMC, 2011).</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Some evidence of increased Pacific Walrus mortality, which may not be systematically monitored, possibly due to sea ice retreat, in 2007 (Ovsyanikov, 2007). No reports about negative population trends in other mammals of the property although in general, sea ice retreat following climate change is known to also affect Polar Bears (Gleason & Rode, 2009).</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Data Deficient</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper">Low Concern</div>

              <div class="paragraphs-actions">
                <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Approve" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Approve">
                <div class="paragraphs-dropdown">
                  <button class="paragraphs-dropdown-toggle"><span class="visually-hidden">Toggle Actions</span></button>
                  <div class="paragraphs-dropdown-actions">
                    <input class="paragraphs-dropdown-action button js-form-submit form-submit" title="Edit" data-drupal-selector="field-as-values-wh-0-edit-2" formnovalidate="formnovalidate" type="submit" id="field-as-values-wh-0-edit--2" name="field_as_values_wh_0_edit" value="Edit">
                    <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove">
                  </div>
                </div>
              </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {# Reviewer 1 #}
    <tr class="odd">
      <td>
        <div>
          <div class="js-form-wrapper form-wrapper">
            <div class="paragraph-top add-above-off paragraph-top-col-8 js-form-wrapper form-wrapper">
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="source">Reviewer 1</div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="value">
                <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline">Exceptionally diverse and abundant terrestrial and marine Arctic mammal fauna</td>
                  </tr>
                  <tr>
                    <td class="diff-context diff-marker diff-addedline">+</td>
                    <td class="diff-context diff-addedline">Exceptionally diverse and abundant terrestrial <span class="diffchange">INSERTED TEXT </span> and marine Arctic mammal fauna
                      {# <!-- Copy Trigger -->
                      <button class="btn" data-copy>Copy</button> #}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="wh-criteria">
                <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline">(<span class="diffchange">x</span>)</td>
                  </tr>
                  <tr>
                    <td class="diff-context diff-marker diff-addedline">+</td>
                    <td class="diff-context diff-addedline">(<span class="diffchange">iii</span>)</td>
                  {# <!-- Copy Trigger -->
                  <button class="btn" data-copy>Copy</button> #}
                  </tr>
                  <tr>
                    <td class="diff-context diff-marker diff-addedline">+</td>
                    <td class="diff-context diff-addedline">(<span class="diffchange">vi</span>)</td>
                  {# <!-- Copy Trigger -->
                  <button class="btn" data-copy>Copy</button> #}
                  </tr>
                </table>
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="description">
                <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline">Seven species of resident terrestrial mammals, largest population of Polar Bear Ursus maritimus (350-600 dens on Wrangel Island and another 100 dens on Herald Island) (UNEP-WCMC, 2011). Largest rookeries of Pacific Walrus Odeobenus rosmarus, with up to 10,000 individuals (UNEP-WCMC, 2011). Several additional species of marine mammals in the vicinity, including Grey Whale Eschrichtius gibbosus and Finback Whale Balaenoptera physalus (EN) (UNEP-WCMC, 2011).</td>
                  </tr>
                  <tr>
                    <td class="diff-context diff-marker diff-addedline">+</td>
                    <td class="diff-context diff-addedline"><span class="diffchange">INSERTED TEXT </span>Seven species of resident terrestrial mammals, largest population of Polar Bear Ursus maritimus (350-600 dens on Wrangel Island and another 100 dens on Herald Island) (UNEP-WCMC, 2011). Largest rookeries of Pacific Walrus Odeobenus rosmarus, with up to 10,000 individuals (UNEP-WCMC, 2011). Several additional species of marine mammals in the vicinity, including Grey Whale Eschrichtius gibbosus and Finback Whale Balaenoptera physalus (EN) (UNEP-WCMC, 2011).
                      {# <!-- Copy Trigger -->
                      <button class="btn" data-copy>Copy</button> #}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="justification">
                <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline">Some evidence of increased Pacific Walrus mortality, which may not be systematically monitored, possibly due to sea ice retreat, in 2007 (Ovsyanikov, 2007). No reports about negative population trends in other mammals of the property although in general, sea ice retreat following climate change is known to also affect Polar Bears (Gleason &amp; Rode, 2009).</td>
                  </tr>
                  <tr>
                    <td class="diff-context diff-marker diff-addedline">+</td>
                    <td class="diff-context diff-addedline">Some evidence of increased Pacific Walrus mortality, which may not be systematically monitored, possibly due to sea ice retreat, in 2007 (Ovsyanikov, 2007). No reports about negative population trends in other mammals of the property although in general, sea ice retreat following climate change is known to also affect Polar Bears (Gleason &amp; Rode, 2009).<span class="diffchange">INSERTED TEXT </span>
                      {# <!-- Copy Trigger -->
                      <button class="btn" data-copy>Copy</button> #}
                    </td>
                  </tr>
                </table>


              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="trend">
                <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline"><span class="diffchange">Deteriorating</span></td>
                  </tr>
                  <tr>
                    <td class="diff-context diff-marker diff-addedline">+</td>
                    <td class="diff-context diff-addedline"><span class="diffchange">Data Deficient</span></td>
                    {# <!-- Copy Trigger -->
                    <button class="btn" data-copy>Copy</button> #}
                  </tr>
                </table>
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="state">
                <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline"><span class="diffchange">Low Concern</span></td>
                  </tr>
                  <tr>
                    <td class="diff-context diff-marker diff-addedline">+</td>
                    <td class="diff-context diff-addedline"><span class="diffchange">Improving</span>
                      {# <!-- Copy Trigger -->
                      <button class="btn" data-copy>Copy</button> #}
                    </td>
                  </tr>
                </table>


              </div>
              <div class="paragraphs-actions">
                {# <a class="paragraphs-icon-button paragraphs-icon-button-edit button use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:800,&quot;height&quot;:&quot;auto&quot;}" href="/diff-prototype-modal">See changes</a> #} {#
                <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Edit" formnovalidate="formnovalidate" type="submit" value="Review"> #}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {# Reviewer 2 #}
    <tr class="even">
      <td>
        <div>
          <div class="js-form-wrapper form-wrapper">
            <div class="paragraph-top add-above-off paragraph-top-col-8 js-form-wrapper form-wrapper">
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">Reviewer 2</div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper"></div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="wh-criteria">
                <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline">(vii)</td>
                  </tr>
                  <tr>
                    <td class="diff-context diff-addedline diff-marker">+</td>
                    <td class="diff-context diff-addedline">(vii)<span class="diffchange">(x)</span></td>
                    {# <!-- Copy Trigger -->
                    <button class="btn" data-copy>Copy</button> #}
                  </tr>
                </table>
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper"></div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper"></div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper"></div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">Good</div>
              <div class="paragraphs-actions">
                {# <a class="paragraphs-icon-button paragraphs-icon-button-edit button use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:800,&quot;height&quot;:&quot;auto&quot;}" href="/diff-prototype-modal">See changes</a> #} {#
                <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Edit" formnovalidate="formnovalidate" type="submit" value="Review"> #}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {# Reviewer 3 #}
    <tr class="odd">
      <td>
        <div>
          <div class="js-form-wrapper form-wrapper">
            <div class="paragraph-top add-above-off paragraph-top-col-8 js-form-wrapper form-wrapper">
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">Reviewer 3</div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">
                {# <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline">Exceptionally diverse and abundant terrestrial and marine Arctic mammal fauna</td>
                  </tr>
                </table> #}
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="wh-criteria">
                <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline">(vii)</td>
                  </tr>
                </table>
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">
                <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline">L'Aïr constitue une enclave sahélienne entourée par un désert saharien, <span class="diffchange">formant ainsi un assemblage</span> remarquable d'écosystèmes reliques combinés avec des paysages de montagnes et de plaines d'intérêt et de valeur esthétique exceptionnels. Le déplacement et les dépôts de sable des dunes vives modifient rapidement le paysage du Ténéré. Les montagnes de marbre bleu confère à cette région un intérêt esthétique exceptionnel. (SoOUV, 2010)</td>
                  </tr>
                  <tr>
                    <td class="diff-context diff-marker diff-addedline">-</td>
                    <td class="diff-context diff-addedline">L'Aïr constitue une enclave sahélienne entourée par un désert saharien, <span class="diffchange">replacement text</span> remarquable d'écosystèmes reliques combinés avec des paysages de montagnes et de plaines d'intérêt et de valeur esthétique exceptionnels. Le déplacement et les dépôts de sable des dunes vives modifient rapidement le paysage du Ténéré. Les montagnes de marbre bleu confère à cette région un intérêt esthétique exceptionnel. (SoOUV, 2010)</td>
                  </tr>
                </table>
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper"></div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">
                <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline">Deteriorating</td>
                  </tr>
                </table>
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">
                <table>
                  <tr>
                    <td class="diff-context diff-marker diff-deletedline">-</td>
                    <td class="diff-context diff-deletedline">High Concern</td>
                  </tr>
                </table>
              </div>
              <div class="paragraphs-actions">
                {# <a class="paragraphs-icon-button paragraphs-icon-button-edit button use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:800,&quot;height&quot;:&quot;auto&quot;}" href="/diff-prototype-modal">See changes</a> #} {#
                <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Edit" formnovalidate="formnovalidate" type="submit" value="Review"> #}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {# Final #}
    <tr class="even">
      <td>
        <div>
          <div class="js-form-wrapper form-wrapper">
            <div class="paragraph-top add-above-off paragraph-top-col-8 js-form-wrapper form-wrapper" id="final-version">
              <div class="paragraph-summary-component js-form-wrapper form-wrapper">Final</div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="value">
                <textarea>Exceptionally diverse and abundant terrestrial and marine Arctic mammal fauna</textarea>
                <!-- Initial Trigger -->
                <button class="btn btn-reset paragraphs-icon-button paragraphs-icon-button-edit" data-initial>Reset</button>
                {# <div class="paragraphs-actions">
                <div class="paragraphs-dropdown">
                  <button class="paragraphs-dropdown-toggle"><span class="visually-hidden">Toggle Actions</span></button>
                  <div class="paragraphs-dropdown-actions">
                    <input formnovalidate="formnovalidate" class="paragraphs-dropdown-action button js-form-submit form-submit" type="submit" value="Remove">
                  </div>
                </div> #}
              {# </div> #}
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="wh-criteria">
                <select multiple="multiple" class="chosen-enable" tabindex="-1">
                  <option value="1221">(i)</option>
                  <option value="1222">(ii)</option>
                  <option value="1223">(iii)</option>
                  <option value="1224">(iv)</option>
                  <option value="1226">(v)</option>
                  <option value="1227" selected="selected">(vi)</option>
                  <option value="1228" selected="selected">(vii)</option>
                  <option value="1229">(viii)</option>
                  <option value="1225">(ix)</option>
                  <option value="1230">(x)</option>
                </select>
                <!-- Initial Trigger -->
                <button class="btn btn-reset" data-initial>Reset</button>
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="description">
                <textarea>L'Aïr constitue une enclave sahélienne entourée par un désert saharien, formant ainsi un assemblage remarquable d'écosystèmes reliques combinés avec des paysages de montagnes et de plaines d'intérêt et de valeur esthétique exceptionnels. Le déplacement et les dépôts de sable des dunes vives modifient rapidement le paysage du Ténéré. Les montagnes de marbre bleu confère à cette région un intérêt esthétique exceptionnel. (SoOUV, 2010)</textarea>
                <!-- Initial Trigger -->
                <button class="btn btn-reset" data-initial>Reset</button>
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="justification">
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="trend">
                <select class="form-select chosen-disable">
                  <option value="_none">- None -</option>
                  <option value="1419">Data Deficient</option>
                  <option value="1418" selected="selected">Deteriorating</option>
                  <option value="1416">Improving</option>
                  <option value="1417">Stable</option>
                </select>
                <!-- Initial Trigger -->
                <button class="btn btn-reset" data-initial>Reset</button>
              </div>
              <div class="paragraph-summary-component js-form-wrapper form-wrapper" data-name="value">
                <select class="form-select chosen-disable">
                  <option value="_none">- None -</option>
                  <option value="1349">Critical</option>
                  <option value="1350">Data Deficient</option>
                  <option value="1346">Good</option>
                  <option value="1348" selected="selected">High Concern</option>
                  <option value="1347">Low Concern</option>
                </select>
                <!-- Initial Trigger -->
                <button class="btn btn-reset" data-initial>Reset</button>
              </div>
              <div class="paragraphs-actions">
                <input class="paragraphs-icon-button paragraphs-icon-button-edit button js-form-submit form-submit" title="Edit" formnovalidate="formnovalidate" type="submit" value="Submit"/>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
