<table id="field-as-values-wh-values" class="field-multiple-table responsive-enabled" data-striping="1">
  <thead>
    <tr>
      <th colspan="2" class="field-label">
        <h4 class="label">Identifying and describing values</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td class="field-multiple-drag"></td>
      <td>
        <div class="paragraph-top paragraph-header paragraph-top-col-9 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-header" id="edit-field-as-values-wh-header">
          <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-header-data-field-as-values-value" id="edit-field-as-values-wh-header-data-field-as-values-value">Value</div>
          <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-header-data-field-as-values-criteria" id="edit-field-as-values-wh-header-data-field-as-values-criteria">WH Criteria</div>
          <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-header-data-field-as-description" id="edit-field-as-values-wh-header-data-field-as-description">Description</div>
          <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-header-data-field-as-values-curr-text" id="edit-field-as-values-wh-header-data-field-as-values-curr-text">Justification</div>
          <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-header-data-field-as-values-curr-trend" id="edit-field-as-values-wh-header-data-field-as-values-curr-trend">Trend</div>
          <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-header-data-field-as-values-curr-state" id="edit-field-as-values-wh-header-data-field-as-values-curr-state">State</div>
          <div class="paragraphs-actions js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-header-data-actions" id="edit-field-as-values-wh-header-data-actions">Actions</div>
        </div>
      </td>
    </tr>
    <tr class="draggable even">
      <td class="field-multiple-drag paragraph-bullet"></td>
      <td>
        <div id="field-as-values-wh-0-item-wrapper">
          <div data-drupal-selector="edit-field-as-values-wh-0" id="edit-field-as-values-wh-0" class="js-form-wrapper form-wrapper">
            <div class="paragraph-top add-above-off paragraph-top-col-9 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-0-top" id="edit-field-as-values-wh-0-top">
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-0-top-summary-field-as-values-value" id="edit-field-as-values-wh-0-top-summary-field-as-values-value">Un assemblage remarquable d'écosystèmes reliques combiné à des paysages exceptionnels</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-0-top-summary-field-as-values-criteria" id="edit-field-as-values-wh-0-top-summary-field-as-values-criteria">(vii)</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-0-top-summary-field-as-description" id="edit-field-as-values-wh-0-top-summary-field-as-description">L'Aïr constitue une enclave sahélienne entourée par un désert saharien, formant ainsi un assemblage remarquable d'écosystèmes reliques combinés avec des paysages de montagnes et de plaines d'intérêt et de valeur esthétique exceptionnels. Le déplacement et les dépôts de sable des dunes vives modifient rapidement le paysage du Ténéré. Les montagnes de marbre bleu confère à cette région un intérêt esthétique exceptionnel. (SoOUV, 2010)</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-0-top-summary-field-as-values-curr-text" id="edit-field-as-values-wh-0-top-summary-field-as-values-curr-text"></div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-0-top-summary-field-as-values-curr-trend" id="edit-field-as-values-wh-0-top-summary-field-as-values-curr-trend">Deteriorating</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-0-top-summary-field-as-values-curr-state" id="edit-field-as-values-wh-0-top-summary-field-as-values-curr-state">High Concern</div>
              <div class="paragraphs-actions">
                <a class="paragraphs-icon-button paragraphs-icon-button-edit button use-ajax" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:1000,&quot;height&quot;:&quot;auto&quot;}" href="/diff-prototype-modal">See changes</a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="draggable odd">
      <td class="field-multiple-drag paragraph-bullet"></td>
      <td>
        <div id="field-as-values-wh-1-item-wrapper">
          <div data-drupal-selector="edit-field-as-values-wh-1" id="edit-field-as-values-wh-1" class="js-form-wrapper form-wrapper">
            <div class="paragraph-top add-above-off paragraph-top-col-9 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-1-top" id="edit-field-as-values-wh-1-top">
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_value paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-1-top-summary-field-as-values-value" id="edit-field-as-values-wh-1-top-summary-field-as-values-value">Exceptionally diverse Arctic avifauna</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_criteria paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-1-top-summary-field-as-values-criteria" id="edit-field-as-values-wh-1-top-summary-field-as-values-criteria">(x)</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_description paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-1-top-summary-field-as-description" id="edit-field-as-values-wh-1-top-summary-field-as-description">170 bird species recorded, 62 of which breed on Wrangel Island (MoNRE of the RF 2012). Possibly two endemic bird (sub-)species (Directorate of Wrangel Island Reserve, 2003). Very high bird diversity in comparison with other Arctic sites (UNEP-WCMC 2011). Important stopover on Pacific-Beringia flyway of bird mirgration (Alerstam et al., 2007; Hedenstrom et al., 2009; UNEP-WCMC, 2011). Only large breeding accumulation of Snow Goose Chen caerulescens in Asia (Boyd &amp; Cooke, 2000; UNEP-WCMC, 2011).</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_text paragraph-summary-component-span-2 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-1-top-summary-field-as-values-curr-text" id="edit-field-as-values-wh-1-top-summary-field-as-values-curr-text">No deterioration of conservation status of any bird species or community has been reported since inscription, partly due to reduction of trampling by livestock on the property (which affects Snow Geese). However, a recovery of reindeer and muskoxen standing stock has been reported recently (UNEP-WCMC, 2011).</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_trend paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-1-top-summary-field-as-values-curr-trend" id="edit-field-as-values-wh-1-top-summary-field-as-values-curr-trend">Stable</div>
              <div class="paragraph-summary-component paragraph-summary-component-field_as_values_curr_state paragraph-summary-component-span-1 js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-values-wh-1-top-summary-field-as-values-curr-state" id="edit-field-as-values-wh-1-top-summary-field-as-values-curr-state">Low Concern</div>
              <div class="paragraphs-actions">
                <i>No changes</i>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
