<div class="layout-region layout-region-node-main">
    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'input__hidden' -->
    <!-- FILE NAME SUGGESTIONS:
   * input--hidden.html.twig
   x input.html.twig
-->
    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
    <input disabled data-drupal-selector="edit-changed" type="hidden" name="changed" value="1511263680">
    <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'container' -->
    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
    <div class="field--type-string field--name-title field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-title-wrapper" id="edit-title-wrapper">
        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'field_multiple_value_form' -->
        <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'form_element' -->
        <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
        <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-title-0-value form-item-title-0-value">
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element_label' -->
            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
            <label for="edit-title-0-value" class="js-form-required form-required">Title</label>
            <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__textfield' -->
            <!-- FILE NAME SUGGESTIONS:
   * input--textfield.html.twig
   x input.html.twig
-->
            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
            <input disabled class="js-text-full text-full form-text required" data-drupal-selector="edit-title-0-value" type="text" id="edit-title-0-value" name="title[0][value]" value="2017 Natural System of Wrangel Island Reserve" size="60" maxlength="255" placeholder="" required="required" aria-required="true">
            <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
        </div>
        <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
        <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
    </div>
    <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'input__hidden' -->
    <!-- FILE NAME SUGGESTIONS:
   * input--hidden.html.twig
   x input.html.twig
-->
    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
    <input disabled autocomplete="off" data-drupal-selector="form-m7ggivegjrimkq78-cdm3elqj3x9koe-rlpet-lf1sc" type="hidden" name="form_build_id" value="form-M7GGiVEGJrimKQ78-Cdm3ElQJ3X9KOe_RlPet_LF1Sc">
    <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'input__hidden' -->
    <!-- FILE NAME SUGGESTIONS:
   * input--hidden.html.twig
   x input.html.twig
-->
    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
    <input disabled data-drupal-selector="edit-node-site-assessment-edit-form-form-token" type="hidden" name="form_token" value="kepfpIj289H5E1XGtb1fr2AaGc4Yhn34wBaVknBp93U">
    <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'input__hidden' -->
    <!-- FILE NAME SUGGESTIONS:
   * input--hidden.html.twig
   x input.html.twig
-->
    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
    <input disabled data-drupal-selector="edit-node-site-assessment-edit-form" type="hidden" name="form_id" value="node_site_assessment_edit_form">
    <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'container' -->
    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
    <div class="field--type-language field--name-langcode field--widget-language-select js-form-wrapper form-wrapper" data-drupal-selector="edit-langcode-wrapper" id="edit-langcode-wrapper">
        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'field_multiple_value_form' -->
        <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'form_element' -->
        <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
        <div class="js-form-item form-item js-form-type-language-select form-type-language-select js-form-item-langcode-0-value form-item-langcode-0-value">
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element_label' -->
            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
            <label for="edit-langcode-0-value">Language</label>
            <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'select' -->
            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
            <select data-drupal-selector="edit-langcode-0-value" id="edit-langcode-0-value" name="langcode[0][value]" class="form-select chosen-enabled" disabled>
                <option value="en" selected="selected">English</option>
                <option value="fr">French</option>
                <option value="es">Spanish</option>
                <option value="ar">Arabic</option>
                <option value="und">- Not specified -</option>
                <option value="zxx">- Not applicable -</option>
            </select>
            <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
        </div>
        <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
        <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
    </div>
    <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'container' -->
    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
    <div class="field--type-entity-reference field--name-field-as-site field--widget-options-select js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-site-wrapper" id="edit-field-as-site-wrapper">
        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'form_element' -->
        <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
        <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-as-site form-item-field-as-site form-disabled">
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element_label' -->
            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
            <label for="edit-field-as-site">Site</label>
            <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'select' -->
            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
            <select data-drupal-selector="edit-field-as-site" disabled="disabled" id="edit-field-as-site" name="field_as_site" class="form-select chosen-enabled" tabindex="-1">
                <option value="_none">- None -</option>
                <option value="957">Galápagos Islands</option>
                <option value="958">Tikal National Park</option>
                <option value="959">Dinosaur Provincial Park</option>
                <option value="960">Nahanni National Park</option>
                <option value="961">Simien National Park</option>
                <option value="964">Ngorongoro Conservation Area</option>
                <option value="965">Grand Canyon National Park</option>
                <option value="966">Everglades National Park</option>
                <option value="967">Yellowstone National Park</option>
                <option value="968">Natural and Cultural Heritage of the Ohrid region</option>
                <option value="969">Plitvice Lakes National Park</option>
                <option value="971">Kluane / Wrangell-St Elias / Glacier Bay / Tatshenshini-Alsek</option>
                <option value="972">Darién National Park</option>
                <option value="973">Los Glaciares National Park</option>
                <option value="974">Great Barrier Reef</option>
                <option value="975">Kakadu National Park</option>
                <option value="976">Willandra Lakes Region</option>
                <option value="977">Mount Nimba Strict Nature Reserve</option>
                <option value="978">Serengeti National Park</option>
                <option value="980">Djoudj National Bird Sanctuary</option>
                <option value="982">Niokolo-Koba National Park</option>
                <option value="983">Ichkeul National Park</option>
                <option value="984">Redwood National and State Parks</option>
                <option value="985">Durmitor National Park</option>
                <option value="986">Garamba National Park</option>
                <option value="987">Kahuzi-Biéga National Park</option>
                <option value="989">Tasmanian Wilderness</option>
                <option value="990">Lord Howe Island Group</option>
                <option value="991">Río Plátano Biosphere Reserve</option>
                <option value="992">Taï National Park</option>
                <option value="993">Aldabra Atoll</option>
                <option value="994">Selous Game Reserve</option>
                <option value="995">Comoé National Park</option>
                <option value="996">Srebarna Nature Reserve</option>
                <option value="998">Sangay National Park</option>
                <option value="1000">Historic Sanctuary of Machu Picchu</option>
                <option value="1001">Vallée de Mai Nature Reserve</option>
                <option value="1003">Kaziranga National Park</option>
                <option value="1004">Manas Wildlife Sanctuary</option>
                <option value="1006">Huascarán National Park</option>
                <option value="1007">Iguazú National Park</option>
                <option value="1008">Wood Buffalo National Park</option>
                <option value="1009">Talamanca Range-La Amistad Reserves / La Amistad National Park</option>
                <option value="1010">Lake Malawi National Park</option>
                <option value="1011">Chitwan National Park</option>
                <option value="1012">Salonga National Park</option>
                <option value="1013">Mana Pools National Park, Sapi and Chewore Safari Areas</option>
                <option value="1014">Yosemite National Park</option>
                <option value="1015">Gondwana Rainforests of Australia</option>
                <option value="1016">Iguaçu National Park</option>
                <option value="1018">Giant's Causeway and Causeway Coast</option>
                <option value="1021">Sundarbans National Park</option>
                <option value="1022">Sinharaja Forest Reserve</option>
                <option value="1023">Manovo-Gounda St Floris National Park</option>
                <option value="1024">Nanda Devi and Valley of Flowers National Parks</option>
                <option value="1025">Mount Taishan</option>
                <option value="1026">Wet Tropics of Queensland</option>
                <option value="1027">Dja Faunal Reserve</option>
                <option value="1028">Gros Morne National Park</option>
                <option value="1030">Kilimanjaro National Park</option>
                <option value="1031">Hawaii Volcanoes National Park</option>
                <option value="1032">Meteora</option>
                <option value="1033">Mount Athos</option>
                <option value="1034">Sian Ka'an</option>
                <option value="1035">Cliff of Bandiagara (Land of the Dogons)</option>
                <option value="1036">Banc d'Arguin National Park</option>
                <option value="1037">Mosi-oa-Tunya / Victoria Falls</option>
                <option value="1038">Tongariro National Park</option>
                <option value="1040">Te Wahipounamu – South West New Zealand</option>
                <option value="1041">Tsingy de Bemaraha Strict Nature Reserve</option>
                <option value="1042">Mount Huangshan</option>
                <option value="1043">Canadian Rocky Mountain Parks</option>
                <option value="1044">Australian Fossil Mammal Sites (Riversleigh / Naracoorte)</option>
                <option value="1046">Bwindi Impenetrable National Park</option>
                <option value="1047">Los Katios National Park</option>
                <option value="1048">Doñana National Park</option>
                <option value="1049">Canaima National Park</option>
                <option value="1050">Shark Bay, Western Australia</option>
                <option value="1051">Komodo National Park</option>
                <option value="1053">Aïr and Ténéré Natural Reserves</option>
                <option value="1054">Danube Delta</option>
                <option value="1057">Wulingyuan Scenic and Historic Interest Area</option>
                <option value="1058">Jiuzhaigou Valley Scenic and Historic Interest Area</option>
                <option value="1059">Huanglong Scenic and Historic Interest Area</option>
                <option value="1062">Tubbataha Reefs Natural Park</option>
                <option value="1066">Caves of Aggtelek Karst and Slovak Karst</option>
                <option value="1067">Virgin Komi Forests</option>
                <option value="1068">Waterton-Glacier International Peace Park</option>
                <option value="1069">Gough and Inaccessible Islands</option>
                <option value="1070">Belize Barrier Reef Reserve System</option>
                <option value="1071">Mount Emei Scenic Area, including Leshan Giant Buddha Scenic Area</option>
                <option value="1072">W-Arly-Pendjari Complex</option>
                <option value="1073">Lake Baikal</option>
                <option value="1074">Volcanoes of Kamchatka</option>
                <option value="1075">Laponian Area</option>
                <option value="1076">Okapi Wildlife Reserve</option>
                <option value="1078">Macquarie Island</option>
                <option value="1079">The Sundarbans</option>
                <option value="1080">Cocos Island National Park</option>
                <option value="1082">Mount Kenya National Park/Natural Forest</option>
                <option value="1083">Lake Turkana National Parks</option>
                <option value="1084">Pyrénées - Mont Perdu</option>
                <option value="1085">New Zealand Sub-Antarctic Islands</option>
                <option value="1086">Golden Mountains of Altai</option>
                <option value="1087">East Rennell</option>
                <option value="1088">Península Valdés</option>
                <option value="1091">Miguasha National Park</option>
                <option value="1092">Mount Wuyi</option>
                <option value="1093">Area de Conservación Guanacaste</option>
                <option value="1095">Lorentz National Park</option>
                <option value="1096">Puerto-Princesa Subterranean River National Park</option>
                <option value="1097">Laurisilva of Madeira</option>
                <option value="1098">Western Caucasus</option>
                <option value="1099">iSimangaliso Wetland Park</option>
                <option value="1101">Ischigualasto-Talampaya Natural Parks</option>
                <option value="1102">Kinabalu Park</option>
                <option value="1103">Gunung Mulu National Park</option>
                <option value="1104">Greater Blue Mountains Area</option>
                <option value="1106">Central Amazon Conservation Complex</option>
                <option value="1107">Pantanal Conservation Complex</option>
                <option value="1108">Central Suriname Nature Reserve</option>
                <option value="1109">Göreme National Park and the Rock Sites of Cappadocia</option>
                <option value="1111">Hierapolis-Pamukkale</option>
                <option value="1112">The Dolomites</option>
                <option value="1113">High Coast / Kvarken Archipelago</option>
                <option value="1114">Maloti-Drakensberg Park</option>
                <option value="1115">Isole Eolie (Aeolian Islands)</option>
                <option value="1116">Uluru-Kata Tjuta National Park</option>
                <option value="1119">Cerrado Protected Areas: Chapada dos Veadeiros and Emas National Parks</option>
                <option value="1120">Brazilian Atlantic Islands: Fernando de Noronha and Atol das Rocas Reserves</option>
                <option value="1121">Dorset and East Devon Coast</option>
                <option value="1122">Swiss Alps Jungfrau-Aletsch</option>
                <option value="1123">Purnululu National Park</option>
                <option value="1124">Monte San Giorgio</option>
                <option value="1126">Three Parallel Rivers of Yunnan Protected Areas</option>
                <option value="1128">Ha Long Bay</option>
                <option value="1129">Tropical Rainforest Heritage of Sumatra</option>
                <option value="1130">Cape Floral Region Protected Areas</option>
                <option value="1133">St Kilda</option>
                <option value="1134">Ilulissat Icefjord</option>
                <option value="1135">Coiba National Park and its Special Zone of Marine Protection</option>
                <option value="1136">Dong Phayayen-Khao Yai Forest Complex</option>
                <option value="1137">Islands and Protected Areas of the Gulf of California</option>
                <option value="1138">Shiretoko</option>
                <option value="1139">Vredefort Dome</option>
                <option value="1140">Wadi Al-Hitan (Whale Valley)</option>
                <option value="1141">West Norwegian Fjords – Geirangerfjord and Nærøyfjord</option>
                <option value="1143">Sichuan Giant Panda Sanctuaries – Wolong, Mount Siguniang &amp; Jiajin Mountains</option>
                <option value="1144">Rainforests of the Atsinanana</option>
                <option value="1145">Ecosystem and Relict Cultural Landscape of Lopé-Okanda</option>
                <option value="1146">Jeju Volcanic Island and Lava Tubes</option>
                <option value="1147">South China Karst</option>
                <option value="1148">Teide National Park</option>
                <option value="1149">Joggins Fossil Cliffs</option>
                <option value="1150">Lagoons of New Caledonia: Reef Diversity and Associated Ecosystems</option>
                <option value="1151">Monarch Butterfly Biosphere Reserve</option>
                <option value="1152">Mount Sanqingshan National Park</option>
                <option value="1153">Saryarka – Steppe and Lakes of Northern Kazakhstan</option>
                <option value="1154">Socotra Archipelago</option>
                <option value="1156">Swiss Tectonic Arena Sardona</option>
                <option value="1157">Ancient and Primeval Beech Forests of the Carpathians and Other Regions of Europe</option>
                <option value="1158">Central Highlands of Sri Lanka</option>
                <option value="1159">Papahānaumokuākea</option>
                <option value="1160">Phoenix Islands Protected Area</option>
                <option value="1161">Putorana Plateau</option>
                <option value="1162">China Danxia</option>
                <option value="1163">Pitons, cirques and remparts of Reunion Island</option>
                <option value="1164">Ogasawara Islands</option>
                <option value="1165">Wadi Rum Protected Area</option>
                <option value="1166">Ningaloo Coast</option>
                <option value="1167">Kenya Lake System in the Great Rift Valley</option>
                <option value="1168">Lakes of Ounianga</option>
                <option value="1169">Sangha Trinational</option>
                <option value="1171">Western Ghats</option>
                <option value="1172">Lena Pillars Nature Park</option>
                <option value="1173">Rock Islands Southern Lagoon</option>
                <option value="1174">Mount Etna</option>
                <option value="1175">Namib Sand Sea</option>
                <option value="1176">Tajik National Park (Mountains of the Pamirs)</option>
                <option value="1177">El Pinacate and Gran Desierto de Altar Biosphere Reserve</option>
                <option value="1178">Xinjiang Tianshan</option>
                <option value="988">Tassili n'Ajjer National Park</option>
                <option value="1045">Rwenzori Mountains National Park</option>
                <option value="1193">The Ahwar of Southern Iraq: Refuge of Biodiversity and the Relict Landscape of the Mesopotamian Cities</option>
                <option value="1184">Ancient Maya City and Protected Tropical Forests of Calakmul, Campeche</option>
                <option value="1187">Archipiélago de Revillagigedo</option>
                <option value="1185">Blue and John Crow Mountains</option>
                <option value="1188">Ennedi Massif: Natural and Cultural Landscape</option>
                <option value="1180">Great Himalayan National Park Conservation Area</option>
                <option value="1186">Khangchendzonga National Park</option>
                <option value="1190">Lut Desert</option>
                <option value="1029">Manú National Park</option>
                <option value="981">Olympic National Park</option>
                <option value="1192">Sanganeb Marine National Park and Dungonab Bay – Mukkawar Island Marine National Park</option>
                <option value="1155">Surtsey</option>
                <option value="1194">Western Tien-Shan</option>
                <option value="1170">Chengjiang Fossil Site</option>
                <option value="1191">Mistaken Point</option>
                <option value="1081">Morne Trois Pitons National Park</option>
                <option value="1183">Mount Hamiguitan Range Wildlife Sanctuary</option>
                <option value="1179">Okavango Delta</option>
                <option value="1182">Stevns Klint</option>
                <option value="962">Sagarmatha National Park</option>
                <option value="1090">Atlantic Forest Southeast Reserves</option>
                <option value="1065">Carlsbad Caverns National Park</option>
                <option value="1094">Desembarco del Granma National Park</option>
                <option value="1089">Discovery Coast Atlantic Forest Reserves</option>
                <option value="1002">Great Smoky Mountains National Park</option>
                <option value="1077">Heard and McDonald Islands</option>
                <option value="1706">Los Alerces National Park</option>
                <option value="1142">Malpelo Fauna and Flora Sanctuary</option>
                <option value="979">Mammoth Cave National Park</option>
                <option value="1064">Messel Pit Fossil Site</option>
                <option value="1105">Noel Kempff Mercado National Park</option>
                <option value="1707">Qinghai Hoh Xil</option>
                <option value="1039">Rio Abiseo National Park</option>
                <option value="1060">Shirakami-Sanchi</option>
                <option value="1019">Škocjan Caves</option>
                <option value="1055">Thungyai - Huai Kha Khaeng Wildlife Sanctuaries</option>
                <option value="1052">Ujung Kulon National Park</option>
                <option value="1125">Uvs Nuur Basin</option>
                <option value="1063">Whale Sanctuary of El Vizcaíno</option>
                <option value="963">Białowieża Forest</option>
                <option value="1131" selected="selected">Natural System of Wrangel Island Reserve</option>
                <option value="1061">Yakushima</option>
                <option value="999">Gulf of Porto: Calanche of Piana, Gulf of Girolata, Scandola Reserve</option>
                <option value="1020">Henderson Island</option>
                <option value="1117">Alejandro de Humboldt National Park</option>
                <option value="1705">Landscapes of Dauria</option>
                <option value="1118">Central Sikhote-Alin</option>
                <option value="1005">Keoladeo National Park</option>
                <option value="1017">Garajonay National Park</option>
                <option value="1100">Ibiza: Biodiversity and Culture</option>
                <option value="1189">Hubei Shennongjia</option>
                <option value="1132">Pitons Management Area</option>
                <option value="1181">Trang An Landscape Complex</option>
                <option value="1056">Fraser Island</option>
                <option value="970">Virunga National Park</option>
                <option value="1110">The Wadden Sea</option>
                <option value="997">Pirin National Park</option>
                <option value="1127">Phong Nha-Ke Bang National Park</option>
            </select>
            <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
        </div>
        <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
    </div>
    <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'container' -->
    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
    <div class="field--type-list-string field--name-field-as-cycle field--widget-options-select js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-cycle-wrapper" id="edit-field-as-cycle-wrapper">
        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'form_element' -->
        <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
        <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-as-cycle form-item-field-as-cycle form-disabled">
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element_label' -->
            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
            <label for="edit-field-as-cycle" class="js-form-required form-required">Cycle</label>
            <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'select' -->
            <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
            <select data-drupal-selector="edit-field-as-cycle" disabled="disabled" id="edit-field-as-cycle" name="field_as_cycle" class="form-select required" required="required" aria-required="true">
                <option value="2014">2014</option>
                <option value="2017" selected="selected">2017</option>
                <option value="2020">2020</option>
                <option value="2023">2023</option>
            </select>
            <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
        </div>
        <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
    </div>
    <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
    <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'details' -->
    <!-- BEGIN OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
    {#<details class="required-fields field-group-tab js-form-wrapper form-wrapper seven-details" id="edit-group-as-key-cons">#}
        {#<summary role="button" aria-controls="edit-group-as-key-cons" aria-expanded="false" aria-pressed="false" class="seven-details__summary">Key conserv</summary>#}
        {#<div class="seven-details__wrapper details-wrapper">#}
            {#<!-- THEME DEBUG -->#}
            {#<!-- THEME HOOK: 'container' -->#}
            {#<!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->#}
            {#<div class="field--type-entity-reference-revisions field--name-field-as-key-cons field--widget-row-entity-reference-paragraphs js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-key-cons-wrapper" id="edit-field-as-key-cons-wrapper">#}
                {#<div class="responsive-wrapper is-horizontal paragraphs-tabs-wrapper" id="field-as-key-cons-add-more-wrapper">#}
                    {#<ul class="paragraphs-tabs tabs primary clearfix" style="display: none;">#}
                        {#<li id="content" class="tabs__tab is-active"><a href="#field-as-key-cons-values">Content</a></li>#}
                        {#<li id="behavior" class="tabs__tab"><a href="#field-as-key-cons-values">Behavior</a></li>#}
                    {#</ul>#}
                    {#<!-- THEME DEBUG -->#}
                    {#<!-- THEME HOOK: 'field_multiple_value_form' -->#}
                    {#<!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->#}
                    {#<div class="js-form-item form-item">#}
                        {#<!-- THEME DEBUG -->#}
                        {#<!-- THEME HOOK: 'table' -->#}
                        {#<!-- BEGIN OUTPUT from 'core/themes/classy/templates/dataset/table.html.twig' -->#}
                        {# <div class="tabledrag-toggle-weight-wrapper"><button type="button" class="link tabledrag-toggle-weight" title="Re-order rows by numerical weight instead of dragging.">Show row weights</button></div>#}
                        {#<div class="tableresponsive-toggle-columns"><button type="button" class="link tableresponsive-toggle" title="Show table cells that were hidden to make the table fit within a small screen." style="display: none;">Hide lower priority columns</button></div> #}
                        {#<!-- END OUTPUT from 'core/themes/classy/templates/dataset/table.html.twig' -->#}
                        {#...#}
                        {#<div class="clearfix">#}
                            {#<!-- THEME DEBUG -->#}
                            {#<!-- THEME HOOK: 'input__submit__paragraph_action' -->#}
                            {#<!-- FILE NAME SUGGESTIONS:#}
   {#* input--submit--paragraph-action.html.twig#}
   {#* input--submit.html.twig#}
   {#x input.html.twig#}
{#-->#}
                            {#<!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->#}
                            {#<input disabled class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="field-as-key-cons-as-site-key-conservation-add-more" formnovalidate="formnovalidate" type="submit" id="field-as-key-cons-as-site-key-conservation-add-more" name="field_as_key_cons_as_site_key_conservation_add_more" value="Add Assessment key conservation">#}
                            {#<!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->#}
                        {#</div>#}
                    {#</div>#}
                    {#<!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->#}
                {#</div>#}
            {#</div>#}
            {#<!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->#}
        {#</div>#}
    {#</details>#}
    <!-- END OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
</div>
