<div class="layout-node-form">
  {% include '@iucn_who_diff/header.html.twig' %}
  <div class="layout-region layout-region-node-footer">
      <div class="layout-region-node-footer__content">
          <div class=" field-group-assessment_tabs-wrapper">
              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'assessment_horizontal_tabs' -->
              <!-- FILE NAME SUGGESTIONS:
     * assessment-horizontal-tabs--node--site-assessment--group-as-tabs.html.twig
     * assessment-horizontal-tabs--node--group-as-tabs.html.twig
     * assessment-horizontal-tabs--node--site-assessment.html.twig
     * assessment-horizontal-tabs--group-as-tabs.html.twig
     * assessment-horizontal-tabs--site-assessment.html.twig
     * assessment-horizontal-tabs--node.html.twig
     x assessment-horizontal-tabs.html.twig
  -->
              <!-- BEGIN OUTPUT from 'modules/iucn/iucn_assessment/templates/assessment-horizontal-tabs.html.twig' -->
              <div class="horizontal-tabs clearfix">

                  <div data-horizontal-tabs-panes="" class="horizontal-tabs-panes">
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'input__hidden' -->
                      <!-- FILE NAME SUGGESTIONS:
     * input--hidden.html.twig
     x input.html.twig
  -->
                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                      <input class="horizontal-tabs-active-tab" type="hidden" value="{{values}}">
                      <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'details' -->
                      <!-- BEGIN OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      <details class="required-fields field-group-assessment-tab js-form-wrapper form-wrapper seven-details horizontal-tabs-pane horizontal-tab-hidden" id="values" open="open">
                          <summary role="button" aria-controls="values" aria-expanded="true" aria-pressed="true" class="seven-details__summary">Values</summary>
                          <div class="seven-details__wrapper details-wrapper">
                            {% block values %}
                            {% endblock %}
                          </div>
                      </details>
                      <!-- END OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'details' -->
                      <!-- BEGIN OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      <details class="required-fields field-group-assessment-tab js-form-wrapper form-wrapper seven-details horizontal-tabs-pane" id="threats" open="open">
                          <summary role="button" aria-controls="threats" aria-expanded="false" aria-pressed="false" class="seven-details__summary">Threats</summary>
                          <div class="seven-details__wrapper details-wrapper">
                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'container' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <div class="field--type-entity-reference-revisions field--name-field-as-threats-current field--widget-row-entity-reference-paragraphs js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-wrapper" id="edit-field-as-threats-current-wrapper">
                                {% block threats %}
                                {% endblock %}
                              </div>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'container' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <div class="field--type-string-long field--name-field-as-threats-potent-text field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-potent-text-wrapper" id="edit-field-as-threats-potent-text-wrapper">
                                  <!-- THEME DEBUG -->
                                  <!-- THEME HOOK: 'field_multiple_value_form' -->
                                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                                  <!-- THEME DEBUG -->
                                  <!-- THEME HOOK: 'form_element' -->
                                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                  <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-field-as-threats-potent-text-0-value form-item-field-as-threats-potent-text-0-value">
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'form_element_label' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <label for="edit-field-as-threats-potent-text-0-value">Overall potential threats justification</label>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'textarea' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->
                                      <div class="form-textarea-wrapper">
                                          <textarea class="js-text-full text-full form-textarea resize-vertical" data-drupal-selector="edit-field-as-threats-potent-text-0-value" id="edit-field-as-threats-potent-text-0-value" name="field_as_threats_potent_text[0][value]" rows="5" cols="60" placeholder="">There are several potential threats which might increasingly compromise the integrity of the property’s values, unless appropriate measures to assess and control them are taken. The extent to which climate change affects the values of the property needs to be measured more systematically, and tourism development could become a threat unless planned carefully and based on a rigorous EIA. Threats due to increased activities related to industrial marine development (exploration and development of hydrocarbon reserves), commercial navigation and ice breaking, in the vicinity of Wrangel Island Reserve, unless monitored and managed, may represent very serious threats to the sites values and integrity. </textarea>
                                      </div>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->
                                  </div>
                                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                  <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                              </div>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'container' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <div class="field--type-entity-reference field--name-field-as-threats-potent-rating field--widget-options-select js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-potent-rating-wrapper" id="edit-field-as-threats-potent-rating-wrapper">
                                  <!-- THEME DEBUG -->
                                  <!-- THEME HOOK: 'form_element' -->
                                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                  <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-as-threats-potent-rating form-item-field-as-threats-potent-rating">
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'form_element_label' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <label for="edit-field-as-threats-potent-rating">Overall potential threats rating</label>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'select' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                      <select  data-drupal-selector="edit-field-as-threats-potent-rating" id="edit-field-as-threats-potent-rating" name="field_as_threats_potent_rating" class="form-select chosen-disable">
                                          <option value="_none">- None -</option>
                                          <option value="1368">Data Deficient</option>
                                          <option value="1366" selected="selected">High Threat</option>
                                          <option value="1365">Low Threat</option>
                                          <option value="1367">Very High Threat</option>
                                          <option value="1364">Very Low Threat</option>
                                      </select>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                  </div>
                                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                              </div>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'container' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <div class="field--type-string-long field--name-field-as-threats-current-text field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-text-wrapper" id="edit-field-as-threats-current-text-wrapper">
                                  <!-- THEME DEBUG -->
                                  <!-- THEME HOOK: 'field_multiple_value_form' -->
                                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                                  <!-- THEME DEBUG -->
                                  <!-- THEME HOOK: 'form_element' -->
                                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                  <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-field-as-threats-current-text-0-value form-item-field-as-threats-current-text-0-value">
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'form_element_label' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <label for="edit-field-as-threats-current-text-0-value">Overall current threats justification</label>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'textarea' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->
                                      <div class="form-textarea-wrapper">
                                          <textarea class="js-text-full text-full form-textarea resize-vertical" data-drupal-selector="edit-field-as-threats-current-text-0-value" id="edit-field-as-threats-current-text-0-value" name="field_as_threats_current_text[0][value]" rows="5" cols="60" placeholder="">Human impact within Wrangel Island Reserve has been minimal and localized for a long time. Recently, a military base has been constructed on the island and its operations, while extent of planned activities are unclear, may represent a very serious threat to the sites values and integrity. Furthermore, oil prospecting in the vicinity of the property that has recently been undertaken represents a very serious threat to the site's values and integrity. Plans for increasing visitation and expansion of tourism infrastructure are also of concern. </textarea>
                                      </div>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->
                                  </div>
                                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                  <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                              </div>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'container' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <div class="field--type-entity-reference field--name-field-as-threats-current-rating field--widget-options-select js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-current-rating-wrapper" id="edit-field-as-threats-current-rating-wrapper">
                                  <!-- THEME DEBUG -->
                                  <!-- THEME HOOK: 'form_element' -->
                                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                  <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-as-threats-current-rating form-item-field-as-threats-current-rating">
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'form_element_label' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <label for="edit-field-as-threats-current-rating">Overall current threats rating</label>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'select' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                      <select  data-drupal-selector="edit-field-as-threats-current-rating" id="edit-field-as-threats-current-rating" name="field_as_threats_current_rating" class="form-select chosen-disable">
                                          <option value="_none">- None -</option>
                                          <option value="1368">Data Deficient</option>
                                          <option value="1366" selected="selected">High Threat</option>
                                          <option value="1365">Low Threat</option>
                                          <option value="1367">Very High Threat</option>
                                          <option value="1364">Very Low Threat</option>
                                      </select>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                  </div>
                                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                              </div>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'container' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <div class="field--type-string-long field--name-field-as-threats-text field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-text-wrapper" id="edit-field-as-threats-text-wrapper">
                                  <!-- THEME DEBUG -->
                                  <!-- THEME HOOK: 'field_multiple_value_form' -->
                                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                                  <!-- THEME DEBUG -->
                                  <!-- THEME HOOK: 'form_element' -->
                                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                  <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-field-as-threats-text-0-value form-item-field-as-threats-text-0-value">
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'form_element_label' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <label for="edit-field-as-threats-text-0-value">Overall assessment of threats justification</label>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'textarea' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->
                                      <div class="form-textarea-wrapper">
                                          <textarea class="js-text-full text-full form-textarea resize-vertical" data-drupal-selector="edit-field-as-threats-text-0-value" id="edit-field-as-threats-text-0-value" name="field_as_threats_text[0][value]" rows="5" cols="60" placeholder="">The property has enjoyed a period of very limited anthropogenic impact since the designation of Wrangel Island Reserve in 1975, and its values are in a satisfactory state as a result. However, current and emerging threats including; activities and infrastructure related to military base, climate change, and potentially unsustainable tourism oil/gas exploration/exploitation, and maritime transportation and shipping, (especially of LNG and oil) and might soon compromise some of these values and require close surveillance and possibly a targeted management response. </textarea>
                                      </div>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->
                                  </div>
                                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                  <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                              </div>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'container' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                              <div class="field--type-entity-reference field--name-field-as-threats-rating field--widget-options-select js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-threats-rating-wrapper" id="edit-field-as-threats-rating-wrapper">
                                  <!-- THEME DEBUG -->
                                  <!-- THEME HOOK: 'form_element' -->
                                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                  <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-as-threats-rating form-item-field-as-threats-rating">
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'form_element_label' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <label for="edit-field-as-threats-rating">Overall assessment of threats rating</label>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'select' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                      <select  data-drupal-selector="edit-field-as-threats-rating" id="edit-field-as-threats-rating" name="field_as_threats_rating" class="form-select chosen-disable">
                                          <option value="_none">- None -</option>
                                          <option value="1368">Data Deficient</option>
                                          <option value="1366" selected="selected">High Threat</option>
                                          <option value="1365">Low Threat</option>
                                          <option value="1367">Very High Threat</option>
                                          <option value="1364">Very Low Threat</option>
                                      </select>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                  </div>
                                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                              </div>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                          </div>
                      </details>
                      <!-- END OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'details' -->
                      <!-- BEGIN OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      {# <details class="required-fields field-group-assessment-tab js-form-wrapper form-wrapper seven-details horizontal-tabs-pane horizontal-tab-hidden" id="protection-management" open="open">
                          <summary role="button" aria-controls="protection-management" aria-expanded="false" aria-pressed="false" class="seven-details__summary">Protection and management</summary>
                          <div class="seven-details__wrapper details-wrapper">
                          </div>
                      </details> #}
                      <!-- END OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'details' -->
                      <!-- BEGIN OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      {# <details class="required-fields field-group-assessment-tab js-form-wrapper form-wrapper seven-details horizontal-tabs-pane horizontal-tab-hidden" id="assessing-values" open="open">
                          <summary role="button" aria-controls="assessing-values" aria-expanded="false" aria-pressed="false" class="seven-details__summary">Assessing values</summary>
                          <div class="seven-details__wrapper details-wrapper">
                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'fieldset' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/fieldset.html.twig' -->
                              <fieldset class="required-fields field-group-fieldset js-form-item form-item js-form-wrapper form-wrapper">
                                  <legend>
                                      <span class="fieldset-legend">Assessment of the current state and trend of World Heritage values</span>
                                  </legend>
                                  <div class="fieldset-wrapper">
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'container' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                      <div class="field--type-string-long field--name-field-as-vass-wh-text field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-vass-wh-text-wrapper" id="edit-field-as-vass-wh-text-wrapper">
                                          <!-- THEME DEBUG -->
                                          <!-- THEME HOOK: 'field_multiple_value_form' -->
                                          <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                                          <!-- THEME DEBUG -->
                                          <!-- THEME HOOK: 'form_element' -->
                                          <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                          <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-field-as-vass-wh-text-0-value form-item-field-as-vass-wh-text-0-value">
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'form_element_label' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <label for="edit-field-as-vass-wh-text-0-value">Justification of assessment</label>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'textarea' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->
                                              <div class="form-textarea-wrapper">
                                                  <textarea class="js-text-full text-full form-textarea resize-vertical" data-drupal-selector="edit-field-as-vass-wh-text-0-value" id="edit-field-as-vass-wh-text-0-value" name="field_as_vass_wh_text[0][value]" rows="5" cols="60" placeholder="">The current state of the World Heritage values appears to be of low concern as no major deterioration has been reported since inscription. The overall trend of most of the values appears stable although a systematic monitoring system for climate change, impacts from military activities and tourism is not operational yet and some trends may thus have escaped detection. In the light of evidence of negative impacts of climate change, military activities and tourism, on some of the values of the property, the lack of an effective monitoring system for this major potential threat leads to an assessment of the trend of the World Heritage values as Data Deficient. </textarea>
                                              </div>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->
                                          </div>
                                          <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                          <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                                      </div>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'container' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                      <div class="field--type-entity-reference field--name-field-as-vass-wh-state field--widget-options-select js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-vass-wh-state-wrapper" id="edit-field-as-vass-wh-state-wrapper">
                                          <!-- THEME DEBUG -->
                                          <!-- THEME HOOK: 'form_element' -->
                                          <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                          <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-as-vass-wh-state form-item-field-as-vass-wh-state">
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'form_element_label' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <label for="edit-field-as-vass-wh-state">Assessment</label>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'select' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                              <select  data-drupal-selector="edit-field-as-vass-wh-state" id="edit-field-as-vass-wh-state" name="field_as_vass_wh_state" class="form-select chosen-disable">
                                                  <option value="_none">- None -</option>
                                                  <option value="1349">Critical</option>
                                                  <option value="1350">Data Deficient</option>
                                                  <option value="1346">Good</option>
                                                  <option value="1348">High Concern</option>
                                                  <option value="1347" selected="selected">Low Concern</option>
                                              </select>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                          </div>
                                          <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                      </div>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'container' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                      <div class="field--type-entity-reference field--name-field-as-vass-wh-trend field--widget-options-select js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-vass-wh-trend-wrapper" id="edit-field-as-vass-wh-trend-wrapper">
                                          <!-- THEME DEBUG -->
                                          <!-- THEME HOOK: 'form_element' -->
                                          <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                          <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-as-vass-wh-trend form-item-field-as-vass-wh-trend">
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'form_element_label' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <label for="edit-field-as-vass-wh-trend">Trend</label>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'select' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                              <select  data-drupal-selector="edit-field-as-vass-wh-trend" id="edit-field-as-vass-wh-trend" name="field_as_vass_wh_trend" class="form-select chosen-disable">
                                                  <option value="_none">- None -</option>
                                                  <option value="1419" selected="selected">Data Deficient</option>
                                                  <option value="1418">Deteriorating</option>
                                                  <option value="1416">Improving</option>
                                                  <option value="1417">Stable</option>
                                              </select>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                          </div>
                                          <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                      </div>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                  </div>
                              </fieldset>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/fieldset.html.twig' -->
                              <!-- THEME DEBUG -->
                              <!-- THEME HOOK: 'fieldset' -->
                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/fieldset.html.twig' -->
                              <fieldset class="required-fields field-group-fieldset js-form-item form-item js-form-wrapper form-wrapper">
                                  <legend>
                                      <span class="fieldset-legend">Assessment of the current state and trend of other important biodiversity values (if applicable)</span>
                                  </legend>
                                  <div class="fieldset-wrapper">
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'container' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                      <div class="field--type-string-long field--name-field-as-vass-bio-text field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-vass-bio-text-wrapper" id="edit-field-as-vass-bio-text-wrapper">
                                          <!-- THEME DEBUG -->
                                          <!-- THEME HOOK: 'field_multiple_value_form' -->
                                          <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                                          <!-- THEME DEBUG -->
                                          <!-- THEME HOOK: 'form_element' -->
                                          <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                          <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-field-as-vass-bio-text-0-value form-item-field-as-vass-bio-text-0-value">
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'form_element_label' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <label for="edit-field-as-vass-bio-text-0-value">Justification of assessment</label>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'textarea' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->
                                              <div class="form-textarea-wrapper">
                                                  <textarea class="js-text-full text-full form-textarea resize-vertical" data-drupal-selector="edit-field-as-vass-bio-text-0-value" id="edit-field-as-vass-bio-text-0-value" name="field_as_vass_bio_text[0][value]" rows="5" cols="60" placeholder=""></textarea>
                                              </div>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/textarea.html.twig' -->
                                          </div>
                                          <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                          <!-- END OUTPUT from 'core/themes/classy/templates/form/field-multiple-value-form.html.twig' -->
                                      </div>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'container' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                      <div class="field--type-entity-reference field--name-field-as-vass-bio-state field--widget-options-select js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-vass-bio-state-wrapper" id="edit-field-as-vass-bio-state-wrapper">
                                          <!-- THEME DEBUG -->
                                          <!-- THEME HOOK: 'form_element' -->
                                          <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                          <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-as-vass-bio-state form-item-field-as-vass-bio-state">
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'form_element_label' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <label for="edit-field-as-vass-bio-state">Assessment</label>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'select' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                              <select  data-drupal-selector="edit-field-as-vass-bio-state" id="edit-field-as-vass-bio-state" name="field_as_vass_bio_state" class="form-select chosen-disable">
                                                  <option value="_none">- None -</option>
                                                  <option value="1349">Critical</option>
                                                  <option value="1350">Data Deficient</option>
                                                  <option value="1346">Good</option>
                                                  <option value="1348">High Concern</option>
                                                  <option value="1347">Low Concern</option>
                                              </select>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                          </div>
                                          <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                      </div>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                      <!-- THEME DEBUG -->
                                      <!-- THEME HOOK: 'container' -->
                                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                      <div class="field--type-entity-reference field--name-field-as-vass-bio-trend field--widget-options-select js-form-wrapper form-wrapper" data-drupal-selector="edit-field-as-vass-bio-trend-wrapper" id="edit-field-as-vass-bio-trend-wrapper">
                                          <!-- THEME DEBUG -->
                                          <!-- THEME HOOK: 'form_element' -->
                                          <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                          <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-as-vass-bio-trend form-item-field-as-vass-bio-trend">
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'form_element_label' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <label for="edit-field-as-vass-bio-trend">Trend</label>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                                              <!-- THEME DEBUG -->
                                              <!-- THEME HOOK: 'select' -->
                                              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                              <select  data-drupal-selector="edit-field-as-vass-bio-trend" id="edit-field-as-vass-bio-trend" name="field_as_vass_bio_trend" class="form-select chosen-disable">
                                                  <option value="_none">- None -</option>
                                                  <option value="1419">Data Deficient</option>
                                                  <option value="1418">Deteriorating</option>
                                                  <option value="1416">Improving</option>
                                                  <option value="1417">Stable</option>
                                              </select>
                                              <!-- END OUTPUT from 'core/themes/classy/templates/form/select.html.twig' -->
                                          </div>
                                          <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                                      </div>
                                      <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
                                  </div>
                              </fieldset>
                              <!-- END OUTPUT from 'core/themes/classy/templates/form/fieldset.html.twig' -->
                          </div>
                      </details> #}
                      <!-- END OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'details' -->
                      <!-- BEGIN OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      {# <details class="required-fields field-group-assessment-tab js-form-wrapper form-wrapper seven-details horizontal-tabs-pane horizontal-tab-hidden" id="conservation-outlook" open="open">
                          <summary role="button" aria-controls="conservation-outlook" aria-expanded="false" aria-pressed="false" class="seven-details__summary">Conservation Outlook</summary>
                          <div class="seven-details__wrapper details-wrapper">
                          </div>
                      </details> #}
                      <!-- END OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'details' -->
                      <!-- BEGIN OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      {# <details class="required-fields field-group-assessment-tab js-form-wrapper form-wrapper seven-details horizontal-tabs-pane horizontal-tab-hidden" id="benefits" open="open">
                          <summary role="button" aria-controls="benefits" aria-expanded="false" aria-pressed="false" class="seven-details__summary">Benefits</summary>
                          <div class="seven-details__wrapper details-wrapper">
                          </div>
                      </details> #}
                      <!-- END OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'details' -->
                      <!-- BEGIN OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      {# <details class="required-fields field-group-assessment-tab js-form-wrapper form-wrapper seven-details horizontal-tabs-pane horizontal-tab-hidden" id="projects" open="open">
                          <summary role="button" aria-controls="projects" aria-expanded="false" aria-pressed="false" class="seven-details__summary">Projects</summary>
                          <div class="seven-details__wrapper details-wrapper">
                          </div>
                      </details> #}
                      <!-- END OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'details' -->
                      <!-- BEGIN OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                      {# <details class="required-fields field-group-assessment-tab js-form-wrapper form-wrapper seven-details horizontal-tabs-pane horizontal-tab-hidden" id="references" open="open">
                          <summary role="button" aria-controls="references" aria-expanded="false" aria-pressed="false" class="seven-details__summary">References</summary>
                          <div class="seven-details__wrapper details-wrapper">
                          </div>
                      </details> #}
                      <!-- END OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
                  </div>
              </div>
              <!-- END OUTPUT from 'modules/iucn/iucn_assessment/templates/assessment-horizontal-tabs.html.twig' -->
          </div>
          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'container' -->
          <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
          <div class="entity-meta js-form-wrapper form-wrapper" data-drupal-selector="edit-advanced" id="edit-advanced">
              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'container' -->
              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
              <div class="entity-meta__header js-form-wrapper form-wrapper" data-drupal-selector="edit-meta" id="edit-meta">
                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'form_element' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                  <div class="entity-meta__title js-form-item form-item js-form-type-item form-type-item js-form-item-meta-published form-item-meta-published form-no-label" id="edit-meta-published">
                      Published
                  </div>
                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'form_element' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                  <div class="entity-meta__last-saved container-inline js-form-item form-item js-form-type-item form-type-item js-form-item-meta-changed form-item-meta-changed" id="edit-meta-changed">
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'form_element_label' -->
                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                      <label for="edit-meta-changed">Last saved</label>
                      <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                      11/21/2017 - 12:28
                  </div>
                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                  <!-- THEME DEBUG -->
                  <!-- THEME HOOK: 'form_element' -->
                  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
                  <div class="entity-meta__author container-inline js-form-item form-item js-form-type-item form-type-item js-form-item-meta-author form-item-meta-author" id="edit-meta-author">
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'form_element_label' -->
                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                      <label for="edit-meta-author">Author</label>
                      <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->
                      Matea.Osti@iucn.org
                  </div>
                  <!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
              </div>
              <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'details' -->
              <!-- BEGIN OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
              <details data-drupal-selector="edit-url-redirects" id="edit-url-redirects" class="js-form-wrapper form-wrapper seven-details">
                  <summary role="button" aria-controls="edit-url-redirects" aria-expanded="false" aria-pressed="false" class="seven-details__summary">URL redirects</summary>
                  <div class="seven-details__wrapper details-wrapper">
                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'table' -->
                      <!-- BEGIN OUTPUT from 'core/themes/classy/templates/dataset/table.html.twig' -->
                      <div class="tableresponsive-toggle-columns"><button type="button" class="link tableresponsive-toggle" title="Show table cells that were hidden to make the table fit within a small screen." style="display: none;">Hide lower priority columns</button></div>
                      <table class="redirect-table responsive-enabled" data-drupal-selector="edit-table" id="edit-table" data-striping="1">
                          <thead>
                              <tr>
                                  <th class="redirect-table__path">From</th>
                                  <th class="redirect-table__operations">Operations</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="odd">
                                  <td colspan="2" class="empty message">No URL redirects available.</td>
                              </tr>
                          </tbody>
                      </table>
                      <!-- END OUTPUT from 'core/themes/classy/templates/dataset/table.html.twig' -->
                  </div>
              </details>
              <!-- END OUTPUT from 'core/themes/seven/templates/details.html.twig' -->
          </div>
          <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'container' -->
          <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
          <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__submit' -->
              <!-- FILE NAME SUGGESTIONS:
     * input--submit.html.twig
     x input.html.twig
  -->
              <!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
              <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Save" class="button button--primary js-form-submit form-submit" disabled>
              <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
              <a href="/node/1751/delete" class="button button--danger" data-drupal-selector="edit-delete" id="edit-delete" hreflang="en" disabled>Delete</a></div>
          <!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
      </div>
  </div>
</div>
